In [1]:
import pandas as pd
import datetime
import csv
import pprint as pprint
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
#import sklearn.datasets as dta
#from scipy.stats import linregress
#from scipy.stats import sem
import json
import requests
import os
from dotenv import load_dotenv
import gzip
# Load .env enviroment variables into the notebook
load_dotenv()
# Get the API key from the environment variable and store as Python variable
census_key = os.getenv("census_api_key")

In [4]:
filepath_rentals = "../data_frames/seattle_rentals_by_zipcodes.csv"
rentalsdf2 = pd.read_csv(filepath_rentals)

In [24]:
rentalsdf2.head()

,2017-01-31,2017-02-28,2017-03-31,2017-04-30,2017-05-31,2017-06-30,2017-07-31,2017-08-31,2017-09-30,2017-10-31,...,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31
Zipcode,,,,,,,,,,,,,,,,,,,,,
98105,1795.596829,1805.759267,1808.325103,1817.931613,1860.535181,1873.473907,1902.286097,1886.023204,1880.032839,1868.660347,...,1892.537398,1922.694269,1941.573381,1988.679520,2047.932486,2095.640518,2137.365357,2147.824928,2118.695960,2111.414994
98115,1662.126268,1710.009494,1743.385958,1763.840412,1764.208300,1774.653202,1773.910435,1791.801588,1811.398625,1808.398599,...,1803.341978,1833.219941,1849.439574,1902.971521,1947.389348,2022.886339,2052.831503,2055.989973,2047.331397,2035.577888
98103,1637.852398,1658.489519,1697.974814,1726.234573,1751.537145,1762.535481,1766.977964,1762.835275,1760.453358,1753.520981,...,1764.327347,1799.394455,1856.380426,1899.402995,1930.272030,1941.599440,1960.737907,1961.246793,1949.732494,1949.859064
98133,1364.583275,1363.169284,1383.853692,1374.801363,1402.695528,1418.913093,1434.096329,1428.192884,1431.654903,1426.450386,...,1504.068720,1502.736650,1523.620837,1556.699588,1615.007699,1636.678858,1661.083376,1643.191883,1645.986102,1659.901992
98118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1429.657421,1462.209199,1485.933307,1518.953129,1568.161635,1615.754044,1643.640320,1654.635230,1621.781512,1624.077736

In [6]:
rentalsdf2 = rentalsdf2.rename(columns={'RegionName': 'Zipcode'})

In [8]:
rentalsdf2 = rentalsdf2.drop(columns='Unnamed: 0')

In [10]:
rentalsdf2 = rentalsdf2.set_index('Zipcode')

In [13]:
cl = list(rentalsdf2.columns)
cl

['City',
 '2015-01-31',
 '2015-02-28',
 '2015-03-31',
 '2015-04-30',
 '2015-05-31',
 '2015-06-30',
 '2015-07-31',
 '2015-08-31',
 '2015-09-30',
 '2015-10-31',
 '2015-11-30',
 '2015-12-31',
 '2016-01-31',
 '2016-02-29',
 '2016-03-31',
 '2016-04-30',
 '2016-05-31',
 '2016-06-30',
 '2016-07-31',
 '2016-08-31',
 '2016-09-30',
 '2016-10-31',
 '2016-11-30',
 '2016-12-31',
 '2017-01-31',
 '2017-02-28',
 '2017-03-31',
 '2017-04-30',
 '2017-05-31',
 '2017-06-30',
 '2017-07-31',
 '2017-08-31',
 '2017-09-30',
 '2017-10-31',
 '2017-11-30',
 '2017-12-31',
 '2018-01-31',
 '2018-02-28',
 '2018-03-31',
 '2018-04-30',
 '2018-05-31',
 '2018-06-30',
 '2018-07-31',
 '2018-08-31',
 '2018-09-30',
 '2018-10-31',
 '2018-11-30',
 '2018-12-31',
 '2019-01-31',
 '2019-02-28',
 '2019-03-31',
 '2019-04-30',
 '2019-05-31',
 '2019-06-30',
 '2019-07-31',
 '2019-08-31',
 '2019-09-30',
 '2019-10-31',
 '2019-11-30',
 '2019-12-31',
 '2020-01-31',
 '2020-02-29',
 '2020-03-31',
 '2020-04-30',
 '2020-05-31',
 '2020-06-30',
 '2020-07-31',
 '2020-08-31',
 '2020-09-30',
 '2020-10-31',
 '2020-11-30',
 '2020-12-31',
 '2021-01-31',
 '2021-02-28',
 '2021-03-31',
 '2021-04-30',
 '2021-05-31',
 '2021-06-30',
 '2021-07-31',
 '2021-08-31',
 '2021-09-30',
 '2021-10-31',
 '2021-11-30',
 '2021-12-31',
 '2022-01-31',
 '2022-02-28',
 '2022-03-31',
 '2022-04-30',
 '2022-05-31',
 '2022-06-30',
 '2022-07-31',
 '2022-08-31',
 '2022-09-30',
 '2022-10-31',
 '2022-11-30',
 '2022-12-31',
 '2023-01-31',
 '2023-02-28',
 '2023-03-31',
 '2023-04-30',
 '2023-05-31',
 '2023-06-30',
 '2023-07-31',
 '2023-08-31',
 '2023-09-30',
 '2023-10-31',
 '2023-11-30',
 '2023-12-31',
 '2024-01-31',
 '2024-02-29']

In [14]:
rentalsdf2 =rentalsdf2[[
    '2017-01-31',
 '2017-02-28',
 '2017-03-31',
 '2017-04-30',
 '2017-05-31',
 '2017-06-30',
 '2017-07-31',
 '2017-08-31',
 '2017-09-30',
 '2017-10-31',
 '2017-11-30',
 '2017-12-31',
 '2018-01-31',
 '2018-02-28',
 '2018-03-31',
 '2018-04-30',
 '2018-05-31',
 '2018-06-30',
 '2018-07-31',
 '2018-08-31',
 '2018-09-30',
 '2018-10-31',
 '2018-11-30',
 '2018-12-31',
 '2019-01-31',
 '2019-02-28',
 '2019-03-31',
 '2019-04-30',
 '2019-05-31',
 '2019-06-30',
 '2019-07-31',
 '2019-08-31',
 '2019-09-30',
 '2019-10-31',
 '2019-11-30',
 '2019-12-31',
 '2020-01-31',
 '2020-02-29',
 '2020-03-31',
 '2020-04-30',
 '2020-05-31',
 '2020-06-30',
 '2020-07-31',
 '2020-08-31',
 '2020-09-30',
 '2020-10-31',
 '2020-11-30',
 '2020-12-31',
 '2021-01-31',
 '2021-02-28',
 '2021-03-31',
 '2021-04-30',
 '2021-05-31',
 '2021-06-30',
 '2021-07-31',
 '2021-08-31',
 '2021-09-30',
 '2021-10-31',
 '2021-11-30',
 '2021-12-31'
]]

In [23]:
rentalsdf2.dtypes

2017-01-31    float64
2017-02-28    float64
2017-03-31    float64
2017-04-30    float64
2017-05-31    float64
2017-06-30    float64
2017-07-31    float64
2017-08-31    float64
2017-09-30    float64
2017-10-31    float64
2017-11-30    float64
2017-12-31    float64
2018-01-31    float64
2018-02-28    float64
2018-03-31    float64
2018-04-30    float64
2018-05-31    float64
2018-06-30    float64
2018-07-31    float64
2018-08-31    float64
2018-09-30    float64
2018-10-31    float64
2018-11-30    float64
2018-12-31    float64
2019-01-31    float64
2019-02-28    float64
2019-03-31    float64
2019-04-30    float64
2019-05-31    float64
2019-06-30    float64
2019-07-31    float64
2019-08-31    float64
2019-09-30    float64
2019-10-31    float64
2019-11-30    float64
2019-12-31    float64
2020-01-31    float64
2020-02-29    float64
2020-03-31    float64
2020-04-30    float64
2020-05-31    float64
2020-06-30    float64
2020-07-31    float64
2020-08-31    float64
2020-09-30    float64
2020-10-31    float64
2020-11-30    float64
2020-12-31    float64
2021-01-31    float64
2021-02-28    float64
2021-03-31    float64
2021-04-30    float64
2021-05-31    float64
2021-06-30    float64
2021-07-31    float64
2021-08-31    float64
2021-09-30    float64
2021-10-31    float64
2021-11-30    float64
2021-12-31    float64
dtype: object

In [18]:
rentalsdf2.columns = pd.to_datetime(rentalsdf2.columns)

In [26]:
rentalsdf2_quarterly = rentalsdf2.resample('Q', axis=1).mean()

/var/folders/58/j89y2_691mz0dzk3rc7p_08h0000gp/T/ipykernel_66727/471262561.py:1: FutureWarning: DataFrame.resample with axis=1 is deprecated. Do `frame.T.resample(...)` without axis instead.
  rentalsdf2_quarterly = rentalsdf2.resample('Q', axis=1).mean()

In [28]:
rentalsdf2_quarterly.columns = rentalsdf2_quarterly.columns.to_period('Q').strftime('%Y-Q%q')

In [29]:
rentalsdf2_quarterly

,2017-Q1,2017-Q2,2017-Q3,2017-Q4,2018-Q1,2018-Q2,2018-Q3,2018-Q4,2019-Q1,2019-Q2,2019-Q3,2019-Q4,2020-Q1,2020-Q2,2020-Q3,2020-Q4,2021-Q1,2021-Q2,2021-Q3,2021-Q4
Zipcode,,,,,,,,,,,,,,,,,,,,
98105,1803.227066,1850.646900,1889.447380,1872.941041,1855.456766,1931.144372,1962.025562,1909.126985,1923.065864,1982.204503,2007.859793,1969.179699,1988.221904,2010.817096,1987.144514,1876.026827,1851.214034,1950.982390,2093.646120,2125.978628
98115,1705.173907,1767.567305,1792.370216,1775.864634,1768.409434,1810.008053,1830.627852,1807.416822,1802.423457,1854.224565,1881.106350,1875.036652,1898.948429,1904.345494,1909.727892,1828.118360,1792.959255,1861.877012,2007.702396,2046.299753
98103,1664.772244,1746.769066,1763.422199,1752.324527,1770.165815,1792.349106,1820.734195,1789.206306,1793.185150,1825.717956,1864.735357,1857.160138,1887.419868,1888.426540,1885.380880,1806.813093,1762.255015,1851.725959,1944.203126,1953.612783
98133,1370.535417,1398.803328,1431.314705,1425.661411,1429.606404,1444.029558,1476.337927,1457.967321,1457.826854,1498.782832,1509.931683,1524.821405,1537.460382,1557.503190,1557.577956,1541.975615,1520.663868,1527.685692,1637.589978,1649.693326
98118,NaN,NaN,NaN,NaN,1398.541862,1421.715935,1432.669058,1433.458839,1428.795034,1488.327257,1508.140684,1504.201098,1506.445181,1538.633553,1541.912816,1435.536701,1420.589363,1489.031878,1609.185333,1633.498159
98125,1469.211062,1484.983574,1534.440793,1509.479313,1535.466952,1560.352438,1588.919165,1558.985749,1570.263987,1580.204676,1619.149553,1605.317286,1617.899681,1652.799382,1655.093674,1609.796829,1569.927009,1607.213137,1734.485010,1767.695362
98122,1715.163908,1787.381162,1819.813889,1799.971924,1786.840390,1831.637018,1854.180349,1810.498746,1840.079384,1859.305049,1909.594382,1898.938525,1916.011883,1919.330131,1870.358964,1690.068264,1628.107029,1750.532750,1941.096321,1958.901355
98117,1608.915186,1706.894629,1710.449947,1658.019326,1686.757251,1735.568552,1743.225789,1724.823392,1711.148542,1769.306009,1793.860773,1779.729888,1816.595445,1808.747832,1840.144983,1785.753120,1774.969235,1821.052481,1917.852293,1954.217882
98155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1769.244996,1758.318764,1806.743929,1784.749747,1780.364981,1835.943147,1879.780289,1928.415517
98198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1542.045254,1507.564236,1528.985630,1516.633914,1531.731876,1581.273201,1619.192828,1580.339067,1631.327988,1641.838175,1699.355932,1729.604522
98168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1638.953226,1693.970375
98109,2025.176703,2114.081746,2151.551394,2095.404340,2042.698900,2093.932790,2117.196809,2078.862924,2089.258541,2160.051235,2217.048413,2201.017013,2238.295768,2222.382753,2136.180140,1945.958700,1868.516794,2058.465839,2294.221657,2272.201502
98146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98144,1569.030317,1603.778299,1615.914898,1608.745651,1617.859179,1672.716154,1680.515854,1682.171778,1693.506721,1712.082635,1732.728920,1744.902029,1789.802196,1820.305472,1825.766513,1738.572656,1667.228792,1771.970118,1887.344344,1917.132300
98188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500.781855,1549.988949,1687.474170,1728.563791
98107,1752.714944,1834.501717,1892.443081,1850.465088,1833.633392,1869.151832,1892.939386,1888.203686,1869.125477,1935.573094,1947.887118,1920.388535,1971.975835,2000.365088,1970.468857,1822.506077,1784.850070,1868.716317,2042.880098,2058.575220
98106,NaN,NaN,NaN,NaN,1823.402524,1874.821298,1871.935176,1889.634461,1938.509429,1957.395901,1974.488903,1953.261465,2030.680949,2034.621310,1959.439313,1848.503621,1900.583116,2006.933519,2116.091432,2126.846561
98178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98116,1626.188769,1688.198158,1692.244808,1713.415301,1711.752252,1763.469497,1782.219742,1765.481706,1772.090265,1795.091480,1821.552929,1842.368456,1876.102289,1865.542986,1761.860645,1705.974341,1667.222505,1730.497349,1839.065255,1899.631944
98108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2133.184841
98112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2032.079248,2091.996836,2103.437688,2056.559928,2124.096965,2146.385536,2137.156161,2018.771270,1955.616041,2079.936975,2197.298166,2274.700529
98119,1641.011604,1727.033192,1738.291876,1731.520857,1709.999201,1777.566674,1779.801937,1760.737773,1771.972235,1837.109629,1851.268703,1831.122139,1851.638542,1868.818855,1816.523145,1710.486463,1660.434716,1749.614531,1880.580961,1948.131496
98126,NaN,NaN,NaN,NaN,1598.068862,1584.870403,1633.706097,1672.435632,1684.469061,1683.131315,1731.532034,1708.955936,1746.980551,1746.200246,1663.084187,1591.731564,1613.380375,1662.925113,1706.245807,1765.655702
98199,1860.178325,1902.563346,1926.377683,1928.900369,1912.987299,1975.652033,1970.051301,1994.434623,2013.592378,2035.713736,2079.644138,2082.134922,2107.281083,2131.841427,2143.434971,2113.706407,2095.329837,2159.222556,2251.276982,2274.861231
98102,1688.090274,1760.131737,1823.651067,1756.842796,1751.981780,1775.290916,1807.736735,1767.892615,1784.189724,1829.501493,1858.999816,1836.439894,1852.804269,1842.841688,1830.347626,1672.026227,1637.987051,1685.909936,1829.320280,1866.287016
98166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98121,2312.199887,2382.028042,2390.411393,2339.167083,2315.413221,2394.379853,2382.859557,2353.596375,2385.768476,2439.816669,2473.950146,2471.203365,2519.313995,2494.497342,2330.873950,2103.241860,2108.554123,2289.062927,2553.596524,2476.372162
98136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1848.526206,1830.865719,1876.702081,1942.879168,1905.148472,1934.128065,1931.105356,1950.944275,1899.389739,1897.000684,1937.556594,2014.673712,2064.738217
98101,2117.907545,2274.782654,2299.772760,2200.845202,2184.337516,2277.021959,2342.475233,2260.777931,2268.619762,2357.052247,2421.288219,2397.317756,2447.889082,2474.433164,2327.373064,2108.235728,2084.417542,2255.987186,2470.646826,2480.873539
98104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1830.758456,1858.367503,1920.960843,1921.860520,1930.908740,1909.782215,1801.902519,1626.088578,1546.051376,1701.534310,1885.939105,1898.726416

In [30]:
rentalsdf2_quarterly = rentalsdf2_quarterly.dropna()

In [31]:
rentalsdf2_quarterly

,2017-Q1,2017-Q2,2017-Q3,2017-Q4,2018-Q1,2018-Q2,2018-Q3,2018-Q4,2019-Q1,2019-Q2,2019-Q3,2019-Q4,2020-Q1,2020-Q2,2020-Q3,2020-Q4,2021-Q1,2021-Q2,2021-Q3,2021-Q4
Zipcode,,,,,,,,,,,,,,,,,,,,
98105,1803.227066,1850.646900,1889.447380,1872.941041,1855.456766,1931.144372,1962.025562,1909.126985,1923.065864,1982.204503,2007.859793,1969.179699,1988.221904,2010.817096,1987.144514,1876.026827,1851.214034,1950.982390,2093.646120,2125.978628
98115,1705.173907,1767.567305,1792.370216,1775.864634,1768.409434,1810.008053,1830.627852,1807.416822,1802.423457,1854.224565,1881.106350,1875.036652,1898.948429,1904.345494,1909.727892,1828.118360,1792.959255,1861.877012,2007.702396,2046.299753
98103,1664.772244,1746.769066,1763.422199,1752.324527,1770.165815,1792.349106,1820.734195,1789.206306,1793.185150,1825.717956,1864.735357,1857.160138,1887.419868,1888.426540,1885.380880,1806.813093,1762.255015,1851.725959,1944.203126,1953.612783
98133,1370.535417,1398.803328,1431.314705,1425.661411,1429.606404,1444.029558,1476.337927,1457.967321,1457.826854,1498.782832,1509.931683,1524.821405,1537.460382,1557.503190,1557.577956,1541.975615,1520.663868,1527.685692,1637.589978,1649.693326
98125,1469.211062,1484.983574,1534.440793,1509.479313,1535.466952,1560.352438,1588.919165,1558.985749,1570.263987,1580.204676,1619.149553,1605.317286,1617.899681,1652.799382,1655.093674,1609.796829,1569.927009,1607.213137,1734.485010,1767.695362
98122,1715.163908,1787.381162,1819.813889,1799.971924,1786.840390,1831.637018,1854.180349,1810.498746,1840.079384,1859.305049,1909.594382,1898.938525,1916.011883,1919.330131,1870.358964,1690.068264,1628.107029,1750.532750,1941.096321,1958.901355
98117,1608.915186,1706.894629,1710.449947,1658.019326,1686.757251,1735.568552,1743.225789,1724.823392,1711.148542,1769.306009,1793.860773,1779.729888,1816.595445,1808.747832,1840.144983,1785.753120,1774.969235,1821.052481,1917.852293,1954.217882
98109,2025.176703,2114.081746,2151.551394,2095.404340,2042.698900,2093.932790,2117.196809,2078.862924,2089.258541,2160.051235,2217.048413,2201.017013,2238.295768,2222.382753,2136.180140,1945.958700,1868.516794,2058.465839,2294.221657,2272.201502
98144,1569.030317,1603.778299,1615.914898,1608.745651,1617.859179,1672.716154,1680.515854,1682.171778,1693.506721,1712.082635,1732.728920,1744.902029,1789.802196,1820.305472,1825.766513,1738.572656,1667.228792,1771.970118,1887.344344,1917.132300
98107,1752.714944,1834.501717,1892.443081,1850.465088,1833.633392,1869.151832,1892.939386,1888.203686,1869.125477,1935.573094,1947.887118,1920.388535,1971.975835,2000.365088,1970.468857,1822.506077,1784.850070,1868.716317,2042.880098,2058.575220
98116,1626.188769,1688.198158,1692.244808,1713.415301,1711.752252,1763.469497,1782.219742,1765.481706,1772.090265,1795.091480,1821.552929,1842.368456,1876.102289,1865.542986,1761.860645,1705.974341,1667.222505,1730.497349,1839.065255,1899.631944
98119,1641.011604,1727.033192,1738.291876,1731.520857,1709.999201,1777.566674,1779.801937,1760.737773,1771.972235,1837.109629,1851.268703,1831.122139,1851.638542,1868.818855,1816.523145,1710.486463,1660.434716,1749.614531,1880.580961,1948.131496
98199,1860.178325,1902.563346,1926.377683,1928.900369,1912.987299,1975.652033,1970.051301,1994.434623,2013.592378,2035.713736,2079.644138,2082.134922,2107.281083,2131.841427,2143.434971,2113.706407,2095.329837,2159.222556,2251.276982,2274.861231
98102,1688.090274,1760.131737,1823.651067,1756.842796,1751.981780,1775.290916,1807.736735,1767.892615,1784.189724,1829.501493,1858.999816,1836.439894,1852.804269,1842.841688,1830.347626,1672.026227,1637.987051,1685.909936,1829.320280,1866.287016
98121,2312.199887,2382.028042,2390.411393,2339.167083,2315.413221,2394.379853,2382.859557,2353.596375,2385.768476,2439.816669,2473.950146,2471.203365,2519.313995,2494.497342,2330.873950,2103.241860,2108.554123,2289.062927,2553.596524,2476.372162
98101,2117.907545,2274.782654,2299.772760,2200.845202,2184.337516,2277.021959,2342.475233,2260.777931,2268.619762,2357.052247,2421.288219,2397.317756,2447.889082,2474.433164,2327.373064,2108.235728,2084.417542,2255.987186,2470.646826,2480.873539

In [74]:
list(rentalsdf2_quarterly.index)

[98105,
 98115,
 98103,
 98133,
 98125,
 98122,
 98117,
 98109,
 98144,
 98107,
 98116,
 98119,
 98199,
 98102,
 98121,
 98101]

In [32]:
# Save the data as dataframe and keep the index for zipcodes
rentalsdf2_quarterly.to_csv("../data_frames/df2_rental_by_quarter.csv", index=True)

In [75]:
# Import from CSV
df2_imported = pd.read_csv("../data_frames/df2_rental_by_quarter.csv", index_col=0)
df2_imported

,2017-Q1,2017-Q2,2017-Q3,2017-Q4,2018-Q1,2018-Q2,2018-Q3,2018-Q4,2019-Q1,2019-Q2,2019-Q3,2019-Q4,2020-Q1,2020-Q2,2020-Q3,2020-Q4,2021-Q1,2021-Q2,2021-Q3,2021-Q4
Zipcode,,,,,,,,,,,,,,,,,,,,
98105,1803.227066,1850.646900,1889.447380,1872.941041,1855.456766,1931.144372,1962.025562,1909.126985,1923.065864,1982.204503,2007.859793,1969.179699,1988.221904,2010.817096,1987.144514,1876.026827,1851.214034,1950.982390,2093.646120,2125.978628
98115,1705.173907,1767.567305,1792.370216,1775.864634,1768.409434,1810.008053,1830.627852,1807.416822,1802.423457,1854.224565,1881.106350,1875.036652,1898.948429,1904.345494,1909.727892,1828.118360,1792.959255,1861.877012,2007.702396,2046.299753
98103,1664.772244,1746.769066,1763.422199,1752.324527,1770.165815,1792.349106,1820.734195,1789.206306,1793.185150,1825.717956,1864.735357,1857.160138,1887.419868,1888.426540,1885.380880,1806.813093,1762.255015,1851.725959,1944.203126,1953.612783
98133,1370.535417,1398.803328,1431.314705,1425.661411,1429.606404,1444.029558,1476.337927,1457.967321,1457.826854,1498.782832,1509.931683,1524.821405,1537.460382,1557.503190,1557.577956,1541.975615,1520.663868,1527.685692,1637.589978,1649.693326
98125,1469.211062,1484.983574,1534.440793,1509.479313,1535.466952,1560.352438,1588.919165,1558.985749,1570.263987,1580.204676,1619.149553,1605.317286,1617.899681,1652.799382,1655.093674,1609.796829,1569.927009,1607.213137,1734.485010,1767.695362
98122,1715.163908,1787.381162,1819.813889,1799.971924,1786.840390,1831.637018,1854.180349,1810.498746,1840.079384,1859.305049,1909.594382,1898.938525,1916.011883,1919.330131,1870.358964,1690.068264,1628.107029,1750.532750,1941.096321,1958.901355
98117,1608.915186,1706.894629,1710.449947,1658.019326,1686.757251,1735.568552,1743.225789,1724.823392,1711.148542,1769.306009,1793.860773,1779.729888,1816.595445,1808.747832,1840.144983,1785.753120,1774.969235,1821.052481,1917.852293,1954.217882
98109,2025.176703,2114.081746,2151.551394,2095.404340,2042.698900,2093.932790,2117.196809,2078.862924,2089.258541,2160.051235,2217.048413,2201.017013,2238.295768,2222.382753,2136.180140,1945.958700,1868.516794,2058.465839,2294.221657,2272.201502
98144,1569.030317,1603.778299,1615.914898,1608.745651,1617.859179,1672.716154,1680.515854,1682.171778,1693.506721,1712.082635,1732.728920,1744.902029,1789.802196,1820.305472,1825.766513,1738.572656,1667.228792,1771.970118,1887.344344,1917.132300
98107,1752.714944,1834.501717,1892.443081,1850.465088,1833.633392,1869.151832,1892.939386,1888.203686,1869.125477,1935.573094,1947.887118,1920.388535,1971.975835,2000.365088,1970.468857,1822.506077,1784.850070,1868.716317,2042.880098,2058.575220
98116,1626.188769,1688.198158,1692.244808,1713.415301,1711.752252,1763.469497,1782.219742,1765.481706,1772.090265,1795.091480,1821.552929,1842.368456,1876.102289,1865.542986,1761.860645,1705.974341,1667.222505,1730.497349,1839.065255,1899.631944
98119,1641.011604,1727.033192,1738.291876,1731.520857,1709.999201,1777.566674,1779.801937,1760.737773,1771.972235,1837.109629,1851.268703,1831.122139,1851.638542,1868.818855,1816.523145,1710.486463,1660.434716,1749.614531,1880.580961,1948.131496
98199,1860.178325,1902.563346,1926.377683,1928.900369,1912.987299,1975.652033,1970.051301,1994.434623,2013.592378,2035.713736,2079.644138,2082.134922,2107.281083,2131.841427,2143.434971,2113.706407,2095.329837,2159.222556,2251.276982,2274.861231
98102,1688.090274,1760.131737,1823.651067,1756.842796,1751.981780,1775.290916,1807.736735,1767.892615,1784.189724,1829.501493,1858.999816,1836.439894,1852.804269,1842.841688,1830.347626,1672.026227,1637.987051,1685.909936,1829.320280,1866.287016
98121,2312.199887,2382.028042,2390.411393,2339.167083,2315.413221,2394.379853,2382.859557,2353.596375,2385.768476,2439.816669,2473.950146,2471.203365,2519.313995,2494.497342,2330.873950,2103.241860,2108.554123,2289.062927,2553.596524,2476.372162
98101,2117.907545,2274.782654,2299.772760,2200.845202,2184.337516,2277.021959,2342.475233,2260.777931,2268.619762,2357.052247,2421.288219,2397.317756,2447.889082,2474.433164,2327.373064,2108.235728,2084.417542,2255.987186,2470.646826,2480.873539

In [34]:
# Convert the quarter column names back to datetime (if needed for further processing)
df2_imported.columns = pd.to_datetime(df2_imported.columns.str.replace(r'(Q\d)', r'-\1'), errors='coerce')

print(df2_imported)

          2017-01-01   2017-04-01   2017-07-01   2017-10-01   2018-01-01  \
Zipcode
98105    1803.227066  1850.646900  1889.447380  1872.941041  1855.456766
98115    1705.173907  1767.567305  1792.370216  1775.864634  1768.409434
98103    1664.772244  1746.769066  1763.422199  1752.324527  1770.165815
98133    1370.535417  1398.803328  1431.314705  1425.661411  1429.606404
98125    1469.211062  1484.983574  1534.440793  1509.479313  1535.466952
98122    1715.163908  1787.381162  1819.813889  1799.971924  1786.840390
98117    1608.915186  1706.894629  1710.449947  1658.019326  1686.757251
98109    2025.176703  2114.081746  2151.551394  2095.404340  2042.698900
98144    1569.030317  1603.778299  1615.914898  1608.745651  1617.859179
98107    1752.714944  1834.501717  1892.443081  1850.465088  1833.633392
98116    1626.188769  1688.198158  1692.244808  1713.415301  1711.752252
98119    1641.011604  1727.033192  1738.291876  1731.520857  1709.999201
98199    1860.178325  1902.563346  1926.377683  1928.900369  1912.987299
98102    1688.090274  1760.131737  1823.651067  1756.842796  1751.981780
98121    2312.199887  2382.028042  2390.411393  2339.167083  2315.413221
98101    2117.907545  2274.782654  2299.772760  2200.845202  2184.337516

          2018-04-01   2018-07-01   2018-10-01   2019-01-01   2019-04-01  \
Zipcode
98105    1931.144372  1962.025562  1909.126985  1923.065864  1982.204503
98115    1810.008053  1830.627852  1807.416822  1802.423457  1854.224565
98103    1792.349106  1820.734195  1789.206306  1793.185150  1825.717956
98133    1444.029558  1476.337927  1457.967321  1457.826854  1498.782832
98125    1560.352438  1588.919165  1558.985749  1570.263987  1580.204676
98122    1831.637018  1854.180349  1810.498746  1840.079384  1859.305049
98117    1735.568552  1743.225789  1724.823392  1711.148542  1769.306009
98109    2093.932790  2117.196809  2078.862924  2089.258541  2160.051235
98144    1672.716154  1680.515854  1682.171778  1693.506721  1712.082635
98107    1869.151832  1892.939386  1888.203686  1869.125477  1935.573094
98116    1763.469497  1782.219742  1765.481706  1772.090265  1795.091480
98119    1777.566674  1779.801937  1760.737773  1771.972235  1837.109629
98199    1975.652033  1970.051301  1994.434623  2013.592378  2035.713736
98102    1775.290916  1807.736735  1767.892615  1784.189724  1829.501493
98121    2394.379853  2382.859557  2353.596375  2385.768476  2439.816669
98101    2277.021959  2342.475233  2260.777931  2268.619762  2357.052247

          2019-07-01   2019-10-01   2020-01-01   2020-04-01   2020-07-01  \
Zipcode
98105    2007.859793  1969.179699  1988.221904  2010.817096  1987.144514
98115    1881.106350  1875.036652  1898.948429  1904.345494  1909.727892
98103    1864.735357  1857.160138  1887.419868  1888.426540  1885.380880
98133    1509.931683  1524.821405  1537.460382  1557.503190  1557.577956
98125    1619.149553  1605.317286  1617.899681  1652.799382  1655.093674
98122    1909.594382  1898.938525  1916.011883  1919.330131  1870.358964
98117    1793.860773  1779.729888  1816.595445  1808.747832  1840.144983
98109    2217.048413  2201.017013  2238.295768  2222.382753  2136.180140
98144    1732.728920  1744.902029  1789.802196  1820.305472  1825.766513
98107    1947.887118  1920.388535  1971.975835  2000.365088  1970.468857
98116    1821.552929  1842.368456  1876.102289  1865.542986  1761.860645
98119    1851.268703  1831.122139  1851.638542  1868.818855  1816.523145
98199    2079.644138  2082.134922  2107.281083  2131.841427  2143.434971
98102    1858.999816  1836.439894  1852.804269  1842.841688  1830.347626
98121    2473.950146  2471.203365  2519.313995  2494.497342  2330.873950
98101    2421.288219  2397.317756  2447.889082  2474.433164  2327.373064

          2020-10-01   2021-01-01   2021-04-01   2021-07-01   2021-10-01
Zipcode
98105    1876.026827  1851.214034  1950.982390  2093.646120  2125.978628
98115    1828.118360  1792.959255  1861.877012  2007.702396  2046.299753
98103    1806.813093  1762.255015  1851.725959  1944.203126  1953.612783
98133    1541.975615  1520.663868  1527.685692  1637.589978  1649.693326
98125    1609.796829  1569.927009  1607.213137  1734.485010  1767.695362
98122    1690.068264  1628.107029  1750.532750  1941.096321  1958.901355
98117    1785.753120  1774.969235  1821.052481  1917.852293  1954.217882
98109    1945.958700  1868.516794  2058.465839  2294.221657  2272.201502
98144    1738.572656  1667.228792  1771.970118  1887.344344  1917.132300
98107    1822.506077  1784.850070  1868.716317  2042.880098  2058.575220
98116    1705.974341  1667.222505  1730.497349  1839.065255  1899.631944
98119    1710.486463  1660.434716  1749.614531  1880.580961  1948.131496
98199    2113.706407  2095.329837  2159.222556  2251.276982  2274.861231
98102    1672.026227  1637.987051  1685.909936  1829.320280  1866.287016
98121    2103.241860  2108.554123  2289.062927  2553.596524  2476.372162
98101    2108.235728  2084.417542  2255.987186  2470.646826  2480.873539

/var/folders/58/j89y2_691mz0dzk3rc7p_08h0000gp/T/ipykernel_66727/536839988.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df2_imported.columns = pd.to_datetime(df2_imported.columns.str.replace(r'(Q\d)', r'-\1'), errors='coerce')

In [ ]:
# Average Cost for Each Quarter

In [61]:
quarterly_averages = rentalsdf2_quarterly.mean()
quarterly_averages.to_frame('Avg Price all Zipcodes')

         Avg Price all Zipcodes
2017-Q1             1745.593572
2017-Q2             1814.384053
2017-Q3             1841.994881
2017-Q4             1813.723054
2018-Q1             1807.085360
2018-Q2             1856.516925
2018-Q3             1876.990462
2018-Q4             1850.636546
2019-Q1             1859.132301
2019-Q2             1904.483613
2019-Q3             1936.912893
2019-Q4             1927.317356
2020-Q1             1957.353791
2020-Q2             1966.437403
2020-Q3             1928.016111
2020-Q4             1816.203786
2021-Q1             1779.664805
2021-Q2             1871.282261
2021-Q3             2020.344261
2021-Q4             2040.654094

In [72]:
# Save the data and keep the index for quarters
quarterly_averages.to_csv("../data_frames/quarterly_rental_AVG.csv", index=True)

In [ ]:
# Average Cost for Each ZIP Code

In [67]:
zipcode_averages = rentalsdf2_quarterly.mean(axis=1)
zipcode_averages = zipcode_averages.to_frame(name='Avg price per Zipcode 2017-2021')
zipcode_averages

         Avg price per Zipcode 2017-2021
Zipcode
98105                        1942.017872
98115                        1846.010392
98103                        1821.018966
98133                        1497.788443
98125                        1591.584232
98122                        1829.390571
98117                        1767.401628
98109                        2121.125198
98144                        1717.603741
98107                        1900.368246
98116                        1765.998534
98119                        1782.183226
98199                        2047.959232
98102                        1782.913647
98121                        2375.815348
98101                        2302.602746

In [73]:
# Save the data and keep the index for zipcodes
zipcode_averages.to_csv("../data_frames/zipcode_rental_AVG.csv", index=True)

In [69]:
top_zipcodes = zipcode_averages_df.nlargest(5, 'Avg price per Zipcode')

bottom_zipcodes = zipcode_averages_df.nsmallest(5, 'Avg price per Zipcode')

In [70]:
top_zipcodes

         Avg price per Zipcode
Zipcode
98121              2375.815348
98101              2302.602746
98109              2121.125198
98199              2047.959232
98105              1942.017872

In [71]:
bottom_zipcodes

         Avg price per Zipcode
Zipcode
98133              1497.788443
98125              1591.584232
98144              1717.603741
98116              1765.998534
98117              1767.401628

In [38]:
filepath_wzip = "../greg/WA_income_zp_y17_21/17zp48wa.csv"
wzip = pd.read_csv(filepath_wzip)

In [39]:
wzip.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Number of returns.60,Amount.60,Number of returns.61,Amount.61,Number of returns.62,Amount.62,Number of returns.63,Amount.63,Number of returns.64,Amount.64
0,00000,Total,"3,523,830","1,701,350","1,395,810","377,750","3,102,190","203,070","1,437,800","2,164,220",...,"137,900","639,018","793,120","5,246,659","2,644,510","9,037,763","2,564,850","7,196,702","97,380","1,783,620"
1,00000,"$1 under $25,000",973730,726850,110780,123850,833450,61800,334650,617880,...,20,180,96840,84694,805000,1409932,799160,1394809,6490,9917
2,00000,"$25,000 under $50,000",836560,486020,189820,145800,741270,45500,309430,597310,...,0,0,129520,209317,700640,1693136,693060,1670311,10350,20768
3,00000,"$50,000 under $75,000",529490,243350,219110,57990,466990,29520,218290,345380,...,20,24,125830,297296,402170,1076352,393220,1045720,12180,31846
4,00000,"$75,000 under $100,000",364060,111180,222600,25080,322460,19660,158930,226750,...,20,7,98450,294592,263720,850913,255070,812591,10040,33996

In [42]:
# Define the columns you want to load from the CSV file
columns_needed = [0, 1, 2, 18]

# Load the data with only the specified columns
df = pd.read_csv(filepath_wzip, header=None, usecols=columns_needed)

# Rename the columns for easier access
df.columns = ['Zipcode', 'Description', 'Total Population', 'Adjusted Gross Income']

# Initializing a dictionary to store the data
zipcodedict = {"Zipcode": [],
               "Description": [],
                "Total Population": [],
               "Adjusted Gross Income": []}

# Use df.iterrows() to iterate over DataFrame rows
for index, row in df.iterrows():
    # Check if the zipcode is already in the dictionary
    if row['Zipcode'] not in zipcodedict['Zipcode']:
        zipcodedict['Zipcode'].append(row['Zipcode'])
        zipcodedict['Description'].append(row['Description'])
        zipcodedict['Total Population'].append(row['Total Population'])
        zipcodedict['Adjusted Gross Income'].append(row['Adjusted Gross Income'])

# Create DataFrame from dictionary
df_reduced = pd.DataFrame(zipcodedict)

# Display the first few rows of the DataFrame to check
print(df_reduced.head())

  Zipcode Description Total Population Adjusted Gross Income
0     NaN         NaN              NaN                   NaN
1   00000       Total        3,523,830           296,774,205
2   98001         NaN           16,650             1,193,998
3   98002         NaN           16,220               770,555
4   98003         NaN           22,350             1,253,905

In [43]:
list(df_reduced['Zipcode'])

[nan,
 '00000',
 '98001',
 '98002',
 '98003',
 '98004',
 '98005',
 '98006',
 '98007',
 '98008',
 '98010',
 '98011',
 '98012',
 '98014',
 '98019',
 '98020',
 '98021',
 '98022',
 '98023',
 '98024',
 '98026',
 '98027',
 '98028',
 '98029',
 '98030',
 '98031',
 '98032',
 '98033',
 '98034',
 '98036',
 '98037',
 '98038',
 '98039',
 '98040',
 '98042',
 '98043',
 '98045',
 '98047',
 '98051',
 '98052',
 '98053',
 '98055',
 '98056',
 '98057',
 '98058',
 '98059',
 '98065',
 '98070',
 '98072',
 '98074',
 '98075',
 '98077',
 '98087',
 '98092',
 '98101',
 '98102',
 '98103',
 '98104',
 '98105',
 '98106',
 '98107',
 '98108',
 '98109',
 '98110',
 '98112',
 '98115',
 '98116',
 '98117',
 '98118',
 '98119',
 '98121',
 '98122',
 '98125',
 '98126',
 '98133',
 '98134',
 '98136',
 '98144',
 '98146',
 '98148',
 '98155',
 '98164',
 '98166',
 '98168',
 '98177',
 '98178',
 '98188',
 '98198',
 '98199',
 '98201',
 '98203',
 '98204',
 '98208',
 '98220',
 '98221',
 '98223',
 '98225',
 '98226',
 '98229',
 '98230',
 '98232',
 '98233',
 '98236',
 '98237',
 '98239',
 '98240',
 '98241',
 '98244',
 '98245',
 '98247',
 '98248',
 '98249',
 '98250',
 '98251',
 '98252',
 '98253',
 '98257',
 '98258',
 '98260',
 '98261',
 '98262',
 '98264',
 '98266',
 '98267',
 '98270',
 '98271',
 '98272',
 '98273',
 '98274',
 '98275',
 '98276',
 '98277',
 '98279',
 '98281',
 '98282',
 '98283',
 '98284',
 '98290',
 '98292',
 '98294',
 '98295',
 '98296',
 '98303',
 '98304',
 '98305',
 '98310',
 '98311',
 '98312',
 '98315',
 '98320',
 '98321',
 '98323',
 '98325',
 '98326',
 '98327',
 '98328',
 '98329',
 '98330',
 '98331',
 '98332',
 '98333',
 '98335',
 '98336',
 '98337',
 '98338',
 '98339',
 '98340',
 '98342',
 '98346',
 '98349',
 '98351',
 '98354',
 '98355',
 '98356',
 '98358',
 '98359',
 '98360',
 '98361',
 '98362',
 '98363',
 '98365',
 '98366',
 '98367',
 '98368',
 '98370',
 '98371',
 '98372',
 '98373',
 '98374',
 '98375',
 '98376',
 '98377',
 '98380',
 '98381',
 '98382',
 '98383',
 '98387',
 '98388',
 '98390',
 '98391',
 '98392',
 '98394',
 '98402',
 '98403',
 '98404',
 '98405',
 '98406',
 '98407',
 '98408',
 '98409',
 '98418',
 '98422',
 '98424',
 '98433',
 '98438',
 '98439',
 '98443',
 '98444',
 '98445',
 '98446',
 '98465',
 '98466',
 '98467',
 '98498',
 '98499',
 '98501',
 '98502',
 '98503',
 '98506',
 '98512',
 '98513',
 '98516',
 '98520',
 '98524',
 '98526',
 '98528',
 '98531',
 '98532',
 '98533',
 '98535',
 '98537',
 '98538',
 '98541',
 '98542',
 '98546',
 '98547',
 '98548',
 '98550',
 '98552',
 '98555',
 '98557',
 '98560',
 '98563',
 '98564',
 '98568',
 '98569',
 '98570',
 '98572',
 '98576',
 '98577',
 '98579',
 '98580',
 '98581',
 '98582',
 '98584',
 '98585',
 '98586',
 '98588',
 '98589',
 '98590',
 '98591',
 '98592',
 '98593',
 '98595',
 '98596',
 '98597',
 '98601',
 '98603',
 '98604',
 '98605',
 '98606',
 '98607',
 '98610',
 '98611',
 '98612',
 '98613',
 '98616',
 '98619',
 '98620',
 '98624',
 '98625',
 '98626',
 '98628',
 '98629',
 '98631',
 '98632',
 '98635',
 '98638',
 '98640',
 '98642',
 '98643',
 '98645',
 '98647',
 '98648',
 '98649',
 '98650',
 '98651',
 '98660',
 '98661',
 '98662',
 '98663',
 '98664',
 '98665',
 '98671',
 '98672',
 '98674',
 '98675',
 '98682',
 '98683',
 '98684',
 '98685',
 '98686',
 '98801',
 '98802',
 '98812',
 '98813',
 '98814',
 '98815',
 '98816',
 '98822',
 '98823',
 '98826',
 '98827',
 '98828',
 '98830',
 '98831',
 '98832',
 '98837',
 '98840',
 '98841',
 '98843',
 '98844',
 '98846',
 '98847',
 '98848',
 '98849',
 '98850',
 '98851',
 '98855',
 '98856',
 '98857',
 '98858',
 '98862',
 '98901',
 '98902',
 '98903',
 '98908',
 '98922',
 '98923',
 '98926',
 '98930',
 '98932',
 '98933',
 '98935',
 '98936',
 '98937',
 '98938',
 '98942',
 '98944',
 '98946',
 '98947',
 '98948',
 '98951',
 '98952',
 '98953',
 '99001',
 '99003',
 '99004',
 '99005',
 '99006',
 '99008',
 '99009',
 '99011',
 '99012',
 '99013',
 '99016',
 '99018',
 '99019',
 '99021',
 '99022',
 '99023',
 '99025',
 '99026',
 '99027',
 '99029',
 '99030',
 '99031',
 '99032',
 '99033',
 '99034',
 '99036',
 '99037',
 '99040',
 '99101',
 '99103',
 '99109',
 '99110',
 '99111',
 '99113',
 '99114',
 '99115',
 '99116',
 '99117',
 '99118',
 '99119',
 '99122',
 '99123',
 '99125',
 '99126',
 '99128',
 '99129',
 '99130',
 '99133',
 '99134',
 '99135',
 '99137',
 '99138',
 '99139',
 '99140',
 '99141',
 '99143',
 '99148',
 '99150',
 '99153',
 '99156',
 '99157',
 '99158',
 '99159',
 '99161',
 '99163',
 '99166',
 '99167',
 '99169',
 '99170',
 '99171',
 '99173',
 '99179',
 '99180',
 '99181',
 '99185',
 '99201',
 '99202',
 '99203',
 '99204',
 '99205',
 '99206',
 '99207',
 '99208',
 '99212',
 '99216',
 '99217',
 '99218',
 '99223',
 '99224',
 '99301',
 '99320',
 '99321',
 '99322',
 '99323',
 '99324',
 '99326',
 '99328',
 '99329',
 '99330',
 '99336',
 '99337',
 '99338',
 '99341',
 '99343',
 '99344',
 '99347',
 '99348',
 '99349',
 '99350',
 '99352',
 '99353',
 '99354',
 '99356',
 '99357',
 '99360',
 '99361',
 '99362',
 '99371',
 '99401',
 '99402',
 '99403',
 '99999',
 '** - Not shown to avoid disclosure of information \nabout specific taxpayers.  However, the data are \ncombined with data in an adjacent size class, \nas appropriate, and included in the appropriate totals.',
 '[1] The ZIP Code is based on the 5-digit ZIP code on the individual \nincome tax return.  ZIP Codes with less than 100 returns, \nidentified as a single building ZIP code, or identified as a \nnonresidential ZIP code have been categorized as other (99999).',
 '[2] The "Number of volunteer prepared returns" shows counts of \nreturns prepared by IRS-certified volunteers to taxpayers with \nlimited income, persons with disabilities, limited English speaking \ntaxpayers, current and former members of the military, and \ntaxpayers who are 60 years of age and older.',
 '[3] These data do not distinguish between refund anticipation \nloans and refund advances.',
 '[4] Includes primary taxpayers 60 years of age or older.',
 '[5] Less deficit.',
 '[6] "Qualified dividends" are ordinary dividends received \nin tax years beginning after 2002 that meet certain \nconditions and receive preferential tax rates. \nThe maximum qualified dividends tax rate is 20%.',
 "[7] Includes the Alaskan permanent fund, reported by \nresidents of Alaska on Forms 1040A and 1040EZ's.  \nThis fund only applies to statistics in the totals, and the \nstate of Alaska.",
 '[8] "Earned income credit" includes both the refundable \nand non-refundable portions.  The non-refundable portion \ncould reduce income tax and certain related taxes to zero. \nThe earned income credit amounts in excess of total tax \nliability, or amounts when there was no tax liability at all, \nwere refundable.  See footnote 9 below for explanation \nof the refundable portion of the earned income credit.',
 '[9] The refundable portion of the "earned income credit" \nequals "total income tax" minus the "earned income credit."  \nIf the result is negative, this amount is considered the \nrefundable portion.  No other refundable credits were \ntaken into account for this calculation.',
 '[10]  "Income tax" reflects the amount reported on \nForm 1040 line 56.  It also includes data from \nForm 1040A and 1040EZ filers.  ',
 '[11] "Total tax liability" differs from "Income tax," in that\n"Total tax liability" includes the taxes from recapture of \ncertain prior-year credits, tax applicable to individual \nretirement arrangements (IRA\'s), social security taxes \non self-employment income and on certain tip income, \nadvanced earned income payments, household\nemployment taxes, and certain "other taxes" listed \nin the Form 1040 instructions.',
 '[12] Reflects payments to or withholdings made to \n"Total tax liability".  This is the amount the tax filer \nowes when the income tax return is filed.',
 '[13]  The amount of overpayments the tax filer requested to \nhave refunded. ',
 'NOTE: This table presents aggregates of all returns filed and\nprocessed through the Individual Master File (IMF) system \nduring Calendar Year 2018, including any returns filed for \ntax years preceding 2017.',
 'This table is based on tax returns as initially processed by IRS\nand does not reflect amended returns or errors that were\ncorrected after initial processing. In general, during administrative \nor Master File processing, taxpayer reporting discrepancies are \ncorrected only to the extent necessary. These statistics should, \ntherefore, be used with the knowledge that some of the \ndata have not been perfected or edited for statistical purposes \nand that State totals in this table may not be altogether \ncomparable to other State totals published by the IRS, \nStatistics of Income Division. ',
 'Detail may not add to totals because of rounding.',
 'SOURCE: IRS, Statistics of Income Division, \nIndividual Master File System, October 2019.']

In [40]:
wzip.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       ...
       'Number of returns.60', 'Amount.60', 'Number of returns.61',
       'Amount.61', 'Number of returns.62', 'Amount.62',
       'Number of returns.63', 'Amount.63', 'Number of returns.64',
       'Amount.64'],
      dtype='object', length=151)

In [ ]:
wzip.columns =

In [ ]:
zipcodedict = {"Zipcopde": [],
       "Col1": [],
       "Col2": [],
       "Col18": []}

for zipcode.unique in index=0:
    zipcodedict.append("Zipcode", value)
    zipcodedict.append("Col1", value)
    zipcodedict.append("Col2", value)
    zipcodedict.append("Col18", value)
    
df2017 = pd.DataFrame(zipcodedict)