In [2]:
import pandas as pd
import datetime
import csv
import pprint as pprint
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
#import sklearn.datasets as dta
#from scipy.stats import linregress
#from scipy.stats import sem
import json
import requests
import os
from dotenv import load_dotenv
import gzip
# Load .env enviroment variables into the notebook
load_dotenv()
# Get the API key from the environment variable and store as Python variable
census_key = os.getenv("census_api_key")

# Section raw redfin data

In [13]:
# handling the large raw data file
filepath_redfin = "../data_sources/zip_code_market_tracker.tsv000"
redfinraw = pd.read_csv(filepath_redfin, delimiter = "\t")
redfinraw.head()

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2014-08-01,2014-10-31,90,zip code,2,1920,f,Zip Code: 05489,NaN,Vermont,...,-0.325000,NaN,NaN,NaN,NaN,NaN,NaN,"Burlington, VT",15540,2024-03-10 14:36:40
1,2018-04-01,2018-06-30,90,zip code,2,18317,f,Zip Code: 43750,NaN,Ohio,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,"Cambridge, OH",15740,2024-03-10 14:36:40
2,2017-01-01,2017-03-31,90,zip code,2,13955,f,Zip Code: 33062,NaN,Florida,...,-0.600000,NaN,NaN,NaN,0.0,NaN,-0.500000,"Fort Lauderdale, FL",22744,2024-03-10 14:36:40
3,2015-12-01,2016-02-29,90,zip code,2,23759,f,Zip Code: 55437,NaN,Minnesota,...,-0.181818,NaN,NaN,NaN,0.0,-1.0,-0.166667,"Minneapolis, MN",33460,2024-03-10 14:36:40
4,2023-12-01,2024-02-29,90,zip code,2,25730,f,Zip Code: 59922,NaN,Montana,...,0.000000,NaN,NaN,NaN,1.0,1.0,1.000000,"Kalispell, MT",28060,2024-03-10 14:36:40

In [14]:
# listing the columns
cols = list(redfinraw.columns)
cols

['period_begin',
 'period_end',
 'period_duration',
 'region_type',
 'region_type_id',
 'table_id',
 'is_seasonally_adjusted',
 'region',
 'city',
 'state',
 'state_code',
 'property_type',
 'property_type_id',
 'median_sale_price',
 'median_sale_price_mom',
 'median_sale_price_yoy',
 'median_list_price',
 'median_list_price_mom',
 'median_list_price_yoy',
 'median_ppsf',
 'median_ppsf_mom',
 'median_ppsf_yoy',
 'median_list_ppsf',
 'median_list_ppsf_mom',
 'median_list_ppsf_yoy',
 'homes_sold',
 'homes_sold_mom',
 'homes_sold_yoy',
 'pending_sales',
 'pending_sales_mom',
 'pending_sales_yoy',
 'new_listings',
 'new_listings_mom',
 'new_listings_yoy',
 'inventory',
 'inventory_mom',
 'inventory_yoy',
 'months_of_supply',
 'months_of_supply_mom',
 'months_of_supply_yoy',
 'median_dom',
 'median_dom_mom',
 'median_dom_yoy',
 'avg_sale_to_list',
 'avg_sale_to_list_mom',
 'avg_sale_to_list_yoy',
 'sold_above_list',
 'sold_above_list_mom',
 'sold_above_list_yoy',
 'price_drops',
 'price_drops_mom',
 'price_drops_yoy',
 'off_market_in_two_weeks',
 'off_market_in_two_weeks_mom',
 'off_market_in_two_weeks_yoy',
 'parent_metro_region',
 'parent_metro_region_metro_code',
 'last_updated']

In [24]:
#Define all zipcodes in seattle
allzipcodes = [
98102,
98103,
98107,
98109,
98112,
98115,
98117,
98119,
98125,
98133,
98177,
98105,
98106,
98108,
98112,
98116,
98118,
98122,
98126,
98134,
98136,
98144,
98146,
98178,
98199,
98101,
98104,
98113,
98121,
98141,
98154,
98161,
98165,
98170,
98174,
98175,
98181,
98185,
98190,
98191,
98194
]
# allzipcodes_str = [str(zipcode) for zipcode in allzipcodes]

In [25]:
#Change allzipcodes to match the headers in the dataframe by making them a string and appending

allzipcodes_format = []
for zipcode in allzipcodes:
    modified_zipcode = "Zip Code: " + str(zipcode)  
    allzipcodes_format.append(modified_zipcode)

print(allzipcodes_format)

['Zip Code: 98102', 'Zip Code: 98103', 'Zip Code: 98107', 'Zip Code: 98109', 'Zip Code: 98112', 'Zip Code: 98115', 'Zip Code: 98117', 'Zip Code: 98119', 'Zip Code: 98125', 'Zip Code: 98133', 'Zip Code: 98177', 'Zip Code: 98105', 'Zip Code: 98106', 'Zip Code: 98108', 'Zip Code: 98112', 'Zip Code: 98116', 'Zip Code: 98118', 'Zip Code: 98122', 'Zip Code: 98126', 'Zip Code: 98134', 'Zip Code: 98136', 'Zip Code: 98144', 'Zip Code: 98146', 'Zip Code: 98178', 'Zip Code: 98199', 'Zip Code: 98101', 'Zip Code: 98104', 'Zip Code: 98113', 'Zip Code: 98121', 'Zip Code: 98141', 'Zip Code: 98154', 'Zip Code: 98161', 'Zip Code: 98165', 'Zip Code: 98170', 'Zip Code: 98174', 'Zip Code: 98175', 'Zip Code: 98181', 'Zip Code: 98185', 'Zip Code: 98190', 'Zip Code: 98191', 'Zip Code: 98194']

In [27]:
#New Dataframe that only includes zipcodes that are in the Seattle area
metrodata = redfinraw[redfinraw["region"].isin(allzipcodes_format)]
metrodata

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
71,2018-03-01,2018-05-31,90,zip code,2,40833,f,Zip Code: 98121,NaN,Washington,...,-0.108458,NaN,NaN,NaN,0.777778,-0.011696,-0.116959,"Seattle, WA",42644,2024-03-10 14:36:40
1907,2014-05-01,2014-07-31,90,zip code,2,40816,f,Zip Code: 98103,NaN,Washington,...,0.004266,NaN,NaN,NaN,0.712121,-0.129984,0.109971,"Seattle, WA",42644,2024-03-10 14:36:40
3522,2014-09-01,2014-11-30,90,zip code,2,40865,f,Zip Code: 98175,NaN,Washington,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA",42644,2024-03-10 14:36:40
4375,2013-11-01,2014-01-31,90,zip code,2,40816,f,Zip Code: 98103,NaN,Washington,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,"Seattle, WA",42644,2024-03-10 14:36:40
4781,2018-09-01,2018-11-30,90,zip code,2,40834,f,Zip Code: 98122,NaN,Washington,...,-0.411765,NaN,NaN,NaN,0.333333,0.183333,-0.066667,"Seattle, WA",42644,2024-03-10 14:36:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7841828,2019-12-01,2020-02-29,90,zip code,2,40821,f,Zip Code: 98108,NaN,Washington,...,-0.083333,NaN,NaN,NaN,0.800000,0.400000,0.466667,"Seattle, WA",42644,2024-03-10 14:36:40
7842141,2016-03-01,2016-05-31,90,zip code,2,40850,f,Zip Code: 98146,NaN,Washington,...,0.233333,NaN,NaN,NaN,0.500000,-0.500000,-0.500000,"Seattle, WA",42644,2024-03-10 14:36:40
7842261,2022-03-01,2022-05-31,90,zip code,2,40825,f,Zip Code: 98112,NaN,Washington,...,0.293651,NaN,NaN,NaN,0.888889,0.111111,-0.111111,"Seattle, WA",42644,2024-03-10 14:36:40
7842290,2015-07-01,2015-09-30,90,zip code,2,40850,f,Zip Code: 98146,NaN,Washington,...,0.666667,NaN,NaN,NaN,0.500000,-0.166667,NaN,"Seattle, WA",42644,2024-03-10 14:36:40
7842556,2023-04-01,2023-06-30,90,zip code,2,40822,f,Zip Code: 98109,NaN,Washington,...,-0.287179,NaN,NaN,NaN,0.461538,-0.153846,0.061538,"Seattle, WA",42644,2024-03-10 14:36:40

In [ ]:
# The dataset has the following columns:

# period_begin
# period_end
# period_duration
# region_type
# region_type_id
# table_id
# is_seasonally_adjusted. (indicates if prices are seasonally adjusted; f represents False)
# region
# city
# state
# state_code
# property_type
# property_type_id
# median_sale_price
# median_sale_price_mom (median sale price changes month over month)
# median_sale_price_yoy (median sale price changes year over year)
# median_list_price
# median_list_price_mom (median list price changes month over month)
# median_list_price_yoy (median list price changes year over year)
# median_ppsf (median sale price per square foot)
# median_ppsf_mom (median sale price per square foot changes month over month)
# median_ppsf_yoy (median sale price per square foot changes year over year)
# median_list_ppsf (median list price per square foot)
# median_list_ppsf_mom (median list price per square foot changes month over month)
# median_list_ppsf_yoy. (median list price per square foot changes year over year)
# homes_sold (number of homes sold)
# homes_sold_mom (number of homes sold month over month)
# homes_sold_yoy (number of homes sold year over year)
# pending_sales
# pending_sales_mom
# pending_sales_yoy
# new_listings
# new_listings_mom
# new_listings_yoy
# inventory
# inventory_mom
# inventory_yoy
# months_of_supply
# months_of_supply_mom
# months_of_supply_yoy
# median_dom (median days on market until property is sold)
# median_dom_mom (median days on market changes month over month)
# median_dom_yoy (median days on market changes year over year)
# avg_sale_to_list (average sale price to list price ratio)
# avg_sale_to_list_mom (average sale price to list price ratio changes month over month)
# avg_sale_to_list_yoy (average sale price to list price ratio changes year over year)
# sold_above_list
# sold_above_list_mom
# sold_above_list_yoy
# price_drops
# price_drops_mom
# price_drops_yoy
# off_market_in_two_weeks (number of properties that will be taken off the market within 2 weeks)
# off_market_in_two_weeks_mom (changes in number of properties that will be taken off the market within 2 weeks, month over month)
# off_market_in_two_weeks_yoy (changes in number of properties that will be taken off the market within 2 weeks, year over year)
# parent_metro_region
# parent_metro_region_metro_code
# last_updated

In [43]:
#Begin narrowing down the colunms. all of these could be useful potentially but its a lot to track
metrodata2 = metrodata[[
    'period_begin',
    'period_end',
    'period_duration',
    'table_id',
    'region',
    'city',
    'state',
    'state_code',
    'property_type',
    'property_type_id',
    'median_sale_price',
    'median_sale_price_yoy',
    'median_list_price',
    'median_list_price_yoy',
    'median_ppsf',
    'median_ppsf_yoy',
    'median_list_ppsf',
    'median_list_ppsf_yoy',
    'homes_sold',
    'homes_sold_yoy',
    'pending_sales',
    'pending_sales_yoy',
    'new_listings',
    'new_listings_yoy',
    'inventory',
    'inventory_mom',
    'inventory_yoy',
    'months_of_supply',
    'months_of_supply_yoy',
    'avg_sale_to_list',
    'avg_sale_to_list_yoy',
    'sold_above_list',
    'sold_above_list_yoy',
    'price_drops',
    'price_drops_yoy',
    'parent_metro_region']]
# metrodata2.reset_index().sort_values(by="period_begin", ascending = True)
metrodata2.reset_index().head()
metrodata2 = metrodata2[[
    'period_begin',
    'period_end',
    'period_duration',
    'table_id',
    'region',
    'city',
    'state',
    'state_code',
    'property_type',
    'property_type_id',
    'median_sale_price',
    'median_sale_price_yoy',
    'median_list_price',
    'median_list_price_yoy',
    'median_ppsf',
    'median_ppsf_yoy',
    'median_list_ppsf',
    'median_list_ppsf_yoy',
    'homes_sold',
    'homes_sold_yoy',
    'pending_sales',
    'pending_sales_yoy',
    'new_listings',
    'new_listings_yoy',
    'inventory',
    'inventory_mom',
    'inventory_yoy',
    'months_of_supply',
    'months_of_supply_yoy',
    'avg_sale_to_list',
    'avg_sale_to_list_yoy',
    'sold_above_list',
    'sold_above_list_yoy',
    'price_drops',
    'price_drops_yoy',
    'parent_metro_region']]
metrodata2

,period_begin,period_end,period_duration,table_id,region,city,state,state_code,property_type,property_type_id,...,inventory_yoy,months_of_supply,months_of_supply_yoy,avg_sale_to_list,avg_sale_to_list_yoy,sold_above_list,sold_above_list_yoy,price_drops,price_drops_yoy,parent_metro_region
71,2018-03-01,2018-05-31,90,40833,Zip Code: 98121,NaN,Washington,WA,All Residential,-1,...,1.476190,NaN,NaN,1.037550,-0.010136,0.520408,-0.108458,NaN,NaN,"Seattle, WA"
1907,2014-05-01,2014-07-31,90,40816,Zip Code: 98103,NaN,Washington,WA,All Residential,-1,...,0.034884,NaN,NaN,1.030420,0.000531,0.545082,0.004266,NaN,NaN,"Seattle, WA"
3522,2014-09-01,2014-11-30,90,40865,Zip Code: 98175,NaN,Washington,WA,Townhouse,13,...,NaN,NaN,NaN,0.986301,NaN,0.000000,NaN,NaN,NaN,"Seattle, WA"
4375,2013-11-01,2014-01-31,90,40816,Zip Code: 98103,NaN,Washington,WA,Multi-Family (2-4 Unit),4,...,0.333333,NaN,NaN,0.969471,0.002038,0.000000,0.000000,NaN,NaN,"Seattle, WA"
4781,2018-09-01,2018-11-30,90,40834,Zip Code: 98122,NaN,Washington,WA,Townhouse,13,...,5.000000,NaN,NaN,0.989249,-0.036230,0.088235,-0.411765,NaN,NaN,"Seattle, WA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7841828,2019-12-01,2020-02-29,90,40821,Zip Code: 98108,NaN,Washington,WA,Townhouse,13,...,-0.333333,NaN,NaN,0.990874,0.008804,0.000000,-0.083333,NaN,NaN,"Seattle, WA"
7842141,2016-03-01,2016-05-31,90,40850,Zip Code: 98146,NaN,Washington,WA,Condo/Co-op,3,...,1.500000,NaN,NaN,1.007034,0.023603,0.400000,0.233333,NaN,NaN,"Seattle, WA"
7842261,2022-03-01,2022-05-31,90,40825,Zip Code: 98112,NaN,Washington,WA,Condo/Co-op,3,...,-0.636364,NaN,NaN,1.033408,0.025816,0.571429,0.293651,NaN,NaN,"Seattle, WA"
7842290,2015-07-01,2015-09-30,90,40850,Zip Code: 98146,NaN,Washington,WA,Condo/Co-op,3,...,-0.500000,NaN,NaN,1.026968,0.052054,0.666667,0.666667,NaN,NaN,"Seattle, WA"
7842556,2023-04-01,2023-06-30,90,40822,Zip Code: 98109,NaN,Washington,WA,Condo/Co-op,3,...,0.055556,NaN,NaN,0.987369,-0.026965,0.128205,-0.287179,NaN,NaN,"Seattle, WA"

In [39]:
# do we want to group by property type? (condo, townhouse, single-family?)
groupedbypropertytype = metrodata2.groupby("property_type")
groupedbypropertytype

In [9]:
# metrodata = metrodata[
#     'period_begin',
#     'period_end',
#     'period_duration',
#     'region_type',
#     'region_type_id',
#     'table_id',
#     'is_seasonally_adjusted',
#     'region',
#     'city',
#     'state',
#     'state_code',
#     'property_type',
#     'property_type_id',
#     'median_sale_price',
#     'median_sale_price_mom',
#     'median_sale_price_yoy',
#     'median_list_price',
#     'median_list_price_mom',
#     'median_list_price_yoy',
#     'median_ppsf',
#     'median_ppsf_mom',
#     'median_ppsf_yoy',
#     'median_list_ppsf',
#     'median_list_ppsf_mom',
#     'median_list_ppsf_yoy',
#     'homes_sold',
#     'homes_sold_mom',
#     'homes_sold_yoy',
#     'pending_sales',
#     'pending_sales_mom',
#     'pending_sales_yoy',
#     'new_listings',
#     'new_listings_mom',
#     'new_listings_yoy',
#     'inventory',
#     'inventory_mom',
#     'inventory_yoy',
#     'months_of_supply',
#     'months_of_supply_mom',
#     'months_of_supply_yoy',
#     'median_dom',
#     'median_dom_mom',
#     'median_dom_yoy',
#     'avg_sale_to_list',
#     'avg_sale_to_list_mom',
#     'avg_sale_to_list_yoy',
#     'sold_above_list',
#     'sold_above_list_mom',
#     'sold_above_list_yoy',
#     'price_drops',
#     'price_drops_mom',
#     'price_drops_yoy',
#     'off_market_in_two_weeks',
#     'off_market_in_two_weeks_mom',
#     'off_market_in_two_weeks_yoy',
#     'parent_metro_region',
#     'parent_metro_region_metro_code',
#     'last_updated']

In [73]:
# Save the data for the seattle metro area with only potentially useful series headers
metrodata2.to_csv("../data_sources/redfin_by_zipcode.csv", index=False)

# Section Sale Prices

In [287]:
filepath_metrodata2 = "../data_sources/redfin_by_zipcode.csv"
metrodata2 = pd.read_csv(filepath_metrodata2)
metrodata2.head()

,period_begin,period_end,region,property_type,median_sale_price,median_list_price,median_ppsf,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list
0,2018-03-01,2018-05-31,Zip Code: 98121,All Residential,667500.0,625000.0,860.121526,98.0,145.0,52.0,1.037550,0.520408
1,2014-05-01,2014-07-31,Zip Code: 98103,All Residential,539000.0,535000.0,318.695652,244.0,283.0,89.0,1.030420,0.545082
2,2014-09-01,2014-11-30,Zip Code: 98175,Townhouse,360000.0,NaN,260.680666,1.0,NaN,NaN,0.986301,0.000000
3,2013-11-01,2014-01-31,Zip Code: 98103,Multi-Family (2-4 Unit),570500.0,850000.0,244.882917,2.0,1.0,4.0,0.969471,0.000000
4,2018-09-01,2018-11-30,Zip Code: 98122,Townhouse,742500.0,749000.0,546.105168,34.0,46.0,18.0,0.989249,0.088235

In [288]:
# metrodata2 = metrodata2[[
#     'period_begin',
#     'period_end',
#     'table_id',
#     'region',
#     'city',
#     'property_type',
#     'property_type_id',
#     'median_sale_price',
#     'median_sale_price_yoy',
#     'median_list_price',
#     'median_list_price_yoy',
#     'median_ppsf',
#     'median_ppsf_yoy',
#     'median_list_ppsf',
#     'median_list_ppsf_yoy',
#     'homes_sold',
#     'homes_sold_yoy',
#     'pending_sales',
#     'pending_sales_yoy',
#     'new_listings',
#     'new_listings_yoy',
#     'inventory',
#     'inventory_mom',
#     'inventory_yoy',
#     'avg_sale_to_list',
#     'avg_sale_to_list_yoy',
#     'sold_above_list',
#     'sold_above_list_yoy',
#     'parent_metro_region' 
# ]]

In [289]:
#Here are what might be the best data points in the dataframe
metrodata2 = metrodata2[[
    'period_begin',
    'period_end',
    'region',
    'property_type',
    'median_sale_price',
    'median_list_price',
    'median_ppsf',
    'homes_sold',
    'new_listings',
    'inventory',
    'avg_sale_to_list',
    'sold_above_list'
]]

In [290]:
#Change the period_end and period_start series to date time from string
metrodata2['period_begin'] = pd.to_datetime(metrodata2['period_begin'])
metrodata2['period_end'] = pd.to_datetime(metrodata2['period_end'])
# metrodata2.sort_values(by = 'period_end', ascending=True)
metrodata2

,period_begin,period_end,region,property_type,median_sale_price,median_list_price,median_ppsf,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list
0,2018-03-01,2018-05-31,Zip Code: 98121,All Residential,667500.0,625000.0,860.121526,98.0,145.0,52.0,1.037550,0.520408
1,2014-05-01,2014-07-31,Zip Code: 98103,All Residential,539000.0,535000.0,318.695652,244.0,283.0,89.0,1.030420,0.545082
2,2014-09-01,2014-11-30,Zip Code: 98175,Townhouse,360000.0,NaN,260.680666,1.0,NaN,NaN,0.986301,0.000000
3,2013-11-01,2014-01-31,Zip Code: 98103,Multi-Family (2-4 Unit),570500.0,850000.0,244.882917,2.0,1.0,4.0,0.969471,0.000000
4,2018-09-01,2018-11-30,Zip Code: 98122,Townhouse,742500.0,749000.0,546.105168,34.0,46.0,18.0,0.989249,0.088235
...,...,...,...,...,...,...,...,...,...,...,...,...
17000,2019-12-01,2020-02-29,Zip Code: 98108,Townhouse,543750.0,541500.0,438.266981,8.0,16.0,8.0,0.990874,0.000000
17001,2016-03-01,2016-05-31,Zip Code: 98146,Condo/Co-op,178000.0,167500.0,154.782609,5.0,6.0,5.0,1.007034,0.400000
17002,2022-03-01,2022-05-31,Zip Code: 98112,Condo/Co-op,715500.0,659999.0,790.378007,21.0,25.0,4.0,1.033408,0.571429
17003,2015-07-01,2015-09-30,Zip Code: 98146,Condo/Co-op,249000.0,261500.0,271.077110,6.0,10.0,2.0,1.026968,0.666667
17004,2023-04-01,2023-06-30,Zip Code: 98109,Condo/Co-op,505000.0,581975.0,594.333333,39.0,54.0,38.0,0.987369,0.128205

In [291]:
# Sort by period_end and group by unique zipcode
metrodata2_sorted =  metrodata2.sort_values(by='period_end')
groupedmetrodata2_sorted = metrodata2_sorted.groupby('region')
groupedmetrodata2_sorted

In [292]:
# Cool Function to chaneg the date time (dt) of period_end to the quarter
quarters = metrodata2['period_end'].dt.to_period('Q').unique().strftime('%Y-Q%q')

# Empty dictionary to store mean_median_sale_price for each quarter and each group(zipcode)

zipcode_and_mean_dict = {zipcode: [] for zipcode in groupedmetrodata2_sorted.groups.keys()}

#For-loop to go through the grouped data to find the mean_median_sale_price for every quarter
for zipcode, group in groupedmetrodata2_sorted:
    for quarter in quarters:
        mean_median_sale_price = group[group['period_end'].dt.to_period('Q') == quarter]['median_sale_price'].mean()
        zipcode_and_mean_dict[zipcode].append(mean_median_sale_price)

#Put this data from the loop into a Dataframe with the dictionary keys and datetime
mean_sales_df = pd.DataFrame(zipcode_and_mean_dict, index=quarters)

# Transpose Dataframe. The df.T will switch columns and rows
mean_sales_df = mean_sales_df.T

In [293]:
#Drop the decimal places and make it an int instead of float
mean_sales_df = mean_sales_df.dropna().round(0).astype(int)
mean_sales_df = mean_sales_df.sort_index(axis=1)
mean_sales_df

,2012-Q1,2012-Q2,2012-Q3,2012-Q4,2013-Q1,2013-Q2,2013-Q3,2013-Q4,2014-Q1,2014-Q2,...,2021-Q4,2022-Q1,2022-Q2,2022-Q3,2022-Q4,2023-Q1,2023-Q2,2023-Q3,2023-Q4,2024-Q1
Zip Code: 98101,632000,480167,503150,499833,578000,531667,421683,473167,697667,528167,...,863425,942889,745000,631167,646454,538833,658333,652128,600278,850000
Zip Code: 98102,478400,469706,472678,510033,481990,563115,574748,713090,588084,610917,...,1033128,1118357,1077755,1052790,991762,971769,1000496,1043535,1071667,829414
Zip Code: 98103,396300,440550,407155,394756,408807,449780,443280,459820,472632,460561,...,788623,847252,875080,868017,905467,851765,938605,942392,912098,880175
Zip Code: 98104,324833,302212,206200,246000,301667,354000,311833,491003,770344,533264,...,562483,393975,420808,419158,376642,415892,413967,408892,381217,453400
Zip Code: 98105,458600,508259,500059,483693,441060,504517,541387,491943,533933,538900,...,899382,1026050,1227836,1190863,1051495,975626,1057597,985137,931402,1015833
Zip Code: 98106,205500,179825,201010,198691,228532,232750,258152,268311,237871,264536,...,648380,640167,649590,694993,611561,615547,639659,617168,611327,660428
Zip Code: 98107,374950,385832,416759,426280,411113,422800,460415,465433,484125,496783,...,836380,933493,981430,888598,763613,851433,880923,913830,1061333,1088500
Zip Code: 98108,206250,238739,264486,265780,280402,288827,312840,307200,320343,312250,...,605393,717614,696830,631830,700550,602120,618758,681423,709951,727073
Zip Code: 98109,457250,492462,474910,509993,540981,512631,511593,499143,527750,592986,...,1080148,941621,1124170,1074154,942083,941055,1003354,1210531,1111392,1043325
Zip Code: 98112,599811,578349,545300,682722,691416,670786,671330,628355,623583,676000,...,1130128,1254533,1338163,1288017,1183615,1131194,1100720,1265363,1202545,1111584
Zip Code: 98115,390395,373899,378482,388411,388478,381993,449237,417300,429967,449085,...,843842,967919,985666,842077,1049793,861782,864904,840219,890219,797627
Zip Code: 98116,345400,382612,468667,371985,386618,422269,513818,507509,462394,521656,...,901462,932727,1171400,1108864,931100,793704,869540,910534,891452,820538
Zip Code: 98117,424290,367098,423083,415632,399698,448257,430235,437757,432531,487210,...,885889,839082,1018227,934563,847767,875968,833908,921657,910212,912805
Zip Code: 98118,186925,222304,245962,224130,239323,283055,340144,318762,255752,323257,...,676143,703733,724323,692755,651317,625981,670365,677070,679664,688577
Zip Code: 98119,459000,450230,471459,504427,521670,510102,559733,572668,554873,569943,...,981804,1087686,1114863,1034467,946482,954707,923865,994302,945654,927311
Zip Code: 98121,312000,300143,311312,399528,319992,366667,383821,395594,972725,605500,...,676325,690833,651667,627667,573000,563667,566333,555667,655417,962000
Zip Code: 98122,337625,377218,429757,445892,428883,437009,445054,451685,453666,475615,...,837419,940717,963163,971434,891244,877917,827343,784178,919758,990850
Zip Code: 98125,218340,242235,263754,278503,274740,287818,331000,325590,355775,354105,...,703610,664150,774355,705548,637154,625454,672742,672077,713677,657898
Zip Code: 98126,226000,257528,287083,281660,288757,300147,297493,300611,297330,367770,...,610929,699032,788610,741571,645329,642433,648830,734325,769687,697281
Zip Code: 98133,259880,272556,263754,259853,242540,313430,315218,293023,282531,302679,...,654545,757650,770846,735325,689921,590457,640392,681681,639390,820442
Zip Code: 98136,312750,321906,303646,363154,375838,421706,391058,366413,399731,384939,...,753462,825992,902417,772036,807000,738145,812766,754922,802913,928562
Zip Code: 98144,260199,281838,329760,322155,317000,346400,370127,389398,381274,427620,...,914993,785663,803035,759000,721908,691898,724782,798957,753890,748332
Zip Code: 98146,153508,149457,158992,185332,192404,226882,212270,241955,237064,229068,...,499200,548829,652731,652669,589186,576667,555055,567656,586335,541068
Zip Code: 98177,303625,303375,326988,367521,364000,387811,385267,354975,367562,383555,...,926491,872853,948579,951083,909597,765144,829919,839366,821493,759850
Zip Code: 98178,143167,136988,163342,181536,165561,170662,176625,181139,141932,182018,...,536356,463031,611091,529521,517996,587875,621883,726093,593450,616675
Zip Code: 98199,393690,421820,452617,420372,423273,499847,516587,548088,472148,523303,...,997606,1018017,1113617,1040113,1018628,1019039,929783,1023674,1009477,925424

In [294]:
mean_sales_df.index = mean_sales_df.index.str.extract('(\d{5})')[0]

In [295]:
mean_sales_df

,2012-Q1,2012-Q2,2012-Q3,2012-Q4,2013-Q1,2013-Q2,2013-Q3,2013-Q4,2014-Q1,2014-Q2,...,2021-Q4,2022-Q1,2022-Q2,2022-Q3,2022-Q4,2023-Q1,2023-Q2,2023-Q3,2023-Q4,2024-Q1
0,,,,,,,,,,,,,,,,,,,,,
98101,632000,480167,503150,499833,578000,531667,421683,473167,697667,528167,...,863425,942889,745000,631167,646454,538833,658333,652128,600278,850000
98102,478400,469706,472678,510033,481990,563115,574748,713090,588084,610917,...,1033128,1118357,1077755,1052790,991762,971769,1000496,1043535,1071667,829414
98103,396300,440550,407155,394756,408807,449780,443280,459820,472632,460561,...,788623,847252,875080,868017,905467,851765,938605,942392,912098,880175
98104,324833,302212,206200,246000,301667,354000,311833,491003,770344,533264,...,562483,393975,420808,419158,376642,415892,413967,408892,381217,453400
98105,458600,508259,500059,483693,441060,504517,541387,491943,533933,538900,...,899382,1026050,1227836,1190863,1051495,975626,1057597,985137,931402,1015833
98106,205500,179825,201010,198691,228532,232750,258152,268311,237871,264536,...,648380,640167,649590,694993,611561,615547,639659,617168,611327,660428
98107,374950,385832,416759,426280,411113,422800,460415,465433,484125,496783,...,836380,933493,981430,888598,763613,851433,880923,913830,1061333,1088500
98108,206250,238739,264486,265780,280402,288827,312840,307200,320343,312250,...,605393,717614,696830,631830,700550,602120,618758,681423,709951,727073
98109,457250,492462,474910,509993,540981,512631,511593,499143,527750,592986,...,1080148,941621,1124170,1074154,942083,941055,1003354,1210531,1111392,1043325
98112,599811,578349,545300,682722,691416,670786,671330,628355,623583,676000,...,1130128,1254533,1338163,1288017,1183615,1131194,1100720,1265363,1202545,1111584
98115,390395,373899,378482,388411,388478,381993,449237,417300,429967,449085,...,843842,967919,985666,842077,1049793,861782,864904,840219,890219,797627
98116,345400,382612,468667,371985,386618,422269,513818,507509,462394,521656,...,901462,932727,1171400,1108864,931100,793704,869540,910534,891452,820538
98117,424290,367098,423083,415632,399698,448257,430235,437757,432531,487210,...,885889,839082,1018227,934563,847767,875968,833908,921657,910212,912805
98118,186925,222304,245962,224130,239323,283055,340144,318762,255752,323257,...,676143,703733,724323,692755,651317,625981,670365,677070,679664,688577
98119,459000,450230,471459,504427,521670,510102,559733,572668,554873,569943,...,981804,1087686,1114863,1034467,946482,954707,923865,994302,945654,927311
98121,312000,300143,311312,399528,319992,366667,383821,395594,972725,605500,...,676325,690833,651667,627667,573000,563667,566333,555667,655417,962000
98122,337625,377218,429757,445892,428883,437009,445054,451685,453666,475615,...,837419,940717,963163,971434,891244,877917,827343,784178,919758,990850
98125,218340,242235,263754,278503,274740,287818,331000,325590,355775,354105,...,703610,664150,774355,705548,637154,625454,672742,672077,713677,657898
98126,226000,257528,287083,281660,288757,300147,297493,300611,297330,367770,...,610929,699032,788610,741571,645329,642433,648830,734325,769687,697281
98133,259880,272556,263754,259853,242540,313430,315218,293023,282531,302679,...,654545,757650,770846,735325,689921,590457,640392,681681,639390,820442
98136,312750,321906,303646,363154,375838,421706,391058,366413,399731,384939,...,753462,825992,902417,772036,807000,738145,812766,754922,802913,928562
98144,260199,281838,329760,322155,317000,346400,370127,389398,381274,427620,...,914993,785663,803035,759000,721908,691898,724782,798957,753890,748332
98146,153508,149457,158992,185332,192404,226882,212270,241955,237064,229068,...,499200,548829,652731,652669,589186,576667,555055,567656,586335,541068
98177,303625,303375,326988,367521,364000,387811,385267,354975,367562,383555,...,926491,872853,948579,951083,909597,765144,829919,839366,821493,759850
98178,143167,136988,163342,181536,165561,170662,176625,181139,141932,182018,...,536356,463031,611091,529521,517996,587875,621883,726093,593450,616675
98199,393690,421820,452617,420372,423273,499847,516587,548088,472148,523303,...,997606,1018017,1113617,1040113,1018628,1019039,929783,1023674,1009477,925424

In [ ]:
# Save the data for the Average_Median_Sale_Price of homes in seattle zipcodes by quarter
mean_sales_df.to_csv("../data_sources/average_median_sale_price_by_quarter.csv", index=True)

In [296]:
collistt = list(mean_sales_df.columns)
collistt

['2012-Q1',
 '2012-Q2',
 '2012-Q3',
 '2012-Q4',
 '2013-Q1',
 '2013-Q2',
 '2013-Q3',
 '2013-Q4',
 '2014-Q1',
 '2014-Q2',
 '2014-Q3',
 '2014-Q4',
 '2015-Q1',
 '2015-Q2',
 '2015-Q3',
 '2015-Q4',
 '2016-Q1',
 '2016-Q2',
 '2016-Q3',
 '2016-Q4',
 '2017-Q1',
 '2017-Q2',
 '2017-Q3',
 '2017-Q4',
 '2018-Q1',
 '2018-Q2',
 '2018-Q3',
 '2018-Q4',
 '2019-Q1',
 '2019-Q2',
 '2019-Q3',
 '2019-Q4',
 '2020-Q1',
 '2020-Q2',
 '2020-Q3',
 '2020-Q4',
 '2021-Q1',
 '2021-Q2',
 '2021-Q3',
 '2021-Q4',
 '2022-Q1',
 '2022-Q2',
 '2022-Q3',
 '2022-Q4',
 '2023-Q1',
 '2023-Q2',
 '2023-Q3',
 '2023-Q4',
 '2024-Q1']

In [297]:
mean_sales_df = mean_sales_df[['2017-Q1',
 '2017-Q2',
 '2017-Q3',
 '2017-Q4',
 '2018-Q1',
 '2018-Q2',
 '2018-Q3',
 '2018-Q4',
 '2019-Q1',
 '2019-Q2',
 '2019-Q3',
 '2019-Q4',
 '2020-Q1',
 '2020-Q2',
 '2020-Q3',
 '2020-Q4',
 '2021-Q1',
 '2021-Q2',
 '2021-Q3',
 '2021-Q4']]

In [298]:
mean_sales_df.head(1)

,2017-Q1,2017-Q2,2017-Q3,2017-Q4,2018-Q1,2018-Q2,2018-Q3,2018-Q4,2019-Q1,2019-Q2,2019-Q3,2019-Q4,2020-Q1,2020-Q2,2020-Q3,2020-Q4,2021-Q1,2021-Q2,2021-Q3,2021-Q4
0,,,,,,,,,,,,,,,,,,,,
98101,629967,614167,639467,691667,798633,784300,753333,778850,712483,639000,705417,656067,587417,641642,812367,682636,675500,633417,665332,863425

In [301]:
# Save the data for the Average_Median_Sale_Price of homes in seattle zipcodes by quarter
mean_sales_df.to_csv("../data_frames/average_median_sale_price_by_quarter2017-2021.csv", index=True)

# Section Sale Price filtering for average

In [ ]:
# average_median_sale_price_by_quarter.csv

In [305]:
filepath_salepriceavg = "../data_frames/average_median_sale_price_by_quarter2017-2021.csv"
saleprice_avg = pd.read_csv(filepath_salepriceavg, index_col=0)
saleprice_avg.head()

,2017-Q1,2017-Q2,2017-Q3,2017-Q4,2018-Q1,2018-Q2,2018-Q3,2018-Q4,2019-Q1,2019-Q2,2019-Q3,2019-Q4,2020-Q1,2020-Q2,2020-Q3,2020-Q4,2021-Q1,2021-Q2,2021-Q3,2021-Q4
0,,,,,,,,,,,,,,,,,,,,
98101,629967,614167,639467,691667,798633,784300,753333,778850,712483,639000,705417,656067,587417,641642,812367,682636,675500,633417,665332,863425
98102,847094,856167,824820,1011056,1061160,1123953,1099862,1154782,994948,904183,912748,987686,976643,1033230,1050193,1035250,931803,991560,1445086,1033128
98103,670310,689895,736618,736968,784596,832872,826282,758228,757417,768683,764391,730155,756017,748912,779648,739083,763935,835932,840817,788623
98104,322500,346667,421884,541667,556133,664800,701333,404000,579833,663975,599667,529000,578333,620650,625000,518750,562333,620617,582379,562483
98105,697592,769673,843404,824700,830869,928014,910872,889047,833879,818875,945965,833618,795855,881382,934495,903188,882166,912276,930376,899382

In [309]:
saleprice_avg.index.name = "Zipcode"

In [310]:
saleprice_avg.head(1)

,2017-Q1,2017-Q2,2017-Q3,2017-Q4,2018-Q1,2018-Q2,2018-Q3,2018-Q4,2019-Q1,2019-Q2,2019-Q3,2019-Q4,2020-Q1,2020-Q2,2020-Q3,2020-Q4,2021-Q1,2021-Q2,2021-Q3,2021-Q4
Zipcode,,,,,,,,,,,,,,,,,,,,
98101,629967,614167,639467,691667,798633,784300,753333,778850,712483,639000,705417,656067,587417,641642,812367,682636,675500,633417,665332,863425

In [269]:
# zipcodes = list(saleprice_avg['Zipcode'])

In [311]:
saleprice_averages_by_quarter = saleprice_avg.mean()
saleprice_averages_by_quarter.to_frame('Avg Price all Zipcodes')

         Avg Price all Zipcodes
2017-Q1           602734.384615
2017-Q2           639774.884615
2017-Q3           660199.692308
2017-Q4           675987.384615
2018-Q1           718276.000000
2018-Q2           760614.192308
2018-Q3           731133.807692
2018-Q4           702407.923077
2019-Q1           683218.076923
2019-Q2           702495.307692
2019-Q3           704458.961538
2019-Q4           686028.615385
2020-Q1           701633.538462
2020-Q2           725968.538462
2020-Q3           751073.269231
2020-Q4           737996.769231
2021-Q1           727661.692308
2021-Q2           773555.653846
2021-Q3           803016.423077
2021-Q4           801828.692308

In [312]:
# Save the data and keep the index for quarters
saleprice_averages_by_quarter.to_csv("../data_frames/saleprice_quarterly_AVG.csv", index=True)

In [ ]:
# Average Cost for Each ZIP Code

In [314]:
sale_zipcode_averages = saleprice_avg.mean(axis=1)
sale_zipcode_averages = sale_zipcode_averages.to_frame(name='Avg price per Zipcode 2017-2021')
sale_zipcode_averages

         Avg price per Zipcode 2017-2021
Zipcode
98101                          698254.35
98102                         1013767.60
98103                          765469.10
98104                          550100.20
98105                          863281.40
98106                          533400.15
98107                          795666.45
98108                          588026.40
98109                          919703.55
98112                         1045929.95
98115                          761877.25
98116                          768123.45
98117                          776458.00
98118                          575705.35
98119                          914427.65
98121                          632601.65
98122                          806370.55
98125                          609188.85
98126                          599479.80
98133                          572678.90
98136                          652911.25
98144                          715199.10
98146                          436521.75
98177                          707862.10
98178                          422227.65
98199                          851850.50

In [315]:
# Save the data and keep the index for zipcodes
sale_zipcode_averages.to_csv("../data_frames/zipcode_sale_AVG.csv", index=True)

In [318]:
sale_top_zipcodes = sale_zipcode_averages.nlargest(5, 'Avg price per Zipcode 2017-2021')

sale_bottom_zipcodes = sale_zipcode_averages.nsmallest(5, 'Avg price per Zipcode 2017-2021')

In [319]:
sale_top_zipcodes

         Avg price per Zipcode 2017-2021
Zipcode
98112                         1045929.95
98102                         1013767.60
98109                          919703.55
98119                          914427.65
98105                          863281.40

In [320]:
sale_bottom_zipcodes

         Avg price per Zipcode 2017-2021
Zipcode
98178                          422227.65
98146                          436521.75
98106                          533400.15
98104                          550100.20
98133                          572678.90

# Section Property Type and Inventory

In [3]:
filepath_metrodata2 = "../data_sources/redfin_by_zipcode.csv"
metrodata2 = pd.read_csv(filepath_metrodata2)
metrodata2.head()

,period_begin,period_end,region,property_type,median_sale_price,median_list_price,median_ppsf,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list
0,2018-03-01,2018-05-31,Zip Code: 98121,All Residential,667500.0,625000.0,860.121526,98.0,145.0,52.0,1.037550,0.520408
1,2014-05-01,2014-07-31,Zip Code: 98103,All Residential,539000.0,535000.0,318.695652,244.0,283.0,89.0,1.030420,0.545082
2,2014-09-01,2014-11-30,Zip Code: 98175,Townhouse,360000.0,NaN,260.680666,1.0,NaN,NaN,0.986301,0.000000
3,2013-11-01,2014-01-31,Zip Code: 98103,Multi-Family (2-4 Unit),570500.0,850000.0,244.882917,2.0,1.0,4.0,0.969471,0.000000
4,2018-09-01,2018-11-30,Zip Code: 98122,Townhouse,742500.0,749000.0,546.105168,34.0,46.0,18.0,0.989249,0.088235

In [4]:
metrodata2 = metrodata2[[
    'period_begin',
    'period_end',
    'region',
    'property_type',
    'median_sale_price',
    'median_list_price',
    'median_ppsf',
    'homes_sold',
    'new_listings',
    'inventory',
    'avg_sale_to_list',
    'sold_above_list'
]]

In [5]:
# change the region series to zipcode and format the string
metrodata2['Zipcode'] = metrodata2['region'].str.extract('(\\d{5})')
metrodata2 = metrodata2.drop(columns=['region'])

In [6]:
metrodata2 = metrodata2[[
    'period_begin',
    'period_end',
    'Zipcode',
    'property_type',
    'median_sale_price',
    'median_list_price',
    'median_ppsf',
    'homes_sold',
    'new_listings',
    'inventory',
    'avg_sale_to_list',
    'sold_above_list'
]]

In [7]:
metrodata2

,period_begin,period_end,Zipcode,property_type,median_sale_price,median_list_price,median_ppsf,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list
0,2018-03-01,2018-05-31,98121,All Residential,667500.0,625000.0,860.121526,98.0,145.0,52.0,1.037550,0.520408
1,2014-05-01,2014-07-31,98103,All Residential,539000.0,535000.0,318.695652,244.0,283.0,89.0,1.030420,0.545082
2,2014-09-01,2014-11-30,98175,Townhouse,360000.0,NaN,260.680666,1.0,NaN,NaN,0.986301,0.000000
3,2013-11-01,2014-01-31,98103,Multi-Family (2-4 Unit),570500.0,850000.0,244.882917,2.0,1.0,4.0,0.969471,0.000000
4,2018-09-01,2018-11-30,98122,Townhouse,742500.0,749000.0,546.105168,34.0,46.0,18.0,0.989249,0.088235
...,...,...,...,...,...,...,...,...,...,...,...,...
17000,2019-12-01,2020-02-29,98108,Townhouse,543750.0,541500.0,438.266981,8.0,16.0,8.0,0.990874,0.000000
17001,2016-03-01,2016-05-31,98146,Condo/Co-op,178000.0,167500.0,154.782609,5.0,6.0,5.0,1.007034,0.400000
17002,2022-03-01,2022-05-31,98112,Condo/Co-op,715500.0,659999.0,790.378007,21.0,25.0,4.0,1.033408,0.571429
17003,2015-07-01,2015-09-30,98146,Condo/Co-op,249000.0,261500.0,271.077110,6.0,10.0,2.0,1.026968,0.666667
17004,2023-04-01,2023-06-30,98109,Condo/Co-op,505000.0,581975.0,594.333333,39.0,54.0,38.0,0.987369,0.128205

In [8]:
property_types = metrodata2['property_type'].unique()
print(property_types)

['All Residential' 'Townhouse' 'Multi-Family (2-4 Unit)' 'Condo/Co-op'
 'Single Family Residential']

In [9]:
#Change the period_end and period_start series to date time from string
metrodata2['period_begin'] = pd.to_datetime(metrodata2['period_begin'])
metrodata2['period_end'] = pd.to_datetime(metrodata2['period_end'])
# metrodata2.sort_values(by = 'period_end', ascending=True)
metrodata2

,period_begin,period_end,Zipcode,property_type,median_sale_price,median_list_price,median_ppsf,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list
0,2018-03-01,2018-05-31,98121,All Residential,667500.0,625000.0,860.121526,98.0,145.0,52.0,1.037550,0.520408
1,2014-05-01,2014-07-31,98103,All Residential,539000.0,535000.0,318.695652,244.0,283.0,89.0,1.030420,0.545082
2,2014-09-01,2014-11-30,98175,Townhouse,360000.0,NaN,260.680666,1.0,NaN,NaN,0.986301,0.000000
3,2013-11-01,2014-01-31,98103,Multi-Family (2-4 Unit),570500.0,850000.0,244.882917,2.0,1.0,4.0,0.969471,0.000000
4,2018-09-01,2018-11-30,98122,Townhouse,742500.0,749000.0,546.105168,34.0,46.0,18.0,0.989249,0.088235
...,...,...,...,...,...,...,...,...,...,...,...,...
17000,2019-12-01,2020-02-29,98108,Townhouse,543750.0,541500.0,438.266981,8.0,16.0,8.0,0.990874,0.000000
17001,2016-03-01,2016-05-31,98146,Condo/Co-op,178000.0,167500.0,154.782609,5.0,6.0,5.0,1.007034,0.400000
17002,2022-03-01,2022-05-31,98112,Condo/Co-op,715500.0,659999.0,790.378007,21.0,25.0,4.0,1.033408,0.571429
17003,2015-07-01,2015-09-30,98146,Condo/Co-op,249000.0,261500.0,271.077110,6.0,10.0,2.0,1.026968,0.666667
17004,2023-04-01,2023-06-30,98109,Condo/Co-op,505000.0,581975.0,594.333333,39.0,54.0,38.0,0.987369,0.128205

In [10]:
#NEW PATH
metrodata2_sorted =  metrodata2.sort_values(by='Zipcode')

In [11]:
#first for property_type='All Residential'
#then for property_type!='All Residential'

In [12]:
all_residential_data = metrodata2_sorted[metrodata2_sorted['property_type'] == 'All Residential']
all_residential_data

,period_begin,period_end,Zipcode,property_type,median_sale_price,median_list_price,median_ppsf,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list
859,2014-01-01,2014-03-31,98101,All Residential,733000.0,544500.0,581.318681,43.0,52.0,22.0,0.985031,0.139535
1860,2012-10-01,2012-12-31,98101,All Residential,499750.0,547000.0,494.565089,64.0,52.0,45.0,0.977436,0.125000
1213,2015-07-01,2015-09-30,98101,All Residential,675200.0,584995.0,708.075773,115.0,72.0,61.0,1.002584,0.130435
265,2018-04-01,2018-06-30,98101,All Residential,780500.0,795000.0,824.403941,72.0,88.0,61.0,1.000114,0.291667
263,2013-03-01,2013-05-31,98101,All Residential,540000.0,490000.0,567.226891,61.0,58.0,54.0,0.981864,0.081967
...,...,...,...,...,...,...,...,...,...,...,...,...
13534,2012-04-01,2012-06-30,98199,All Residential,494000.0,549500.0,254.237288,113.0,131.0,82.0,0.991403,0.265487
13482,2017-06-01,2017-08-31,98199,All Residential,845000.0,800000.0,441.866792,166.0,173.0,30.0,1.034883,0.439759
10684,2020-10-01,2020-12-31,98199,All Residential,1009500.0,935000.0,492.063657,122.0,109.0,37.0,0.998818,0.295082
13446,2015-09-01,2015-11-30,98199,All Residential,645000.0,702450.0,346.428571,101.0,112.0,30.0,1.025881,0.495050
16045,2019-04-01,2019-06-30,98199,All Residential,900000.0,944000.0,462.962963,137.0,205.0,94.0,1.005201,0.350365

In [293]:
all_residential_data.set_index('period_end', inplace=True)

In [258]:
#This should rename the perdiod end and give it a value for month
monthly_inventory = all_residential_data.groupby('Zipcode').resample('M')['inventory'].mean()
monthly_inventory = monthly_inventory.reset_index()
monthly_inventory

     Zipcode period_end  inventory
0      98101 2012-03-31       54.0
1      98101 2012-04-30       60.0
2      98101 2012-05-31       53.0
3      98101 2012-06-30       60.0
4      98101 2012-07-31       58.0
...      ...        ...        ...
4327   98199 2023-10-31       50.0
4328   98199 2023-11-30       41.0
4329   98199 2023-12-31       21.0
4330   98199 2024-01-31       17.0
4331   98199 2024-02-29       26.0

[4332 rows x 3 columns]

In [260]:
# Filter for dates of interest (2018-2022)
monthly_inventory_filtered = monthly_inventory[(monthly_inventory['period_end'] >= '2018-01-01') & (monthly_inventory['period_end'] <= '2022-12-31')]
monthly_inventory_filtered

     Zipcode period_end  inventory
70     98101 2018-01-31       18.0
71     98101 2018-02-28       44.0
72     98101 2018-03-31       46.0
73     98101 2018-04-30       53.0
74     98101 2018-05-31       61.0
...      ...        ...        ...
4313   98199 2022-08-31       59.0
4314   98199 2022-09-30       70.0
4315   98199 2022-10-31       61.0
4316   98199 2022-11-30       50.0
4317   98199 2022-12-31       33.0

[1843 rows x 3 columns]

In [261]:
#Save monthly_inventory for all types of sales for the time frame based on zipcode - ready to graph and analyze
monthly_inventory_filtered.to_csv("../data_frames/monthly_housingsale_available_inventory.csv", index=True)

In [ ]:
#NOW FOR QUARTERS

In [263]:
quarterly_inventory = all_residential_data.groupby('Zipcode').resample('Q')['inventory'].mean()
quarterly_inventory = quarterly_inventory.reset_index()
quarterly_inventory

     Zipcode period_end  inventory
0      98101 2012-03-31  54.000000
1      98101 2012-06-30  57.666667
2      98101 2012-09-30  57.000000
3      98101 2012-12-31  45.333333
4      98101 2013-03-31  38.333333
...      ...        ...        ...
1469   98199 2023-03-31  26.666667
1470   98199 2023-06-30  41.000000
1471   98199 2023-09-30  44.000000
1472   98199 2023-12-31  37.333333
1473   98199 2024-03-31  21.500000

[1474 rows x 3 columns]

In [264]:
# Filter for dates of interest (2018-2022)
quarterly_inventory_filtered = quarterly_inventory[(quarterly_inventory['period_end'] >= '2018-01-01') & (quarterly_inventory['period_end'] <= '2022-12-31')]
quarterly_inventory_filtered

     Zipcode period_end  inventory
24     98101 2018-03-31  36.000000
25     98101 2018-06-30  58.333333
26     98101 2018-09-30  46.333333
27     98101 2018-12-31  49.333333
28     98101 2019-03-31  48.666667
...      ...        ...        ...
1464   98199 2021-12-31  16.000000
1465   98199 2022-03-31  14.333333
1466   98199 2022-06-30  41.333333
1467   98199 2022-09-30  64.000000
1468   98199 2022-12-31  48.000000

[615 rows x 3 columns]

In [265]:
#Save quarterly_inventory for all types of sales for the time frame based on zipcode - ready to graph and analyze
quarterly_inventory_filtered.to_csv("../data_frames/quarterly_housingsale_available_inventory.csv", index=True)

In [266]:
#NOW FOR YEAR
yearly_inventory = all_residential_data.groupby('Zipcode').resample('Y')['inventory'].mean()
yearly_inventory = yearly_inventory.reset_index()
yearly_inventory

    Zipcode period_end  inventory
0     98101 2012-12-31  53.400000
1     98101 2013-12-31  38.500000
2     98101 2014-12-31  26.666667
3     98101 2015-12-31  43.833333
4     98101 2016-12-31  33.916667
..      ...        ...        ...
386   98199 2020-12-31  48.083333
387   98199 2021-12-31  33.250000
388   98199 2022-12-31  41.916667
389   98199 2023-12-31  37.250000
390   98199 2024-12-31  21.500000

[391 rows x 3 columns]

In [267]:
# Filter for dates of interest (2018-2022)
yearly_inventory_filtered = yearly_inventory[(yearly_inventory['period_end'] >= '2018-01-01') & (yearly_inventory['period_end'] <= '2022-12-31')]
yearly_inventory_filtered

    Zipcode period_end  inventory
6     98101 2018-12-31  47.500000
7     98101 2019-12-31  56.250000
8     98101 2020-12-31  82.000000
9     98101 2021-12-31  59.833333
10    98101 2022-12-31  57.250000
..      ...        ...        ...
384   98199 2018-12-31  47.583333
385   98199 2019-12-31  59.916667
386   98199 2020-12-31  48.083333
387   98199 2021-12-31  33.250000
388   98199 2022-12-31  41.916667

[154 rows x 3 columns]

In [269]:
#Save yearly_inventory for all types of sales for the time frame based on zipcode - ready to graph and analyze
yearly_inventory_filtered.to_csv("../data_frames/yearly_housingsale_available_inventory.csv", index=True)

In [ ]:
#FROM NEW PATH ABOVE TO GRAB ALL YEARS

In [13]:
all_residential_data = metrodata2_sorted[metrodata2_sorted['property_type'] == 'All Residential']
all_residential_data

,period_begin,period_end,Zipcode,property_type,median_sale_price,median_list_price,median_ppsf,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list
859,2014-01-01,2014-03-31,98101,All Residential,733000.0,544500.0,581.318681,43.0,52.0,22.0,0.985031,0.139535
1860,2012-10-01,2012-12-31,98101,All Residential,499750.0,547000.0,494.565089,64.0,52.0,45.0,0.977436,0.125000
1213,2015-07-01,2015-09-30,98101,All Residential,675200.0,584995.0,708.075773,115.0,72.0,61.0,1.002584,0.130435
265,2018-04-01,2018-06-30,98101,All Residential,780500.0,795000.0,824.403941,72.0,88.0,61.0,1.000114,0.291667
263,2013-03-01,2013-05-31,98101,All Residential,540000.0,490000.0,567.226891,61.0,58.0,54.0,0.981864,0.081967
...,...,...,...,...,...,...,...,...,...,...,...,...
13534,2012-04-01,2012-06-30,98199,All Residential,494000.0,549500.0,254.237288,113.0,131.0,82.0,0.991403,0.265487
13482,2017-06-01,2017-08-31,98199,All Residential,845000.0,800000.0,441.866792,166.0,173.0,30.0,1.034883,0.439759
10684,2020-10-01,2020-12-31,98199,All Residential,1009500.0,935000.0,492.063657,122.0,109.0,37.0,0.998818,0.295082
13446,2015-09-01,2015-11-30,98199,All Residential,645000.0,702450.0,346.428571,101.0,112.0,30.0,1.025881,0.495050
16045,2019-04-01,2019-06-30,98199,All Residential,900000.0,944000.0,462.962963,137.0,205.0,94.0,1.005201,0.350365

In [14]:
all_residential_data.set_index('period_end', inplace=True)

In [15]:
ALLyearly_inventory = all_residential_data.groupby('Zipcode').resample('Y')['inventory'].mean()
ALLyearly_inventory = ALLyearly_inventory.reset_index()
ALLyearly_inventory

    Zipcode period_end  inventory
0     98101 2012-12-31  53.400000
1     98101 2013-12-31  38.500000
2     98101 2014-12-31  26.666667
3     98101 2015-12-31  43.833333
4     98101 2016-12-31  33.916667
..      ...        ...        ...
386   98199 2020-12-31  48.083333
387   98199 2021-12-31  33.250000
388   98199 2022-12-31  41.916667
389   98199 2023-12-31  37.250000
390   98199 2024-12-31  21.500000

[391 rows x 3 columns]

In [1]:
# yearly_inventory

In [16]:
#Save yearly_inventory for all types of sales for the time frame based on zipcode - ready to graph and analyze
ALLyearly_inventory.to_csv("../data_frames/ALLYEARS_housingsale_available_inventory.csv", index=True)

In [ ]:
#FROM NEW PATH TO GO BY GROUP

In [262]:
typed_residential_data = metrodata2_sorted[metrodata2_sorted['property_type'] != 'All Residential']
typed_residential_data

,period_begin,period_end,Zipcode,property_type,median_sale_price,median_list_price,median_ppsf,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list
651,2023-05-01,2023-07-31,98101,Condo/Co-op,711386.0,730750.0,846.443317,56.0,92.0,63.0,0.977239,0.160714
281,2017-09-01,2017-11-30,98101,Condo/Co-op,675000.0,685000.0,738.993711,47.0,59.0,29.0,1.033780,0.531915
1863,2019-10-01,2019-12-31,98101,Condo/Co-op,620000.0,645000.0,771.130381,44.0,36.0,37.0,0.976960,0.022727
7951,2017-08-01,2017-10-31,98101,Condo/Co-op,720000.0,810000.0,769.230769,43.0,67.0,32.0,1.046508,0.604651
11195,2022-02-01,2022-04-30,98101,Condo/Co-op,750000.0,719900.0,841.544880,81.0,115.0,55.0,0.999535,0.271605
...,...,...,...,...,...,...,...,...,...,...,...,...
13452,2013-03-01,2013-05-31,98199,Single Family Residential,662500.0,675000.0,281.984974,92.0,113.0,40.0,1.020626,0.532609
2120,2020-03-01,2020-05-31,98199,Single Family Residential,1205000.0,1195000.0,472.000000,71.0,92.0,29.0,1.013841,0.408451
5263,2016-07-01,2016-09-30,98199,Multi-Family (2-4 Unit),1130000.0,599950.0,290.291262,5.0,3.0,1.0,1.001265,0.400000
16081,2020-08-01,2020-10-31,98199,Townhouse,730000.0,744950.0,507.845745,23.0,28.0,14.0,0.999925,0.217391
7774,2021-04-01,2021-06-30,98199,Single Family Residential,1410000.0,1398000.0,577.777778,117.0,146.0,29.0,1.078041,0.606838

In [242]:
# Sort by period_end and group by unique zipcode
property_type_grouped_data = metrodata2.groupby(['Zipcode', 'property_type'])
property_type_grouped_data

In [ ]:
#

In [136]:
# Sort by period_end and group by unique zipcode
# metrodata2['inventory'] = metrodata2['inventory'].fillna(0)
# metrodata2_sorted =  metrodata2.sort_values(by='period_end')
groupedmetrodata2_sorted = metrodata2_sorted.groupby('region')
groupedmetrodata2_sorted.head()

,period_begin,period_end,region,property_type,median_sale_price,median_list_price,median_ppsf,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list
16556,2012-01-01,2012-03-31,Zip Code: 98105,All Residential,556000.0,539950.0,270.175439,47.0,75.0,41.0,0.975642,0.148936
12764,2012-01-01,2012-03-31,Zip Code: 98105,Single Family Residential,662500.0,599500.0,271.429382,36.0,56.0,21.0,0.976863,0.194444
5438,2012-01-01,2012-03-31,Zip Code: 98116,Condo/Co-op,252250.0,235000.0,250.265055,18.0,27.0,23.0,0.962819,0.055556
5427,2012-01-01,2012-03-31,Zip Code: 98144,Condo/Co-op,185750.0,244900.0,221.331884,6.0,24.0,33.0,0.994658,0.166667
16913,2012-01-01,2012-03-31,Zip Code: 98199,Single Family Residential,530000.0,594500.0,250.000000,45.0,68.0,58.0,0.983099,0.200000
...,...,...,...,...,...,...,...,...,...,...,...,...
11881,2017-01-01,2017-03-31,Zip Code: 98185,Single Family Residential,260000.0,NaN,317.073171,1.0,NaN,0.0,0.945455,0.000000
8325,2017-01-01,2017-03-31,Zip Code: 98185,All Residential,260000.0,NaN,317.073171,1.0,NaN,0.0,0.945455,0.000000
8112,2017-02-01,2017-04-30,Zip Code: 98185,All Residential,260000.0,NaN,317.073171,1.0,NaN,0.0,0.945455,0.000000
3219,2017-02-01,2017-04-30,Zip Code: 98185,Single Family Residential,260000.0,NaN,317.073171,1.0,NaN,0.0,0.945455,0.000000
5955,2017-03-01,2017-05-31,Zip Code: 98185,Single Family Residential,260000.0,NaN,317.073171,1.0,NaN,0.0,0.945455,0.000000

In [144]:
# Cool Function to chaneg the date time (dt) of period_end to the month
months = metrodata2['period_end'].dt.to_period('M').unique()

# Empty dictionary to store inventory_available_houses for each month and each group(zipcode)

zipcode_and_avail_houses_dict = {zipcode: [] for zipcode in groupedmetrodata2_sorted.groups.keys()}

#For-loop to go through the grouped data to find the zipcode_and_#avail_houses for every month
for zipcode, group in groupedmetrodata2_sorted:
    for month in months:
        available_houses = group[group['period_end'].dt.to_period('M') == month]['inventory'].sum()
        zipcode_and_avail_houses_dict[zipcode].append(available_houses)

#Put this data from the loop into a Dataframe with the available_houses for each zipcode by datetime
total_house_inventory = pd.DataFrame(zipcode_and_avail_houses_dict, index=months)

# Transpose Dataframe. The df.T will switch columns and rows
total_house_inventory = total_house_inventory.T
total_house_inventory = total_house_inventory.sort_index(axis=1)

In [146]:


total_house_inventory.head()

,2012-03,2012-04,2012-05,2012-06,2012-07,2012-08,2012-09,2012-10,2012-11,2012-12,...,2023-05,2023-06,2023-07,2023-08,2023-09,2023-10,2023-11,2023-12,2024-01,2024-02
Zip Code: 98101,107.0,119.0,105.0,119.0,116.0,106.0,120.0,96.0,86.0,90.0,...,118.0,140.0,126.0,134.0,150.0,142.0,118.0,110.0,106.0,118.0
Zip Code: 98102,118.0,138.0,124.0,148.0,132.0,118.0,122.0,94.0,102.0,88.0,...,108.0,109.0,103.0,126.0,145.0,124.0,94.0,64.0,73.0,88.0
Zip Code: 98103,178.0,188.0,192.0,190.0,208.0,200.0,226.0,162.0,130.0,94.0,...,108.0,136.0,122.0,146.0,184.0,174.0,122.0,72.0,80.0,94.0
Zip Code: 98104,36.0,34.0,40.0,47.0,35.0,33.0,33.0,33.0,27.0,25.0,...,64.0,66.0,76.0,68.0,76.0,72.0,70.0,52.0,56.0,54.0
Zip Code: 98105,82.0,86.0,102.0,110.0,130.0,110.0,98.0,94.0,84.0,66.0,...,76.0,78.0,92.0,88.0,108.0,84.0,70.0,53.0,75.0,70.0

In [147]:
# Save the data for the total_housing_availability of homes in seattle zipcodes by month
total_house_inventory.to_csv("../data_frames/total_housing_availability_by_month.csv", index=True)

# Section Housing Availability

In [131]:
filepath_metrodata2 = "../data_sources/redfin_by_zipcode.csv"
metrodata2 = pd.read_csv(filepath_metrodata2)
metrodata2.head()

,period_begin,period_end,region,property_type,median_sale_price,median_list_price,median_ppsf,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list
0,2018-03-01,2018-05-31,Zip Code: 98121,All Residential,667500.0,625000.0,860.121526,98.0,145.0,52.0,1.037550,0.520408
1,2014-05-01,2014-07-31,Zip Code: 98103,All Residential,539000.0,535000.0,318.695652,244.0,283.0,89.0,1.030420,0.545082
2,2014-09-01,2014-11-30,Zip Code: 98175,Townhouse,360000.0,NaN,260.680666,1.0,NaN,NaN,0.986301,0.000000
3,2013-11-01,2014-01-31,Zip Code: 98103,Multi-Family (2-4 Unit),570500.0,850000.0,244.882917,2.0,1.0,4.0,0.969471,0.000000
4,2018-09-01,2018-11-30,Zip Code: 98122,Townhouse,742500.0,749000.0,546.105168,34.0,46.0,18.0,0.989249,0.088235

In [152]:
metrodata2 = metrodata2[[
    'period_begin',
    'period_end',
    'region',
    'property_type',
    'median_sale_price',
    'median_list_price',
    'median_ppsf',
    'homes_sold',
    'new_listings',
    'inventory',
    'avg_sale_to_list',
    'sold_above_list'
]]

In [153]:
property_types = metrodata2['property_type'].unique()
print(property_types)

['All Residential' 'Townhouse' 'Multi-Family (2-4 Unit)' 'Condo/Co-op'
 'Single Family Residential']

In [154]:
#Change the period_end and period_start series to date time from string
metrodata2['period_begin'] = pd.to_datetime(metrodata2['period_begin'])
metrodata2['period_end'] = pd.to_datetime(metrodata2['period_end'])
# metrodata2.sort_values(by = 'period_end', ascending=True)
metrodata2

,period_begin,period_end,region,property_type,median_sale_price,median_list_price,median_ppsf,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list
0,2018-03-01,2018-05-31,Zip Code: 98121,All Residential,667500.0,625000.0,860.121526,98.0,145.0,52.0,1.037550,0.520408
1,2014-05-01,2014-07-31,Zip Code: 98103,All Residential,539000.0,535000.0,318.695652,244.0,283.0,89.0,1.030420,0.545082
2,2014-09-01,2014-11-30,Zip Code: 98175,Townhouse,360000.0,NaN,260.680666,1.0,NaN,0.0,0.986301,0.000000
3,2013-11-01,2014-01-31,Zip Code: 98103,Multi-Family (2-4 Unit),570500.0,850000.0,244.882917,2.0,1.0,4.0,0.969471,0.000000
4,2018-09-01,2018-11-30,Zip Code: 98122,Townhouse,742500.0,749000.0,546.105168,34.0,46.0,18.0,0.989249,0.088235
...,...,...,...,...,...,...,...,...,...,...,...,...
17000,2019-12-01,2020-02-29,Zip Code: 98108,Townhouse,543750.0,541500.0,438.266981,8.0,16.0,8.0,0.990874,0.000000
17001,2016-03-01,2016-05-31,Zip Code: 98146,Condo/Co-op,178000.0,167500.0,154.782609,5.0,6.0,5.0,1.007034,0.400000
17002,2022-03-01,2022-05-31,Zip Code: 98112,Condo/Co-op,715500.0,659999.0,790.378007,21.0,25.0,4.0,1.033408,0.571429
17003,2015-07-01,2015-09-30,Zip Code: 98146,Condo/Co-op,249000.0,261500.0,271.077110,6.0,10.0,2.0,1.026968,0.666667
17004,2023-04-01,2023-06-30,Zip Code: 98109,Condo/Co-op,505000.0,581975.0,594.333333,39.0,54.0,38.0,0.987369,0.128205

In [155]:
# Sort by period_end and group by unique zipcode AND type of property
metrodata2['inventory'] = metrodata2['inventory'].fillna(0)
metrodata2_sorted =  metrodata2.sort_values(by='period_end')
groupedmetrodata2_sorted = metrodata2_sorted.groupby(['region', 'property_type'])
groupedmetrodata2_sorted.head()
# df.groupby(col1)[col2]

,period_begin,period_end,region,property_type,median_sale_price,median_list_price,median_ppsf,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list
16556,2012-01-01,2012-03-31,Zip Code: 98105,All Residential,556000.0,539950.0,270.175439,47.0,75.0,41.0,0.975642,0.148936
12764,2012-01-01,2012-03-31,Zip Code: 98105,Single Family Residential,662500.0,599500.0,271.429382,36.0,56.0,21.0,0.976863,0.194444
5438,2012-01-01,2012-03-31,Zip Code: 98116,Condo/Co-op,252250.0,235000.0,250.265055,18.0,27.0,23.0,0.962819,0.055556
5427,2012-01-01,2012-03-31,Zip Code: 98144,Condo/Co-op,185750.0,244900.0,221.331884,6.0,24.0,33.0,0.994658,0.166667
16913,2012-01-01,2012-03-31,Zip Code: 98199,Single Family Residential,530000.0,594500.0,250.000000,45.0,68.0,58.0,0.983099,0.200000
...,...,...,...,...,...,...,...,...,...,...,...,...
3932,2021-03-01,2021-05-31,Zip Code: 98185,Single Family Residential,459000.0,459000.0,628.767123,1.0,1.0,0.0,1.000000,0.000000
3274,2021-04-01,2021-06-30,Zip Code: 98185,Single Family Residential,459000.0,459000.0,628.767123,1.0,1.0,0.0,1.000000,0.000000
1292,2021-04-01,2021-06-30,Zip Code: 98185,All Residential,459000.0,459000.0,628.767123,1.0,1.0,0.0,1.000000,0.000000
5674,2021-09-01,2021-11-30,Zip Code: 98101,Townhouse,1387500.0,1345000.0,685.798157,2.0,4.0,1.0,1.030466,0.500000
736,2021-10-01,2021-12-31,Zip Code: 98101,Townhouse,1345000.0,1295000.0,685.798157,4.0,4.0,0.0,1.016900,0.500000

In [156]:
groupedmetrodata2_sorted.fillna(0, inplace=True)

Empty DataFrame
Columns: []
Index: []

In [157]:
# Cool Function to chaneg the date time (dt) of period_end to the month
months = metrodata2['period_end'].dt.to_period('M').unique()

# Empty dictionary to store available houses for each property type for each month and each group(zipcode)
avail_houses_by_type_dict = {zipcode: [] for zipcode in groupedmetrodata2_sorted.groups.keys()}



#For-loop to go through the grouped data to find the mean_median_sale_price for every quarter
for (zipcode, property_type), group in groupedmetrodata2_sorted:
    avail_houses_by_type_dict[(zipcode, property_type)] = []
    for month in months:
        available_houses = group[group['period_end'].dt.to_period('M') == month]['inventory'].sum()
        avail_houses_by_type_dict[(zipcode, property_type)].append(available_houses)

        
index = pd.MultiIndex.from_tuples(avail_houses_by_type_dict.keys(), names=['zipcode', 'property_type'])


#Put this data from the loop into a Dataframe with the number of available_house for each propertytype and zipcode by month
total_house_inventory_for_property_type = pd.DataFrame(avail_houses_by_type_dict.values(), index=index, columns=months)


# Transpose Dataframe. The df.T will switch columns and rows
# total_house_inventory_for_property_type = total_house_inventory_for_property_type.T

#Sort by the multiindex
total_house_inventory_for_property_type = total_house_inventory_for_property_type.sort_index()

In [158]:
total_house_inventory_for_property_type

                                           2018-05  2014-07  2014-11  2014-01  \
zipcode         property_type
Zip Code: 98101 All Residential               61.0     39.0     19.0     19.0
                Condo/Co-op                   61.0     39.0     19.0     19.0
                Single Family Residential      0.0      0.0      0.0      0.0
                Townhouse                      0.0      0.0      0.0      0.0
Zip Code: 98102 All Residential               36.0     50.0     33.0     37.0
...                                            ...      ...      ...      ...
Zip Code: 98199 All Residential               40.0     84.0     39.0     44.0
                Condo/Co-op                    7.0     12.0      3.0      1.0
                Multi-Family (2-4 Unit)        2.0      5.0      0.0      0.0
                Single Family Residential     29.0     59.0     34.0     38.0
                Townhouse                      2.0      8.0      2.0      3.0

                                           2018-11  2022-03  2020-09  2012-09  \
zipcode         property_type
Zip Code: 98101 All Residential               50.0     49.0    130.0     60.0
                Condo/Co-op                   50.0     49.0    130.0     60.0
                Single Family Residential      0.0      0.0      0.0      0.0
                Townhouse                      0.0      0.0      0.0      0.0
Zip Code: 98102 All Residential               58.0     31.0    120.0     61.0
...                                            ...      ...      ...      ...
Zip Code: 98199 All Residential               55.0     18.0     65.0     87.0
                Condo/Co-op                   13.0      3.0     11.0     15.0
                Multi-Family (2-4 Unit)        1.0      0.0      3.0      2.0
                Single Family Residential     32.0     12.0     42.0     59.0
                Townhouse                      9.0      3.0      9.0     11.0

                                           2014-06  2023-12  ...  2018-01  \
zipcode         property_type                                ...
Zip Code: 98101 All Residential               31.0     55.0  ...     18.0
                Condo/Co-op                   31.0     55.0  ...     18.0
                Single Family Residential      0.0      0.0  ...      0.0
                Townhouse                      0.0      0.0  ...      0.0
Zip Code: 98102 All Residential               51.0     32.0  ...     20.0
...                                            ...      ...  ...      ...
Zip Code: 98199 All Residential               70.0     21.0  ...     21.0
                Condo/Co-op                   11.0      4.0  ...      5.0
                Multi-Family (2-4 Unit)        5.0      0.0  ...      0.0
                Single Family Residential     49.0     12.0  ...     15.0
                Townhouse                      5.0      5.0  ...      1.0

                                           2015-08  2022-02  2020-11  2013-10  \
zipcode         property_type
Zip Code: 98101 All Residential               57.0     44.0     89.0     38.0
                Condo/Co-op                   57.0     44.0     89.0     38.0
                Single Family Residential      0.0      0.0      0.0      0.0
                Townhouse                      0.0      0.0      0.0      0.0
Zip Code: 98102 All Residential               35.0     29.0    100.0     57.0
...                                            ...      ...      ...      ...
Zip Code: 98199 All Residential               37.0     13.0     61.0     76.0
                Condo/Co-op                    4.0      4.0     13.0     13.0
                Multi-Family (2-4 Unit)        1.0      0.0      4.0      2.0
                Single Family Residential     27.0      8.0     32.0     53.0
                Townhouse                      5.0      1.0     12.0      8.0

                                           2015-06  2019-07  2016-08  2022-09  \
zipcode         property_type
Zip Code: 98101 All Residential               52.0     56.0     34.0     62.0
                Condo/Co-op                   52.0     56.0     34.0     62.0
                Single Family Residential      0.0      0.0      0.0      0.0
                Townhouse                      0.0      0.0      0.0      0.0
Zip Code: 98102 All Residential               36.0     97.0     40.0     54.0
...                                            ...      ...      ...      ...
Zip Code: 98199 All Residential               36.0     73.0     45.0     70.0
                Condo/Co-op                    6.0     13.0      7.0     11.0
                Multi-Family (2-4 Unit)        1.0      0.0      0.0      0.0
                Single Family Residential     26.0     50.0     35.0     41.0
                Townhouse                      3.0      8.0      3.0     18.0

                                           2022-12
zipcode         property_type
Zip Code: 98101 All Residential               44.0
                Condo/Co-op                   44.0
                Single Family Residential      0.0
                Townhouse                      0.0
Zip Code: 98102 All Residential               33.0
...                                            ...
Zip Code: 98199 All Residential               33.0
                Condo/Co-op                    6.0
                Multi-Family (2-4 Unit)        1.0
                Single Family Residential     15.0
                Townhouse                     11.0

[142 rows x 144 columns]

In [203]:
# Save the data for the housing_availability_by_zipcode_property_type of homes in seattle zipcodes by month
total_house_inventory_for_property_type.to_csv("../data_frames/housing_availability_by_zip_and_property_type.csv", index=True)

In [219]:
inventorydf = total_house_inventory_for_property_type.copy()
inventorydf

                                           2018-05  2014-07  2014-11  2014-01  \
zipcode         property_type
Zip Code: 98101 All Residential               61.0     39.0     19.0     19.0
                Condo/Co-op                   61.0     39.0     19.0     19.0
                Single Family Residential      0.0      0.0      0.0      0.0
                Townhouse                      0.0      0.0      0.0      0.0
Zip Code: 98102 All Residential               36.0     50.0     33.0     37.0
...                                            ...      ...      ...      ...
Zip Code: 98199 All Residential               40.0     84.0     39.0     44.0
                Condo/Co-op                    7.0     12.0      3.0      1.0
                Multi-Family (2-4 Unit)        2.0      5.0      0.0      0.0
                Single Family Residential     29.0     59.0     34.0     38.0
                Townhouse                      2.0      8.0      2.0      3.0

                                           2018-11  2022-03  2020-09  2012-09  \
zipcode         property_type
Zip Code: 98101 All Residential               50.0     49.0    130.0     60.0
                Condo/Co-op                   50.0     49.0    130.0     60.0
                Single Family Residential      0.0      0.0      0.0      0.0
                Townhouse                      0.0      0.0      0.0      0.0
Zip Code: 98102 All Residential               58.0     31.0    120.0     61.0
...                                            ...      ...      ...      ...
Zip Code: 98199 All Residential               55.0     18.0     65.0     87.0
                Condo/Co-op                   13.0      3.0     11.0     15.0
                Multi-Family (2-4 Unit)        1.0      0.0      3.0      2.0
                Single Family Residential     32.0     12.0     42.0     59.0
                Townhouse                      9.0      3.0      9.0     11.0

                                           2014-06  2023-12  ...  2018-01  \
zipcode         property_type                                ...
Zip Code: 98101 All Residential               31.0     55.0  ...     18.0
                Condo/Co-op                   31.0     55.0  ...     18.0
                Single Family Residential      0.0      0.0  ...      0.0
                Townhouse                      0.0      0.0  ...      0.0
Zip Code: 98102 All Residential               51.0     32.0  ...     20.0
...                                            ...      ...  ...      ...
Zip Code: 98199 All Residential               70.0     21.0  ...     21.0
                Condo/Co-op                   11.0      4.0  ...      5.0
                Multi-Family (2-4 Unit)        5.0      0.0  ...      0.0
                Single Family Residential     49.0     12.0  ...     15.0
                Townhouse                      5.0      5.0  ...      1.0

                                           2015-08  2022-02  2020-11  2013-10  \
zipcode         property_type
Zip Code: 98101 All Residential               57.0     44.0     89.0     38.0
                Condo/Co-op                   57.0     44.0     89.0     38.0
                Single Family Residential      0.0      0.0      0.0      0.0
                Townhouse                      0.0      0.0      0.0      0.0
Zip Code: 98102 All Residential               35.0     29.0    100.0     57.0
...                                            ...      ...      ...      ...
Zip Code: 98199 All Residential               37.0     13.0     61.0     76.0
                Condo/Co-op                    4.0      4.0     13.0     13.0
                Multi-Family (2-4 Unit)        1.0      0.0      4.0      2.0
                Single Family Residential     27.0      8.0     32.0     53.0
                Townhouse                      5.0      1.0     12.0      8.0

                                           2015-06  2019-07  2016-08  2022-09  \
zipcode         property_type
Zip Code: 98101 All Residential               52.0     56.0     34.0     62.0
                Condo/Co-op                   52.0     56.0     34.0     62.0
                Single Family Residential      0.0      0.0      0.0      0.0
                Townhouse                      0.0      0.0      0.0      0.0
Zip Code: 98102 All Residential               36.0     97.0     40.0     54.0
...                                            ...      ...      ...      ...
Zip Code: 98199 All Residential               36.0     73.0     45.0     70.0
                Condo/Co-op                    6.0     13.0      7.0     11.0
                Multi-Family (2-4 Unit)        1.0      0.0      0.0      0.0
                Single Family Residential     26.0     50.0     35.0     41.0
                Townhouse                      3.0      8.0      3.0     18.0

                                           2022-12
zipcode         property_type
Zip Code: 98101 All Residential               44.0
                Condo/Co-op                   44.0
                Single Family Residential      0.0
                Townhouse                      0.0
Zip Code: 98102 All Residential               33.0
...                                            ...
Zip Code: 98199 All Residential               33.0
                Condo/Co-op                    6.0
                Multi-Family (2-4 Unit)        1.0
                Single Family Residential     15.0
                Townhouse                     11.0

[142 rows x 144 columns]

In [222]:
# Convert the index level 'zipcode' to a regular column
inventorydf.reset_index(level='zipcode', inplace=True)

In [223]:
# Extract zip codes from the existing index and overwrite the index with the modified values
inventorydf.index = inventorydf.index.str.extract(r'(\d{5})', expand=False)
# inventorydf['zipcode'] = inventorydf['zipcode'].str.extract(r'(\d{5})')

# Convert column names to datetime

In [224]:
inventorydf

,zipcode,2018-05,2014-07,2014-11,2014-01,2018-11,2022-03,2020-09,2012-09,2014-06,...,2018-01,2015-08,2022-02,2020-11,2013-10,2015-06,2019-07,2016-08,2022-09,2022-12
property_type,,,,,,,,,,,,,,,,,,,,,
NaN,Zip Code: 98101,61.0,39.0,19.0,19.0,50.0,49.0,130.0,60.0,31.0,...,18.0,57.0,44.0,89.0,38.0,52.0,56.0,34.0,62.0,44.0
NaN,Zip Code: 98101,61.0,39.0,19.0,19.0,50.0,49.0,130.0,60.0,31.0,...,18.0,57.0,44.0,89.0,38.0,52.0,56.0,34.0,62.0,44.0
NaN,Zip Code: 98101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NaN,Zip Code: 98101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NaN,Zip Code: 98102,36.0,50.0,33.0,37.0,58.0,31.0,120.0,61.0,51.0,...,20.0,35.0,29.0,100.0,57.0,36.0,97.0,40.0,54.0,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,Zip Code: 98199,40.0,84.0,39.0,44.0,55.0,18.0,65.0,87.0,70.0,...,21.0,37.0,13.0,61.0,76.0,36.0,73.0,45.0,70.0,33.0
NaN,Zip Code: 98199,7.0,12.0,3.0,1.0,13.0,3.0,11.0,15.0,11.0,...,5.0,4.0,4.0,13.0,13.0,6.0,13.0,7.0,11.0,6.0
NaN,Zip Code: 98199,2.0,5.0,0.0,0.0,1.0,0.0,3.0,2.0,5.0,...,0.0,1.0,0.0,4.0,2.0,1.0,0.0,0.0,0.0,1.0
NaN,Zip Code: 98199,29.0,59.0,34.0,38.0,32.0,12.0,42.0,59.0,49.0,...,15.0,27.0,8.0,32.0,53.0,26.0,50.0,35.0,41.0,15.0
NaN,Zip Code: 98199,2.0,8.0,2.0,3.0,9.0,3.0,9.0,11.0,5.0,...,1.0,5.0,1.0,12.0,8.0,3.0,8.0,3.0,18.0,11.0

In [217]:
inventorydf.columns = pd.to_datetime(inventorydf.columns, format='%Y-%m')

ValueError: time data "zipcode" doesn't match format "%Y-%m", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [208]:
inventorydf = inventorydf.sort_index(axis=1)

# inventorydf.columns = inventorydf.columns.to_timestamp()
# inventorydf.columns = pd.to_datetime(inventorydf.columns)
# df_sorted = df.sort_index(level='zipcode', axis=0)

TypeError: '<' not supported between instances of 'Period' and 'str'

In [197]:
inventorydf

                                           2012-03-01  2012-04-01  2012-05-01  \
zipcode         property_type
Zip Code: 98101 All Residential                  54.0        60.0        53.0
                Condo/Co-op                      53.0        59.0        52.0
                Single Family Residential         0.0         0.0         0.0
                Townhouse                         0.0         0.0         0.0
Zip Code: 98102 All Residential                  59.0        69.0        62.0
...                                               ...         ...         ...
Zip Code: 98199 All Residential                  85.0        83.0        80.0
                Condo/Co-op                      21.0        21.0        17.0
                Multi-Family (2-4 Unit)           2.0         0.0         2.0
                Single Family Residential        58.0        52.0        56.0
                Townhouse                         4.0        10.0         5.0

                                           2012-06-01  2012-07-01  2012-08-01  \
zipcode         property_type
Zip Code: 98101 All Residential                  60.0        58.0        53.0
                Condo/Co-op                      59.0        58.0        53.0
                Single Family Residential         0.0         0.0         0.0
                Townhouse                         0.0         0.0         0.0
Zip Code: 98102 All Residential                  77.0        66.0        59.0
...                                               ...         ...         ...
Zip Code: 98199 All Residential                  82.0        92.0        82.0
                Condo/Co-op                       9.0        13.0        11.0
                Multi-Family (2-4 Unit)           2.0         2.0         2.0
                Single Family Residential        67.0        69.0        63.0
                Townhouse                         4.0         8.0         6.0

                                           2012-09-01  2012-10-01  2012-11-01  \
zipcode         property_type
Zip Code: 98101 All Residential                  60.0        48.0        43.0
                Condo/Co-op                      60.0        48.0        43.0
                Single Family Residential         0.0         0.0         0.0
                Townhouse                         0.0         0.0         0.0
Zip Code: 98102 All Residential                  61.0        47.0        51.0
...                                               ...         ...         ...
Zip Code: 98199 All Residential                  87.0        73.0        67.0
                Condo/Co-op                      15.0        16.0        13.0
                Multi-Family (2-4 Unit)           2.0         2.0         0.0
                Single Family Residential        59.0        49.0        48.0
                Townhouse                        11.0         6.0         4.0

                                           2012-12-01  ...  2023-05-01  \
zipcode         property_type                          ...
Zip Code: 98101 All Residential                  45.0  ...        59.0
                Condo/Co-op                      45.0  ...        59.0
                Single Family Residential         0.0  ...         0.0
                Townhouse                         0.0  ...         0.0
Zip Code: 98102 All Residential                  44.0  ...        54.0
...                                               ...  ...         ...
Zip Code: 98199 All Residential                  49.0  ...        40.0
                Condo/Co-op                      10.0  ...         7.0
                Multi-Family (2-4 Unit)           0.0  ...         0.0
                Single Family Residential        35.0  ...        22.0
                Townhouse                         4.0  ...        10.0

                                           2023-06-01  2023-07-01  2023-08-01  \
zipcode         property_type
Zip Code: 98101 All Residential                  70.0        63.0        67.0
                Condo/Co-op                      70.0        63.0        67.0
                Single Family Residential         0.0         0.0         0.0
                Townhouse                         0.0         0.0         0.0
Zip Code: 98102 All Residential                  57.0        54.0        66.0
...                                               ...         ...         ...
Zip Code: 98199 All Residential                  44.0        41.0        46.0
                Condo/Co-op                       4.0         2.0         4.0
                Multi-Family (2-4 Unit)           0.0         0.0         2.0
                Single Family Residential        27.0        26.0        27.0
                Townhouse                        11.0        12.0        13.0

                                           2023-09-01  2023-10-01  2023-11-01  \
zipcode         property_type
Zip Code: 98101 All Residential                  75.0        71.0        59.0
                Condo/Co-op                      75.0        71.0        59.0
                Single Family Residential         0.0         0.0         0.0
                Townhouse                         0.0         0.0         0.0
Zip Code: 98102 All Residential                  74.0        62.0        47.0
...                                               ...         ...         ...
Zip Code: 98199 All Residential                  45.0        50.0        41.0
                Condo/Co-op                       4.0         6.0         9.0
                Multi-Family (2-4 Unit)           2.0         0.0         0.0
                Single Family Residential        29.0        33.0        24.0
                Townhouse                        10.0        11.0         8.0

                                           2023-12-01  2024-01-01  2024-02-01
zipcode         property_type
Zip Code: 98101 All Residential                  55.0        53.0        59.0
                Condo/Co-op                      55.0        53.0        59.0
                Single Family Residential         0.0         0.0         0.0
                Townhouse                         0.0         0.0         0.0
Zip Code: 98102 All Residential                  32.0        38.0        46.0
...                                               ...         ...         ...
Zip Code: 98199 All Residential                  21.0        17.0        26.0
                Condo/Co-op                       4.0         4.0         2.0
                Multi-Family (2-4 Unit)           0.0         1.0         0.0
                Single Family Residential        12.0        11.0        23.0
                Townhouse                         5.0         1.0         1.0

[142 rows x 144 columns]

In [180]:
list(inventorydf.columns)

[Timestamp('2012-03-01 00:00:00'),
 Timestamp('2012-04-01 00:00:00'),
 Timestamp('2012-05-01 00:00:00'),
 Timestamp('2012-06-01 00:00:00'),
 Timestamp('2012-07-01 00:00:00'),
 Timestamp('2012-08-01 00:00:00'),
 Timestamp('2012-09-01 00:00:00'),
 Timestamp('2012-10-01 00:00:00'),
 Timestamp('2012-11-01 00:00:00'),
 Timestamp('2012-12-01 00:00:00'),
 Timestamp('2013-01-01 00:00:00'),
 Timestamp('2013-02-01 00:00:00'),
 Timestamp('2013-03-01 00:00:00'),
 Timestamp('2013-04-01 00:00:00'),
 Timestamp('2013-05-01 00:00:00'),
 Timestamp('2013-06-01 00:00:00'),
 Timestamp('2013-07-01 00:00:00'),
 Timestamp('2013-08-01 00:00:00'),
 Timestamp('2013-09-01 00:00:00'),
 Timestamp('2013-10-01 00:00:00'),
 Timestamp('2013-11-01 00:00:00'),
 Timestamp('2013-12-01 00:00:00'),
 Timestamp('2014-01-01 00:00:00'),
 Timestamp('2014-02-01 00:00:00'),
 Timestamp('2014-03-01 00:00:00'),
 Timestamp('2014-04-01 00:00:00'),
 Timestamp('2014-05-01 00:00:00'),
 Timestamp('2014-06-01 00:00:00'),
 Timestamp('2014-07-01 00:00:00'),
 Timestamp('2014-08-01 00:00:00'),
 Timestamp('2014-09-01 00:00:00'),
 Timestamp('2014-10-01 00:00:00'),
 Timestamp('2014-11-01 00:00:00'),
 Timestamp('2014-12-01 00:00:00'),
 Timestamp('2015-01-01 00:00:00'),
 Timestamp('2015-02-01 00:00:00'),
 Timestamp('2015-03-01 00:00:00'),
 Timestamp('2015-04-01 00:00:00'),
 Timestamp('2015-05-01 00:00:00'),
 Timestamp('2015-06-01 00:00:00'),
 Timestamp('2015-07-01 00:00:00'),
 Timestamp('2015-08-01 00:00:00'),
 Timestamp('2015-09-01 00:00:00'),
 Timestamp('2015-10-01 00:00:00'),
 Timestamp('2015-11-01 00:00:00'),
 Timestamp('2015-12-01 00:00:00'),
 Timestamp('2016-01-01 00:00:00'),
 Timestamp('2016-02-01 00:00:00'),
 Timestamp('2016-03-01 00:00:00'),
 Timestamp('2016-04-01 00:00:00'),
 Timestamp('2016-05-01 00:00:00'),
 Timestamp('2016-06-01 00:00:00'),
 Timestamp('2016-07-01 00:00:00'),
 Timestamp('2016-08-01 00:00:00'),
 Timestamp('2016-09-01 00:00:00'),
 Timestamp('2016-10-01 00:00:00'),
 Timestamp('2016-11-01 00:00:00'),
 Timestamp('2016-12-01 00:00:00'),
 Timestamp('2017-01-01 00:00:00'),
 Timestamp('2017-02-01 00:00:00'),
 Timestamp('2017-03-01 00:00:00'),
 Timestamp('2017-04-01 00:00:00'),
 Timestamp('2017-05-01 00:00:00'),
 Timestamp('2017-06-01 00:00:00'),
 Timestamp('2017-07-01 00:00:00'),
 Timestamp('2017-08-01 00:00:00'),
 Timestamp('2017-09-01 00:00:00'),
 Timestamp('2017-10-01 00:00:00'),
 Timestamp('2017-11-01 00:00:00'),
 Timestamp('2017-12-01 00:00:00'),
 Timestamp('2018-01-01 00:00:00'),
 Timestamp('2018-02-01 00:00:00'),
 Timestamp('2018-03-01 00:00:00'),
 Timestamp('2018-04-01 00:00:00'),
 Timestamp('2018-05-01 00:00:00'),
 Timestamp('2018-06-01 00:00:00'),
 Timestamp('2018-07-01 00:00:00'),
 Timestamp('2018-08-01 00:00:00'),
 Timestamp('2018-09-01 00:00:00'),
 Timestamp('2018-10-01 00:00:00'),
 Timestamp('2018-11-01 00:00:00'),
 Timestamp('2018-12-01 00:00:00'),
 Timestamp('2019-01-01 00:00:00'),
 Timestamp('2019-02-01 00:00:00'),
 Timestamp('2019-03-01 00:00:00'),
 Timestamp('2019-04-01 00:00:00'),
 Timestamp('2019-05-01 00:00:00'),
 Timestamp('2019-06-01 00:00:00'),
 Timestamp('2019-07-01 00:00:00'),
 Timestamp('2019-08-01 00:00:00'),
 Timestamp('2019-09-01 00:00:00'),
 Timestamp('2019-10-01 00:00:00'),
 Timestamp('2019-11-01 00:00:00'),
 Timestamp('2019-12-01 00:00:00'),
 Timestamp('2020-01-01 00:00:00'),
 Timestamp('2020-02-01 00:00:00'),
 Timestamp('2020-03-01 00:00:00'),
 Timestamp('2020-04-01 00:00:00'),
 Timestamp('2020-05-01 00:00:00'),
 Timestamp('2020-06-01 00:00:00'),
 Timestamp('2020-07-01 00:00:00'),
 Timestamp('2020-08-01 00:00:00'),
 Timestamp('2020-09-01 00:00:00'),
 Timestamp('2020-10-01 00:00:00'),
 Timestamp('2020-11-01 00:00:00'),
 Timestamp('2020-12-01 00:00:00'),
 Timestamp('2021-01-01 00:00:00'),
 Timestamp('2021-02-01 00:00:00'),
 Timestamp('2021-03-01 00:00:00'),
 Timestamp('2021-04-01 00:00:00'),
 Timestamp('2021-05-01 00:00:00'),
 Timestamp('2021-06-01 00:00:00'),
 Timestamp('2021-07-01 00:00:00'),
 Timestamp('2021-08-01 00:00:00'),
 Timestamp('2021-09-01 00:00:00'),
 Timestamp('2021-10-01 00:00:00'),
 Timestamp('2021-11-01 00:00:00'),
 Timestamp('2021-12-01 00:00:00'),
 Timestamp('2022-01-01 00:00:00'),
 Timestamp('2022-02-01 00:00:00'),
 Timestamp('2022-03-01 00:00:00'),
 Timestamp('2022-04-01 00:00:00'),
 Timestamp('2022-05-01 00:00:00'),
 Timestamp('2022-06-01 00:00:00'),
 Timestamp('2022-07-01 00:00:00'),
 Timestamp('2022-08-01 00:00:00'),
 Timestamp('2022-09-01 00:00:00'),
 Timestamp('2022-10-01 00:00:00'),
 Timestamp('2022-11-01 00:00:00'),
 Timestamp('2022-12-01 00:00:00'),
 Timestamp('2023-01-01 00:00:00'),
 Timestamp('2023-02-01 00:00:00'),
 Timestamp('2023-03-01 00:00:00'),
 Timestamp('2023-04-01 00:00:00'),
 Timestamp('2023-05-01 00:00:00'),
 Timestamp('2023-06-01 00:00:00'),
 Timestamp('2023-07-01 00:00:00'),
 Timestamp('2023-08-01 00:00:00'),
 Timestamp('2023-09-01 00:00:00'),
 Timestamp('2023-10-01 00:00:00'),
 Timestamp('2023-11-01 00:00:00'),
 Timestamp('2023-12-01 00:00:00'),
 Timestamp('2024-01-01 00:00:00'),
 Timestamp('2024-02-01 00:00:00')]

In [198]:
# inventorydf.columns = pd.to_datetime(inventorydf.columns)
inventorydf.columns = inventorydf.columns.to_period('Q')

In [191]:
inventorydf.head()

                                           2012Q1  2012Q2  2012Q2  2012Q2  \
zipcode         property_type
Zip Code: 98101 All Residential              54.0    60.0    53.0    60.0
                Condo/Co-op                  53.0    59.0    52.0    59.0
                Single Family Residential     0.0     0.0     0.0     0.0
                Townhouse                     0.0     0.0     0.0     0.0
Zip Code: 98102 All Residential              59.0    69.0    62.0    77.0

                                           2012Q3  2012Q3  2012Q3  2012Q4  \
zipcode         property_type
Zip Code: 98101 All Residential              58.0    53.0    60.0    48.0
                Condo/Co-op                  58.0    53.0    60.0    48.0
                Single Family Residential     0.0     0.0     0.0     0.0
                Townhouse                     0.0     0.0     0.0     0.0
Zip Code: 98102 All Residential              66.0    59.0    61.0    47.0

                                           2012Q4  2012Q4  ...  2023Q2  \
zipcode         property_type                              ...
Zip Code: 98101 All Residential              43.0    45.0  ...    59.0
                Condo/Co-op                  43.0    45.0  ...    59.0
                Single Family Residential     0.0     0.0  ...     0.0
                Townhouse                     0.0     0.0  ...     0.0
Zip Code: 98102 All Residential              51.0    44.0  ...    54.0

                                           2023Q2  2023Q3  2023Q3  2023Q3  \
zipcode         property_type
Zip Code: 98101 All Residential              70.0    63.0    67.0    75.0
                Condo/Co-op                  70.0    63.0    67.0    75.0
                Single Family Residential     0.0     0.0     0.0     0.0
                Townhouse                     0.0     0.0     0.0     0.0
Zip Code: 98102 All Residential              57.0    54.0    66.0    74.0

                                           2023Q4  2023Q4  2023Q4  2024Q1  \
zipcode         property_type
Zip Code: 98101 All Residential              71.0    59.0    55.0    53.0
                Condo/Co-op                  71.0    59.0    55.0    53.0
                Single Family Residential     0.0     0.0     0.0     0.0
                Townhouse                     0.0     0.0     0.0     0.0
Zip Code: 98102 All Residential              62.0    47.0    32.0    38.0

                                           2024Q1
zipcode         property_type
Zip Code: 98101 All Residential              59.0
                Condo/Co-op                  59.0
                Single Family Residential     0.0
                Townhouse                     0.0
Zip Code: 98102 All Residential              46.0

[5 rows x 144 columns]

In [199]:
inventorydf = inventorydf.resample('Q', axis=1).mean()

/var/folders/58/j89y2_691mz0dzk3rc7p_08h0000gp/T/ipykernel_42213/3287294964.py:1: FutureWarning: DataFrame.resample with axis=1 is deprecated. Do `frame.T.resample(...)` without axis instead.
  inventorydf = inventorydf.resample('Q', axis=1).mean()

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [173]:
list(inventorydf.columns)

[Period('2012-03', 'M'),
 Period('2012-04', 'M'),
 Period('2012-05', 'M'),
 Period('2012-06', 'M'),
 Period('2012-07', 'M'),
 Period('2012-08', 'M'),
 Period('2012-09', 'M'),
 Period('2012-10', 'M'),
 Period('2012-11', 'M'),
 Period('2012-12', 'M'),
 Period('2013-01', 'M'),
 Period('2013-02', 'M'),
 Period('2013-03', 'M'),
 Period('2013-04', 'M'),
 Period('2013-05', 'M'),
 Period('2013-06', 'M'),
 Period('2013-07', 'M'),
 Period('2013-08', 'M'),
 Period('2013-09', 'M'),
 Period('2013-10', 'M'),
 Period('2013-11', 'M'),
 Period('2013-12', 'M'),
 Period('2014-01', 'M'),
 Period('2014-02', 'M'),
 Period('2014-03', 'M'),
 Period('2014-04', 'M'),
 Period('2014-05', 'M'),
 Period('2014-06', 'M'),
 Period('2014-07', 'M'),
 Period('2014-08', 'M'),
 Period('2014-09', 'M'),
 Period('2014-10', 'M'),
 Period('2014-11', 'M'),
 Period('2014-12', 'M'),
 Period('2015-01', 'M'),
 Period('2015-02', 'M'),
 Period('2015-03', 'M'),
 Period('2015-04', 'M'),
 Period('2015-05', 'M'),
 Period('2015-06', 'M'),
 Period('2015-07', 'M'),
 Period('2015-08', 'M'),
 Period('2015-09', 'M'),
 Period('2015-10', 'M'),
 Period('2015-11', 'M'),
 Period('2015-12', 'M'),
 Period('2016-01', 'M'),
 Period('2016-02', 'M'),
 Period('2016-03', 'M'),
 Period('2016-04', 'M'),
 Period('2016-05', 'M'),
 Period('2016-06', 'M'),
 Period('2016-07', 'M'),
 Period('2016-08', 'M'),
 Period('2016-09', 'M'),
 Period('2016-10', 'M'),
 Period('2016-11', 'M'),
 Period('2016-12', 'M'),
 Period('2017-01', 'M'),
 Period('2017-02', 'M'),
 Period('2017-03', 'M'),
 Period('2017-04', 'M'),
 Period('2017-05', 'M'),
 Period('2017-06', 'M'),
 Period('2017-07', 'M'),
 Period('2017-08', 'M'),
 Period('2017-09', 'M'),
 Period('2017-10', 'M'),
 Period('2017-11', 'M'),
 Period('2017-12', 'M'),
 Period('2018-01', 'M'),
 Period('2018-02', 'M'),
 Period('2018-03', 'M'),
 Period('2018-04', 'M'),
 Period('2018-05', 'M'),
 Period('2018-06', 'M'),
 Period('2018-07', 'M'),
 Period('2018-08', 'M'),
 Period('2018-09', 'M'),
 Period('2018-10', 'M'),
 Period('2018-11', 'M'),
 Period('2018-12', 'M'),
 Period('2019-01', 'M'),
 Period('2019-02', 'M'),
 Period('2019-03', 'M'),
 Period('2019-04', 'M'),
 Period('2019-05', 'M'),
 Period('2019-06', 'M'),
 Period('2019-07', 'M'),
 Period('2019-08', 'M'),
 Period('2019-09', 'M'),
 Period('2019-10', 'M'),
 Period('2019-11', 'M'),
 Period('2019-12', 'M'),
 Period('2020-01', 'M'),
 Period('2020-02', 'M'),
 Period('2020-03', 'M'),
 Period('2020-04', 'M'),
 Period('2020-05', 'M'),
 Period('2020-06', 'M'),
 Period('2020-07', 'M'),
 Period('2020-08', 'M'),
 Period('2020-09', 'M'),
 Period('2020-10', 'M'),
 Period('2020-11', 'M'),
 Period('2020-12', 'M'),
 Period('2021-01', 'M'),
 Period('2021-02', 'M'),
 Period('2021-03', 'M'),
 Period('2021-04', 'M'),
 Period('2021-05', 'M'),
 Period('2021-06', 'M'),
 Period('2021-07', 'M'),
 Period('2021-08', 'M'),
 Period('2021-09', 'M'),
 Period('2021-10', 'M'),
 Period('2021-11', 'M'),
 Period('2021-12', 'M'),
 Period('2022-01', 'M'),
 Period('2022-02', 'M'),
 Period('2022-03', 'M'),
 Period('2022-04', 'M'),
 Period('2022-05', 'M'),
 Period('2022-06', 'M'),
 Period('2022-07', 'M'),
 Period('2022-08', 'M'),
 Period('2022-09', 'M'),
 Period('2022-10', 'M'),
 Period('2022-11', 'M'),
 Period('2022-12', 'M'),
 Period('2023-01', 'M'),
 Period('2023-02', 'M'),
 Period('2023-03', 'M'),
 Period('2023-04', 'M'),
 Period('2023-05', 'M'),
 Period('2023-06', 'M'),
 Period('2023-07', 'M'),
 Period('2023-08', 'M'),
 Period('2023-09', 'M'),
 Period('2023-10', 'M'),
 Period('2023-11', 'M'),
 Period('2023-12', 'M'),
 Period('2024-01', 'M'),
 Period('2024-02', 'M')]

In [175]:
inventorydf.columns = inventorydf[
'2018-01', 'M'),
 '2018-02', 'M'),
 '2018-03', 'M'),
'2018-04', 'M'),
 Period('2018-05', 'M'),
 Period('2018-06', 'M'),
 Period('2018-07', 'M'),
 Period('2018-08', 'M'),
 Period('2018-09', 'M'),
 Period('2018-10', 'M'),
 Period('2018-11', 'M'),
 Period('2018-12', 'M'),
 Period('2019-01', 'M'),
 Period('2019-02', 'M'),
 Period('2019-03', 'M'),
 Period('2019-04', 'M'),
 Period('2019-05', 'M'),
 Period('2019-06', 'M'),
 Period('2019-07', 'M'),
 Period('2019-08', 'M'),
 Period('2019-09', 'M'),
 Period('2019-10', 'M'),
 Period('2019-11', 'M'),
 Period('2019-12', 'M'),
 Period('2020-01', 'M'),
 Period('2020-02', 'M'),
 Period('2020-03', 'M'),
 Period('2020-04', 'M'),
 Period('2020-05', 'M'),
 Period('2020-06', 'M'),
 Period('2020-07', 'M'),
 Period('2020-08', 'M'),
 Period('2020-09', 'M'),
 Period('2020-10', 'M'),
 Period('2020-11', 'M'),
 Period('2020-12', 'M'),
 Period('2021-01', 'M'),
 Period('2021-02', 'M'),
 Period('2021-03', 'M'),
 Period('2021-04', 'M'),
 Period('2021-05', 'M'),
 Period('2021-06', 'M'),
 Period('2021-07', 'M'),
 Period('2021-08', 'M'),
 Period('2021-09', 'M'),
 Period('2021-10', 'M'),
 Period('2021-11', 'M'),
 Period('2021-12', 'M'),
 Period('2022-01', 'M'),
 Period('2022-02', 'M'),
 Period('2022-03', 'M'),
 Period('2022-04', 'M'),
 Period('2022-05', 'M'),
 Period('2022-06', 'M'),
 Period('2022-07', 'M'),
 Period('2022-08', 'M'),
 Period('2022-09', 'M'),
 Period('2022-10', 'M'),
 Period('2022-11', 'M'),
 Period('2022-12', 'M')]

NameError: name 'Period' is not defined

# Section Rental Filtering

In [98]:
filepath_metrodata2 = "../data_sources/king_county_rental.csv.zip"
rental_csv = pd.read_csv(filepath_metrodata2)
rental_csv.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2015-01-31,...,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29
0,99534,145,98052,zip,WA,WA,Redmond,"Seattle-Tacoma-Bellevue, WA",King County,NaN,...,2389.406076,2407.413148,2417.732657,2407.582999,2386.135635,2362.543944,2342.793871,2331.308076,2354.321273,2384.353490
1,99565,815,98105,zip,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,NaN,...,2286.436079,2315.705835,2340.219275,2356.803648,2350.684313,2328.200090,2298.415649,2304.796452,2319.678014,2328.472768
2,99559,829,98092,zip,WA,WA,NaN,"Seattle-Tacoma-Bellevue, WA",King County,NaN,...,1989.343131,2022.142233,2028.593958,2030.784220,2029.335833,2011.968245,1998.949459,1974.576889,1987.518708,2003.019048
3,99575,857,98115,zip,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,NaN,...,2181.871488,2199.526987,2218.435755,2224.014098,2233.063028,2216.982879,2211.136956,2190.867984,2193.711036,2204.760694
4,99508,862,98023,zip,WA,WA,Federal Way,"Seattle-Tacoma-Bellevue, WA",King County,NaN,...,1910.012848,1935.575801,1964.565702,1962.232322,1943.192864,1936.072215,1927.145717,1938.080172,1903.159434,1912.334649

In [99]:
rental_csv.info

<bound method DataFrame.info of     RegionID  SizeRank  RegionName RegionType StateName State           City  \
0      99534       145       98052        zip        WA    WA        Redmond
1      99565       815       98105        zip        WA    WA        Seattle
2      99559       829       98092        zip        WA    WA            NaN
3      99575       857       98115        zip        WA    WA        Seattle
4      99508       862       98023        zip        WA    WA    Federal Way
..       ...       ...         ...        ...       ...   ...            ...
61     99564      8196       98104        zip        WA    WA        Seattle
62     99539      8461       98057        zip        WA    WA         Renton
63     99546      8621       98065        zip        WA    WA     Snoqualmie
64     99498     11601       98010        zip        WA    WA  Black Diamond
65     99531     12968       98047        zip        WA    WA        Pacific

                          Metro   CountyName  2015-01-31  ...   2023-05-31  \
0   Seattle-Tacoma-Bellevue, WA  King County         NaN  ...  2389.406076
1   Seattle-Tacoma-Bellevue, WA  King County         NaN  ...  2286.436079
2   Seattle-Tacoma-Bellevue, WA  King County         NaN  ...  1989.343131
3   Seattle-Tacoma-Bellevue, WA  King County         NaN  ...  2181.871488
4   Seattle-Tacoma-Bellevue, WA  King County         NaN  ...  1910.012848
..                          ...          ...         ...  ...          ...
61  Seattle-Tacoma-Bellevue, WA  King County         NaN  ...  1985.192339
62  Seattle-Tacoma-Bellevue, WA  King County         NaN  ...  2031.303925
63  Seattle-Tacoma-Bellevue, WA  King County         NaN  ...  2986.068639
64  Seattle-Tacoma-Bellevue, WA  King County         NaN  ...          NaN
65  Seattle-Tacoma-Bellevue, WA  King County         NaN  ...          NaN

     2023-06-30   2023-07-31   2023-08-31   2023-09-30   2023-10-31  \
0   2407.413148  2417.732657  2407.582999  2386.135635  2362.543944
1   2315.705835  2340.219275  2356.803648  2350.684313  2328.200090
2   2022.142233  2028.593958  2030.784220  2029.335833  2011.968245
3   2199.526987  2218.435755  2224.014098  2233.063028  2216.982879
4   1935.575801  1964.565702  1962.232322  1943.192864  1936.072215
..          ...          ...          ...          ...          ...
61  1981.121578  1966.684222  1965.718769  1967.376584  1953.135847
62  2036.990947  2089.785984  2107.725510  2089.205704  2076.641213
63  3049.027788  3117.787168  3157.309953  3209.343019  3135.315959
64          NaN          NaN          NaN          NaN          NaN
65          NaN          NaN          NaN          NaN          NaN

     2023-11-30   2023-12-31   2024-01-31   2024-02-29
0   2342.793871  2331.308076  2354.321273  2384.353490
1   2298.415649  2304.796452  2319.678014  2328.472768
2   1998.949459  1974.576889  1987.518708  2003.019048
3   2211.136956  2190.867984  2193.711036  2204.760694
4   1927.145717  1938.080172  1903.159434  1912.334649
..          ...          ...          ...          ...
61  1945.311394  1921.843081  1930.528460  1944.004242
62  2055.427330  2056.693423  2022.813551  2052.042328
63  3050.045351  2950.884507  2953.102286  3023.711111
64          NaN          NaN  2516.902317  2572.750000
65          NaN          NaN  1816.602284  1819.575000

[66 rows x 119 columns]>

In [100]:
#relevatn zips taken from readme fo zipcodes in seattle

relevantzips = [
    98101,
98102,
98103,
98104,
98105,
98106,
98107,
98108,
98109,
98110,
98111,
98112,
98113,
98114,
98115,
98116,
98117,
98118,
98119,
98121,
98122,
98124,
98125,
98126,
98127,
98129,
98131,
98133,
98134,
98136,
98138,
98139,
98141,
98144,
98145,
98146,
98148,
98154,
98155,
98158,
98160,
98161,
98164,
98165,
98166,
98168,
98170,
98174,
98175,
98177,
98178,
98181,
98185,
98188,
98190,
98191,
98194,
98195,
98198,
98199]
relevantzips

[98101,
 98102,
 98103,
 98104,
 98105,
 98106,
 98107,
 98108,
 98109,
 98110,
 98111,
 98112,
 98113,
 98114,
 98115,
 98116,
 98117,
 98118,
 98119,
 98121,
 98122,
 98124,
 98125,
 98126,
 98127,
 98129,
 98131,
 98133,
 98134,
 98136,
 98138,
 98139,
 98141,
 98144,
 98145,
 98146,
 98148,
 98154,
 98155,
 98158,
 98160,
 98161,
 98164,
 98165,
 98166,
 98168,
 98170,
 98174,
 98175,
 98177,
 98178,
 98181,
 98185,
 98188,
 98190,
 98191,
 98194,
 98195,
 98198,
 98199]

In [101]:
len(relevantzips)

60

In [102]:
seattle_zips = rental_csv[rental_csv['RegionName'].isin(relevantzips)]

#seattle_zips contains data for 25 zipcodes in seattle. the relevant_zips contains 41 zipcodes
#From now on, we will use the data for these 25 zipcodes in rental_zipcode_list
seattle_zips['RegionName'].unique()
rental_zipcode_list = [98105, 98115, 98103, 98133, 98118, 98125, 98122, 98117, 98155,
       98198, 98168, 98109, 98146, 98144, 98188, 98107, 98106, 98178,
       98116, 98108, 98112, 98119, 98126, 98199, 98102, 98166, 98121,
       98136, 98101, 98104]

In [103]:
col_list= list(seattle_zips.columns)
(col_list)

['RegionID',
 'SizeRank',
 'RegionName',
 'RegionType',
 'StateName',
 'State',
 'City',
 'Metro',
 'CountyName',
 '2015-01-31',
 '2015-02-28',
 '2015-03-31',
 '2015-04-30',
 '2015-05-31',
 '2015-06-30',
 '2015-07-31',
 '2015-08-31',
 '2015-09-30',
 '2015-10-31',
 '2015-11-30',
 '2015-12-31',
 '2016-01-31',
 '2016-02-29',
 '2016-03-31',
 '2016-04-30',
 '2016-05-31',
 '2016-06-30',
 '2016-07-31',
 '2016-08-31',
 '2016-09-30',
 '2016-10-31',
 '2016-11-30',
 '2016-12-31',
 '2017-01-31',
 '2017-02-28',
 '2017-03-31',
 '2017-04-30',
 '2017-05-31',
 '2017-06-30',
 '2017-07-31',
 '2017-08-31',
 '2017-09-30',
 '2017-10-31',
 '2017-11-30',
 '2017-12-31',
 '2018-01-31',
 '2018-02-28',
 '2018-03-31',
 '2018-04-30',
 '2018-05-31',
 '2018-06-30',
 '2018-07-31',
 '2018-08-31',
 '2018-09-30',
 '2018-10-31',
 '2018-11-30',
 '2018-12-31',
 '2019-01-31',
 '2019-02-28',
 '2019-03-31',
 '2019-04-30',
 '2019-05-31',
 '2019-06-30',
 '2019-07-31',
 '2019-08-31',
 '2019-09-30',
 '2019-10-31',
 '2019-11-30',
 '2019-12-31',
 '2020-01-31',
 '2020-02-29',
 '2020-03-31',
 '2020-04-30',
 '2020-05-31',
 '2020-06-30',
 '2020-07-31',
 '2020-08-31',
 '2020-09-30',
 '2020-10-31',
 '2020-11-30',
 '2020-12-31',
 '2021-01-31',
 '2021-02-28',
 '2021-03-31',
 '2021-04-30',
 '2021-05-31',
 '2021-06-30',
 '2021-07-31',
 '2021-08-31',
 '2021-09-30',
 '2021-10-31',
 '2021-11-30',
 '2021-12-31',
 '2022-01-31',
 '2022-02-28',
 '2022-03-31',
 '2022-04-30',
 '2022-05-31',
 '2022-06-30',
 '2022-07-31',
 '2022-08-31',
 '2022-09-30',
 '2022-10-31',
 '2022-11-30',
 '2022-12-31',
 '2023-01-31',
 '2023-02-28',
 '2023-03-31',
 '2023-04-30',
 '2023-05-31',
 '2023-06-30',
 '2023-07-31',
 '2023-08-31',
 '2023-09-30',
 '2023-10-31',
 '2023-11-30',
 '2023-12-31',
 '2024-01-31',
 '2024-02-29']

In [104]:
# clean data for zipcode and city if we need it, then mean rental price per zipcode for every month
#Here is where we can filter for certain months or transfer this data into quarters 
#Much of the data for 2015 is incomplete
seattle_zips = seattle_zips[[
 'RegionName',
 'City',
 '2015-01-31',
 '2015-02-28',
 '2015-03-31',
 '2015-04-30',
 '2015-05-31',
 '2015-06-30',
 '2015-07-31',
 '2015-08-31',
 '2015-09-30',
 '2015-10-31',
 '2015-11-30',
 '2015-12-31',
 '2016-01-31',
 '2016-02-29',
 '2016-03-31',
 '2016-04-30',
 '2016-05-31',
 '2016-06-30',
 '2016-07-31',
 '2016-08-31',
 '2016-09-30',
 '2016-10-31',
 '2016-11-30',
 '2016-12-31',
 '2017-01-31',
 '2017-02-28',
 '2017-03-31',
 '2017-04-30',
 '2017-05-31',
 '2017-06-30',
 '2017-07-31',
 '2017-08-31',
 '2017-09-30',
 '2017-10-31',
 '2017-11-30',
 '2017-12-31',
 '2018-01-31',
 '2018-02-28',
 '2018-03-31',
 '2018-04-30',
 '2018-05-31',
 '2018-06-30',
 '2018-07-31',
 '2018-08-31',
 '2018-09-30',
 '2018-10-31',
 '2018-11-30',
 '2018-12-31',
 '2019-01-31',
 '2019-02-28',
 '2019-03-31',
 '2019-04-30',
 '2019-05-31',
 '2019-06-30',
 '2019-07-31',
 '2019-08-31',
 '2019-09-30',
 '2019-10-31',
 '2019-11-30',
 '2019-12-31',
 '2020-01-31',
 '2020-02-29',
 '2020-03-31',
 '2020-04-30',
 '2020-05-31',
 '2020-06-30',
 '2020-07-31',
 '2020-08-31',
 '2020-09-30',
 '2020-10-31',
 '2020-11-30',
 '2020-12-31',
 '2021-01-31',
 '2021-02-28',
 '2021-03-31',
 '2021-04-30',
 '2021-05-31',
 '2021-06-30',
 '2021-07-31',
 '2021-08-31',
 '2021-09-30',
 '2021-10-31',
 '2021-11-30',
 '2021-12-31',
 '2022-01-31',
 '2022-02-28',
 '2022-03-31',
 '2022-04-30',
 '2022-05-31',
 '2022-06-30',
 '2022-07-31',
 '2022-08-31',
 '2022-09-30',
 '2022-10-31',
 '2022-11-30',
 '2022-12-31',
 '2023-01-31',
 '2023-02-28',
 '2023-03-31',
 '2023-04-30',
 '2023-05-31',
 '2023-06-30',
 '2023-07-31',
 '2023-08-31',
 '2023-09-30',
 '2023-10-31',
 '2023-11-30',
 '2023-12-31',
 '2024-01-31',
 '2024-02-29']]

In [105]:
# seattle_zips = pd.to_datetime(seattle_zips.columns[2:])
seattle_zips

,RegionName,City,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,...,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29
1,98105,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2286.436079,2315.705835,2340.219275,2356.803648,2350.684313,2328.200090,2298.415649,2304.796452,2319.678014,2328.472768
3,98115,Seattle,NaN,1510.025231,1525.516126,1528.994058,1553.590060,1567.551558,1574.868723,1569.762779,...,2181.871488,2199.526987,2218.435755,2224.014098,2233.063028,2216.982879,2211.136956,2190.867984,2193.711036,2204.760694
5,98103,Seattle,1458.092888,1462.702361,1475.065810,1487.273520,1500.935227,1530.842226,1556.451838,1582.614332,...,2124.198302,2139.808211,2163.042594,2163.185572,2159.909977,2133.551853,2116.569993,2109.871054,2109.282055,2125.706081
9,98133,Shoreline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1800.355117,1812.633435,1825.123148,1846.613225,1837.038918,1818.714400,1817.030356,1807.532613,1821.429759,1843.687629
10,98118,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1738.934560,1745.086948,1748.460216,1746.712016,1750.472336,1746.940618,1737.354735,1760.572859,1769.899750,1783.338109
11,98125,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1937.087540,1942.022441,1957.586585,1954.097476,1987.494911,1991.135278,1963.390333,1938.268652,1933.499766,1958.713507
14,98122,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2028.082751,2041.982668,2054.447483,2063.676180,2067.088061,2054.904296,2039.966725,2014.932682,2020.375608,2028.117279
21,98117,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2111.060292,2124.573363,2133.156681,2134.609451,2160.443746,2139.113660,2164.603611,2179.853561,2182.908575,2152.239683
24,98155,Shoreline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2120.921028,2150.699564,2179.310162,2180.367673,2174.761381,2140.492173,2124.185061,2113.704995,2143.416903,2164.419192
25,98198,Des Moines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1977.568631,1951.595814,1953.587358,1933.851810,1969.590121,1971.858229,1977.235448,1985.021246,1993.554096,2004.558333
26,98168,Seatac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1939.841448,1960.046946,1978.211986,1936.592399,1949.996972,1999.910310,2017.512926,2027.612684,1998.509636,1994.666667
29,98109,Seattle,1723.190750,1735.416516,1755.115896,1783.508086,1802.163698,1851.594607,1886.361527,1908.661781,...,2301.605998,2324.001073,2358.376147,2384.246267,2386.638878,2365.461726,2327.390246,2319.793708,2336.157767,2363.236157
34,98146,Burien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1760.967869,1797.442515,1885.250529,1952.681491,1921.814876,1933.617510,1930.176092,1879.929540,1804.270853,1751.000000
35,98144,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2041.010740,2057.852904,2073.925596,2084.466998,2089.317407,2085.751448,2072.306944,2032.650649,2033.181825,2041.235043
39,98188,Seatac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1836.304317,1849.153064,1848.670577,1934.395749,1911.144258,1988.351103,1982.924988,1978.002595,1916.180681,1890.888889
41,98107,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2182.317123,2205.989482,2219.175434,2244.446838,2224.618022,2213.727420,2201.708690,2194.195012,2177.943859,2164.092435
42,98106,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2432.697651,2454.609900,2448.826474,2444.097664,2475.293507,2462.883107,2449.439272,2416.651853,2418.059561,2419.111111
43,98178,Bryn Mawr-Skyway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2277.133736,2288.857587,2283.887241,2327.403712,2322.347769,2394.827520,2395.760609,2411.704483,2318.841055,2302.138889
44,98116,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2082.018854,2094.825072,2125.087821,2141.798406,2144.416428,2123.979216,2103.034552,2106.147009,2134.783136,2162.302118
46,98108,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2222.215697,2219.848276,2211.146525,2228.540810,2237.976460,2307.844745,2325.802873,2369.868808,2320.312638,2277.638889
47,98112,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2375.737588,2390.655436,2410.708186,2441.095832,2426.407350,2423.467548,2375.951985,2397.721788,2359.456118,2365.777778
49,98119,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1984.436214,2009.750245,2027.808392,2031.031384,2035.541661,2025.442150,2020.909884,2008.712744,1997.548913,1975.171477
52,98126,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1969.040748,1959.973477,2002.026737,2031.816315,2066.005794,2029.072273,1970.741309,1965.877491,2004.708515,2064.166667
53,98199,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2425.775895,2447.131575,2467.122618,2490.939897,2502.433928,2491.888915,2460.682194,2415.005102,2413.279721,2440.940260
55,98102,Seattle,1499.526983,1515.676012,1540.664073,1569.034572,1589.832513,1586.266238,1577.846752,1590.828981,...,1970.557647,1992.915546,1997.324309,2002.695126,2001.172513,1967.600726,1937.201771,1896.448576,1908.322721,1928.502686
56,98166,Burien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1852.503602,1824.647531,1853.242325,1873.553083,1900.185491,1893.290243,1867.406065,1862.301544,1868.738466,1919.533333
58,98121,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2468.994205,2506.281576,2541.100681,2546.747190,2504.798625,2470.561925,2444.423481,2449.635506,2474.438672,2497.404203
59,98136,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2302.542533,2301.993244,2317.587337,2310.169291,2332.778044,2364.605528,2357.054778,2343.213244,2356.774241,2367.388889
60,98101,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2433.229788,2445.961982,2459.108526,2478.565588,2496.017074,2485.712404,2471.042673,2476.561408,2494.878226,2520.106354
61,98104,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1985.192339,1981.121578,1966.684222,1965.718769,1967.376584,1953.135847,1945.311394,1921.843081,1930.528460,1944.004242

In [112]:
seattle_zips.index.dtype
seattle_rentals_by_zipcodes = seattle_zips.copy()

In [113]:
seattle_rentals_by_zipcodes

,RegionName,City,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,...,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29
1,98105,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2286.436079,2315.705835,2340.219275,2356.803648,2350.684313,2328.200090,2298.415649,2304.796452,2319.678014,2328.472768
3,98115,Seattle,NaN,1510.025231,1525.516126,1528.994058,1553.590060,1567.551558,1574.868723,1569.762779,...,2181.871488,2199.526987,2218.435755,2224.014098,2233.063028,2216.982879,2211.136956,2190.867984,2193.711036,2204.760694
5,98103,Seattle,1458.092888,1462.702361,1475.065810,1487.273520,1500.935227,1530.842226,1556.451838,1582.614332,...,2124.198302,2139.808211,2163.042594,2163.185572,2159.909977,2133.551853,2116.569993,2109.871054,2109.282055,2125.706081
9,98133,Shoreline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1800.355117,1812.633435,1825.123148,1846.613225,1837.038918,1818.714400,1817.030356,1807.532613,1821.429759,1843.687629
10,98118,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1738.934560,1745.086948,1748.460216,1746.712016,1750.472336,1746.940618,1737.354735,1760.572859,1769.899750,1783.338109
11,98125,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1937.087540,1942.022441,1957.586585,1954.097476,1987.494911,1991.135278,1963.390333,1938.268652,1933.499766,1958.713507
14,98122,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2028.082751,2041.982668,2054.447483,2063.676180,2067.088061,2054.904296,2039.966725,2014.932682,2020.375608,2028.117279
21,98117,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2111.060292,2124.573363,2133.156681,2134.609451,2160.443746,2139.113660,2164.603611,2179.853561,2182.908575,2152.239683
24,98155,Shoreline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2120.921028,2150.699564,2179.310162,2180.367673,2174.761381,2140.492173,2124.185061,2113.704995,2143.416903,2164.419192
25,98198,Des Moines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1977.568631,1951.595814,1953.587358,1933.851810,1969.590121,1971.858229,1977.235448,1985.021246,1993.554096,2004.558333
26,98168,Seatac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1939.841448,1960.046946,1978.211986,1936.592399,1949.996972,1999.910310,2017.512926,2027.612684,1998.509636,1994.666667
29,98109,Seattle,1723.190750,1735.416516,1755.115896,1783.508086,1802.163698,1851.594607,1886.361527,1908.661781,...,2301.605998,2324.001073,2358.376147,2384.246267,2386.638878,2365.461726,2327.390246,2319.793708,2336.157767,2363.236157
34,98146,Burien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1760.967869,1797.442515,1885.250529,1952.681491,1921.814876,1933.617510,1930.176092,1879.929540,1804.270853,1751.000000
35,98144,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2041.010740,2057.852904,2073.925596,2084.466998,2089.317407,2085.751448,2072.306944,2032.650649,2033.181825,2041.235043
39,98188,Seatac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1836.304317,1849.153064,1848.670577,1934.395749,1911.144258,1988.351103,1982.924988,1978.002595,1916.180681,1890.888889
41,98107,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2182.317123,2205.989482,2219.175434,2244.446838,2224.618022,2213.727420,2201.708690,2194.195012,2177.943859,2164.092435
42,98106,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2432.697651,2454.609900,2448.826474,2444.097664,2475.293507,2462.883107,2449.439272,2416.651853,2418.059561,2419.111111
43,98178,Bryn Mawr-Skyway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2277.133736,2288.857587,2283.887241,2327.403712,2322.347769,2394.827520,2395.760609,2411.704483,2318.841055,2302.138889
44,98116,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2082.018854,2094.825072,2125.087821,2141.798406,2144.416428,2123.979216,2103.034552,2106.147009,2134.783136,2162.302118
46,98108,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2222.215697,2219.848276,2211.146525,2228.540810,2237.976460,2307.844745,2325.802873,2369.868808,2320.312638,2277.638889
47,98112,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2375.737588,2390.655436,2410.708186,2441.095832,2426.407350,2423.467548,2375.951985,2397.721788,2359.456118,2365.777778
49,98119,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1984.436214,2009.750245,2027.808392,2031.031384,2035.541661,2025.442150,2020.909884,2008.712744,1997.548913,1975.171477
52,98126,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1969.040748,1959.973477,2002.026737,2031.816315,2066.005794,2029.072273,1970.741309,1965.877491,2004.708515,2064.166667
53,98199,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2425.775895,2447.131575,2467.122618,2490.939897,2502.433928,2491.888915,2460.682194,2415.005102,2413.279721,2440.940260
55,98102,Seattle,1499.526983,1515.676012,1540.664073,1569.034572,1589.832513,1586.266238,1577.846752,1590.828981,...,1970.557647,1992.915546,1997.324309,2002.695126,2001.172513,1967.600726,1937.201771,1896.448576,1908.322721,1928.502686
56,98166,Burien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1852.503602,1824.647531,1853.242325,1873.553083,1900.185491,1893.290243,1867.406065,1862.301544,1868.738466,1919.533333
58,98121,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2468.994205,2506.281576,2541.100681,2546.747190,2504.798625,2470.561925,2444.423481,2449.635506,2474.438672,2497.404203
59,98136,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2302.542533,2301.993244,2317.587337,2310.169291,2332.778044,2364.605528,2357.054778,2343.213244,2356.774241,2367.388889
60,98101,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2433.229788,2445.961982,2459.108526,2478.565588,2496.017074,2485.712404,2471.042673,2476.561408,2494.878226,2520.106354
61,98104,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1985.192339,1981.121578,1966.684222,1965.718769,1967.376584,1953.135847,1945.311394,1921.843081,1930.528460,1944.004242

In [114]:
seattle_rentals_by_zipcodes.reset_index(inplace=True)
seattle_rentals_by_zipcodes = seattle_rentals_by_zipcodes.drop(columns='index')

In [112]:
# Save the data for the rental_price_by_zipcode_property_type of homes in seattle zipcodes by month
seattle_rentals_by_zipcodes.to_csv("../data_frames/seattle_rentals_by_zipcodes.csv", index=True)

In [115]:
rentals_2018_and_after = seattle_rentals_by_zipcodes.set_index('RegionName', inplace=False)

In [116]:
rentals_2018_and_after

,City,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,...,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29
RegionName,,,,,,,,,,,,,,,,,,,,,
98105,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2286.436079,2315.705835,2340.219275,2356.803648,2350.684313,2328.200090,2298.415649,2304.796452,2319.678014,2328.472768
98115,Seattle,NaN,1510.025231,1525.516126,1528.994058,1553.590060,1567.551558,1574.868723,1569.762779,1592.647437,...,2181.871488,2199.526987,2218.435755,2224.014098,2233.063028,2216.982879,2211.136956,2190.867984,2193.711036,2204.760694
98103,Seattle,1458.092888,1462.702361,1475.065810,1487.273520,1500.935227,1530.842226,1556.451838,1582.614332,1584.987217,...,2124.198302,2139.808211,2163.042594,2163.185572,2159.909977,2133.551853,2116.569993,2109.871054,2109.282055,2125.706081
98133,Shoreline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1800.355117,1812.633435,1825.123148,1846.613225,1837.038918,1818.714400,1817.030356,1807.532613,1821.429759,1843.687629
98118,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1738.934560,1745.086948,1748.460216,1746.712016,1750.472336,1746.940618,1737.354735,1760.572859,1769.899750,1783.338109
98125,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1937.087540,1942.022441,1957.586585,1954.097476,1987.494911,1991.135278,1963.390333,1938.268652,1933.499766,1958.713507
98122,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2028.082751,2041.982668,2054.447483,2063.676180,2067.088061,2054.904296,2039.966725,2014.932682,2020.375608,2028.117279
98117,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2111.060292,2124.573363,2133.156681,2134.609451,2160.443746,2139.113660,2164.603611,2179.853561,2182.908575,2152.239683
98155,Shoreline,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2120.921028,2150.699564,2179.310162,2180.367673,2174.761381,2140.492173,2124.185061,2113.704995,2143.416903,2164.419192
98198,Des Moines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1977.568631,1951.595814,1953.587358,1933.851810,1969.590121,1971.858229,1977.235448,1985.021246,1993.554096,2004.558333
98168,Seatac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1939.841448,1960.046946,1978.211986,1936.592399,1949.996972,1999.910310,2017.512926,2027.612684,1998.509636,1994.666667
98109,Seattle,1723.190750,1735.416516,1755.115896,1783.508086,1802.163698,1851.594607,1886.361527,1908.661781,1890.610804,...,2301.605998,2324.001073,2358.376147,2384.246267,2386.638878,2365.461726,2327.390246,2319.793708,2336.157767,2363.236157
98146,Burien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1760.967869,1797.442515,1885.250529,1952.681491,1921.814876,1933.617510,1930.176092,1879.929540,1804.270853,1751.000000
98144,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2041.010740,2057.852904,2073.925596,2084.466998,2089.317407,2085.751448,2072.306944,2032.650649,2033.181825,2041.235043
98188,Seatac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1836.304317,1849.153064,1848.670577,1934.395749,1911.144258,1988.351103,1982.924988,1978.002595,1916.180681,1890.888889
98107,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2182.317123,2205.989482,2219.175434,2244.446838,2224.618022,2213.727420,2201.708690,2194.195012,2177.943859,2164.092435
98106,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2432.697651,2454.609900,2448.826474,2444.097664,2475.293507,2462.883107,2449.439272,2416.651853,2418.059561,2419.111111
98178,Bryn Mawr-Skyway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2277.133736,2288.857587,2283.887241,2327.403712,2322.347769,2394.827520,2395.760609,2411.704483,2318.841055,2302.138889
98116,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2082.018854,2094.825072,2125.087821,2141.798406,2144.416428,2123.979216,2103.034552,2106.147009,2134.783136,2162.302118
98108,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2222.215697,2219.848276,2211.146525,2228.540810,2237.976460,2307.844745,2325.802873,2369.868808,2320.312638,2277.638889
98112,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2375.737588,2390.655436,2410.708186,2441.095832,2426.407350,2423.467548,2375.951985,2397.721788,2359.456118,2365.777778
98119,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1984.436214,2009.750245,2027.808392,2031.031384,2035.541661,2025.442150,2020.909884,2008.712744,1997.548913,1975.171477
98126,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1969.040748,1959.973477,2002.026737,2031.816315,2066.005794,2029.072273,1970.741309,1965.877491,2004.708515,2064.166667
98199,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2425.775895,2447.131575,2467.122618,2490.939897,2502.433928,2491.888915,2460.682194,2415.005102,2413.279721,2440.940260
98102,Seattle,1499.526983,1515.676012,1540.664073,1569.034572,1589.832513,1586.266238,1577.846752,1590.828981,1622.250902,...,1970.557647,1992.915546,1997.324309,2002.695126,2001.172513,1967.600726,1937.201771,1896.448576,1908.322721,1928.502686
98166,Burien,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1852.503602,1824.647531,1853.242325,1873.553083,1900.185491,1893.290243,1867.406065,1862.301544,1868.738466,1919.533333
98121,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2468.994205,2506.281576,2541.100681,2546.747190,2504.798625,2470.561925,2444.423481,2449.635506,2474.438672,2497.404203
98136,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2302.542533,2301.993244,2317.587337,2310.169291,2332.778044,2364.605528,2357.054778,2343.213244,2356.774241,2367.388889
98101,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2433.229788,2445.961982,2459.108526,2478.565588,2496.017074,2485.712404,2471.042673,2476.561408,2494.878226,2520.106354
98104,Seattle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1985.192339,1981.121578,1966.684222,1965.718769,1967.376584,1953.135847,1945.311394,1921.843081,1930.528460,1944.004242

In [117]:
# seattle_rentals_by_zipcodes for 2018-present
rentals_2018_and_after = rentals_2018_and_after.loc[:, '2018-01-31':]


rentals_2018_and_after

,2018-01-31,2018-02-28,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,2018-08-31,2018-09-30,2018-10-31,...,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29
RegionName,,,,,,,,,,,,,,,,,,,,,
98105,1852.385713,1848.739328,1865.245256,1908.863772,1927.991463,1956.577881,1956.049413,1965.174201,1964.853072,1935.224261,...,2286.436079,2315.705835,2340.219275,2356.803648,2350.684313,2328.200090,2298.415649,2304.796452,2319.678014,2328.472768
98115,1757.969216,1767.311466,1779.947620,1788.331376,1817.381904,1824.310880,1830.082528,1829.771119,1832.029909,1817.682651,...,2181.871488,2199.526987,2218.435755,2224.014098,2233.063028,2216.982879,2211.136956,2190.867984,2193.711036,2204.760694
98103,1756.543138,1764.710110,1789.244197,1786.118929,1791.794669,1799.133719,1816.494305,1821.311801,1824.396477,1804.434316,...,2124.198302,2139.808211,2163.042594,2163.185572,2159.909977,2133.551853,2116.569993,2109.871054,2109.282055,2125.706081
98133,1427.322972,1434.378203,1427.118038,1435.253116,1441.060402,1455.775157,1473.216841,1476.360181,1479.436761,1467.551851,...,1800.355117,1812.633435,1825.123148,1846.613225,1837.038918,1818.714400,1817.030356,1807.532613,1821.429759,1843.687629
98118,NaN,NaN,1398.541862,1427.220685,1426.746158,1411.180963,1417.703419,1432.305903,1447.997850,1449.824882,...,1738.934560,1745.086948,1748.460216,1746.712016,1750.472336,1746.940618,1737.354735,1760.572859,1769.899750,1783.338109
98125,1530.351429,1533.247650,1542.801778,1539.214532,1568.509796,1573.332985,1584.445072,1592.356557,1589.955867,1564.654107,...,1937.087540,1942.022441,1957.586585,1954.097476,1987.494911,1991.135278,1963.390333,1938.268652,1933.499766,1958.713507
98122,1773.813812,1785.300934,1801.406426,1816.991574,1825.824457,1852.095022,1856.482541,1861.624426,1844.434079,1819.831390,...,2028.082751,2041.982668,2054.447483,2063.676180,2067.088061,2054.904296,2039.966725,2014.932682,2020.375608,2028.117279
98117,1683.620738,1684.873889,1691.777125,1717.527534,1752.070327,1737.107794,1728.024880,1741.891468,1759.761018,1747.546549,...,2111.060292,2124.573363,2133.156681,2134.609451,2160.443746,2139.113660,2164.603611,2179.853561,2182.908575,2152.239683
98155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2120.921028,2150.699564,2179.310162,2180.367673,2174.761381,2140.492173,2124.185061,2113.704995,2143.416903,2164.419192
98198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1977.568631,1951.595814,1953.587358,1933.851810,1969.590121,1971.858229,1977.235448,1985.021246,1993.554096,2004.558333
98168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1939.841448,1960.046946,1978.211986,1936.592399,1949.996972,1999.910310,2017.512926,2027.612684,1998.509636,1994.666667
98109,2027.719189,2047.665366,2052.712146,2070.127308,2089.945452,2121.725611,2123.821197,2123.479059,2104.290169,2094.175222,...,2301.605998,2324.001073,2358.376147,2384.246267,2386.638878,2365.461726,2327.390246,2319.793708,2336.157767,2363.236157
98146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1760.967869,1797.442515,1885.250529,1952.681491,1921.814876,1933.617510,1930.176092,1879.929540,1804.270853,1751.000000
98144,1613.276483,1617.201863,1623.099192,1662.591098,1670.118462,1685.438903,1684.235028,1682.019625,1675.292907,1679.809636,...,2041.010740,2057.852904,2073.925596,2084.466998,2089.317407,2085.751448,2072.306944,2032.650649,2033.181825,2041.235043
98188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1836.304317,1849.153064,1848.670577,1934.395749,1911.144258,1988.351103,1982.924988,1978.002595,1916.180681,1890.888889
98107,1822.321468,1822.633360,1855.945348,1851.810443,1881.085475,1874.559578,1897.544587,1885.516462,1895.757110,1895.317440,...,2182.317123,2205.989482,2219.175434,2244.446838,2224.618022,2213.727420,2201.708690,2194.195012,2177.943859,2164.092435
98106,1813.551781,1813.367425,1843.288365,1852.829000,1891.687339,1879.947555,1876.607771,1865.064217,1874.133539,1875.144842,...,2432.697651,2454.609900,2448.826474,2444.097664,2475.293507,2462.883107,2449.439272,2416.651853,2418.059561,2419.111111
98178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2277.133736,2288.857587,2283.887241,2327.403712,2322.347769,2394.827520,2395.760609,2411.704483,2318.841055,2302.138889
98116,1706.210010,1716.770597,1712.276149,1739.484241,1761.815631,1789.108620,1779.305082,1788.348733,1779.005410,1772.433364,...,2082.018854,2094.825072,2125.087821,2141.798406,2144.416428,2123.979216,2103.034552,2106.147009,2134.783136,2162.302118
98108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2222.215697,2219.848276,2211.146525,2228.540810,2237.976460,2307.844745,2325.802873,2369.868808,2320.312638,2277.638889
98112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2375.737588,2390.655436,2410.708186,2441.095832,2426.407350,2423.467548,2375.951985,2397.721788,2359.456118,2365.777778
98119,1689.540050,1712.249418,1728.208135,1764.616933,1780.542867,1787.540221,1782.553565,1784.615896,1772.236349,1763.534527,...,1984.436214,2009.750245,2027.808392,2031.031384,2035.541661,2025.442150,2020.909884,2008.712744,1997.548913,1975.171477
98126,1609.215887,1598.801853,1586.188846,1570.398436,1581.588814,1602.623957,1621.605936,1626.206253,1653.306102,1660.773724,...,1969.040748,1959.973477,2002.026737,2031.816315,2066.005794,2029.072273,1970.741309,1965.877491,2004.708515,2064.166667
98199,1897.070034,1915.015929,1926.875933,1971.390595,1976.515517,1979.049987,1973.556729,1966.545873,NaN,1992.288140,...,2425.775895,2447.131575,2467.122618,2490.939897,2502.433928,2491.888915,2460.682194,2415.005102,2413.279721,2440.940260
98102,1745.869629,1749.719585,1760.356125,1757.492447,1770.811895,1797.568405,1817.028849,1821.391129,1784.790226,1773.811286,...,1970.557647,1992.915546,1997.324309,2002.695126,2001.172513,1967.600726,1937.201771,1896.448576,1908.322721,1928.502686
98166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1852.503602,1824.647531,1853.242325,1873.553083,1900.185491,1893.290243,1867.406065,1862.301544,1868.738466,1919.533333
98121,2285.663718,2307.399072,2353.176872,2385.656750,2395.109133,2402.373677,2388.124097,2400.927255,2359.527320,2346.436710,...,2468.994205,2506.281576,2541.100681,2546.747190,2504.798625,2470.561925,2444.423481,2449.635506,2474.438672,2497.404203
98136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2302.542533,2301.993244,2317.587337,2310.169291,2332.778044,2364.605528,2357.054778,2343.213244,2356.774241,2367.388889
98101,2175.348136,2175.241425,2202.422989,2233.074528,2277.262531,2320.728817,2357.538730,2348.821844,2321.065125,2284.176882,...,2433.229788,2445.961982,2459.108526,2478.565588,2496.017074,2485.712404,2471.042673,2476.561408,2494.878226,2520.106354
98104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1985.192339,1981.121578,1966.684222,1965.718769,1967.376584,1953.135847,1945.311394,1921.843081,1930.528460,1944.004242

In [122]:
rentals_2018_and_after.dtypes

2018-01-31    float64
2018-02-28    float64
2018-03-31    float64
2018-04-30    float64
2018-05-31    float64
               ...
2023-10-31    float64
2023-11-30    float64
2023-12-31    float64
2024-01-31    float64
2024-02-29    float64
Length: 74, dtype: object

In [121]:
rentals_2018_and_after.columns = pd.to_datetime(rentals_2018_and_after.columns)

In [123]:

rentals_by_quarters = rentals_2018_and_after.resample('Q', axis=1).mean()

/var/folders/58/j89y2_691mz0dzk3rc7p_08h0000gp/T/ipykernel_42213/1977689564.py:1: FutureWarning: DataFrame.resample with axis=1 is deprecated. Do `frame.T.resample(...)` without axis instead.
  rentals_by_quarters = rentals_2018_and_after.resample('Q', axis=1).mean()

In [124]:
rentals_by_quarters

,2018-03-31,2018-06-30,2018-09-30,2018-12-31,2019-03-31,2019-06-30,2019-09-30,2019-12-31,2020-03-31,2020-06-30,...,2021-12-31,2022-03-31,2022-06-30,2022-09-30,2022-12-31,2023-03-31,2023-06-30,2023-09-30,2023-12-31,2024-03-31
RegionName,,,,,,,,,,,,,,,,,,,,,
98105,1855.456766,1931.144372,1962.025562,1909.126985,1923.065864,1982.204503,2007.859793,1969.179699,1988.221904,2010.817096,...,2125.978628,2161.859984,2246.265731,2293.322852,2276.521256,2241.202231,2287.727062,2349.235745,2310.470730,2324.075391
98115,1768.409434,1810.008053,1830.627852,1807.416822,1802.423457,1854.224565,1881.106350,1875.036652,1898.948429,1904.345494,...,2046.299753,2057.797862,2135.322509,2192.493070,2180.195272,2156.179955,2181.173666,2225.170960,2206.329273,2199.235865
98103,1770.165815,1792.349106,1820.734195,1789.206306,1793.185150,1825.717956,1864.735357,1857.160138,1887.419868,1888.426540,...,1953.612783,1990.817499,2065.320524,2121.080646,2073.446859,2061.920272,2118.133761,2162.046048,2119.997633,2117.494068
98133,1429.606404,1444.029558,1476.337927,1457.967321,1457.826854,1498.782832,1509.931683,1524.821405,1537.460382,1557.503190,...,1649.693326,1686.310343,1748.956445,1824.585411,1796.472873,1799.184064,1813.386750,1836.258430,1814.425790,1832.558694
98118,1398.541862,1421.715935,1432.669058,1433.458839,1428.795034,1488.327257,1508.140684,1504.201098,1506.445181,1538.633553,...,1633.498159,1638.501074,1701.164662,1726.100438,1742.698200,1758.789252,1740.845686,1748.548189,1748.289404,1776.618930
98125,1535.466952,1560.352438,1588.919165,1558.985749,1570.263987,1580.204676,1619.149553,1605.317286,1617.899681,1652.799382,...,1767.695362,1797.215062,1907.705408,1927.827563,1897.663381,1871.313880,1928.079361,1966.392990,1964.264754,1946.106636
98122,1786.840390,1831.637018,1854.180349,1810.498746,1840.079384,1859.305049,1909.594382,1898.938525,1916.011883,1919.330131,...,1958.901355,1965.208220,2028.024089,2090.526076,2019.541023,2000.433469,2030.008298,2061.737241,2036.601234,2024.246444
98117,1686.757251,1735.568552,1743.225789,1724.823392,1711.148542,1769.306009,1793.860773,1779.729888,1816.595445,1808.747832,...,1954.217882,2014.398975,2076.303212,2116.137213,2071.517101,2048.039332,2109.798017,2142.736626,2161.190278,2167.574129
98155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1769.244996,1758.318764,...,1928.415517,1991.703371,2058.669709,2104.471184,2074.759832,2058.051248,2110.080284,2178.146406,2126.127410,2153.918048
98198,NaN,NaN,NaN,NaN,1542.045254,1507.564236,1528.985630,1516.633914,1531.731876,1581.273201,...,1729.604522,1794.421968,1875.197247,1920.221110,1933.569799,1885.677000,1958.067651,1952.343097,1978.038307,1999.056215
98168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1693.970375,1706.365179,1785.852455,1842.273958,1853.030550,1886.670193,1932.238960,1954.933785,2015.011973,1996.588151
98109,2042.698900,2093.932790,2117.196809,2078.862924,2089.258541,2160.051235,2217.048413,2201.017013,2238.295768,2222.382753,...,2272.201502,2256.584994,2317.411281,2418.820878,2333.422192,2283.785469,2307.573279,2376.420431,2337.548560,2349.696962
98146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1650.770633,1858.868795,1794.498893,1808.073915,1769.031610,1919.915632,1914.574381,1777.635427
98144,1617.859179,1672.716154,1680.515854,1682.171778,1693.506721,1712.082635,1732.728920,1744.902029,1789.802196,1820.305472,...,1917.132300,1951.589741,2003.505937,2047.057355,2007.040665,1995.892714,2040.830570,2082.570000,2063.569680,2037.208434
98188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1728.563791,1763.324301,1808.426141,1817.615173,1795.277861,1849.297173,1856.582005,1898.070195,1983.092895,1903.534785
98107,1833.633392,1869.151832,1892.939386,1888.203686,1869.125477,1935.573094,1947.887118,1920.388535,1971.975835,2000.365088,...,2058.575220,2087.592572,2158.300807,2217.521182,2169.667559,2156.487474,2189.590742,2229.413431,2203.210374,2171.018147
98106,1823.402524,1874.821298,1871.935176,1889.634461,1938.509429,1957.395901,1974.488903,1953.261465,2030.680949,2034.621310,...,2126.846561,2122.340519,2223.707691,2339.656031,2376.864843,2320.985575,2427.274601,2456.072548,2442.991411,2418.585336
98178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1979.269673,2023.094025,2128.823077,2178.726086,2206.417274,2266.202411,2311.212907,2400.764204,2310.489972
98116,1711.752252,1763.469497,1782.219742,1765.481706,1772.090265,1795.091480,1821.552929,1842.368456,1876.102289,1865.542986,...,1899.631944,1903.058109,1959.992647,2060.253653,2064.426264,2043.437660,2078.496318,2137.100885,2111.053592,2148.542627
98108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2133.184841,2168.207677,2204.326286,2128.235450,2167.300003,2257.695368,2227.969637,2225.887932,2334.505475,2298.975764
98112,NaN,NaN,NaN,NaN,2032.079248,2091.996836,2103.437688,2056.559928,2124.096965,2146.385536,...,2274.700529,2306.249508,2287.137846,2370.188025,2359.104134,2307.311263,2374.329500,2426.070456,2399.047107,2362.616948
98119,1709.999201,1777.566674,1779.801937,1760.737773,1771.972235,1837.109629,1851.268703,1831.122139,1851.638542,1868.818855,...,1948.131496,1945.863098,2009.161576,2051.490402,1983.265216,1971.405331,1989.012770,2031.460479,2018.354926,1986.360195
98126,1598.068862,1584.870403,1633.706097,1672.435632,1684.469061,1683.131315,1731.532034,1708.955936,1746.980551,1746.200246,...,1765.655702,1772.483564,1853.994220,1949.163204,1983.347611,1940.427170,1962.620390,2033.282949,1988.563691,2034.437591
98199,1912.987299,1975.652033,1970.051301,1994.434623,2013.592378,2035.713736,2079.644138,2082.134922,2107.281083,2131.841427,...,2274.861231,2324.026591,2420.648254,2508.391242,2432.459195,2403.554580,2432.892182,2486.832147,2455.858737,2427.109991
98102,1751.981780,1775.290916,1807.736735,1767.892615,1784.189724,1829.501493,1858.999816,1836.439894,1852.804269,1842.841688,...,1866.287016,1870.109812,1950.262482,1997.379834,1960.586167,1926.425728,1970.999017,2000.397316,1933.750357,1918.412703
98166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1668.505194,1777.633340,1856.059002,1837.357000,1837.164508,1848.450553,1875.660300,1874.332618,1894.135900
98121,2315.413221,2394.379853,2382.859557,2353.596375,2385.768476,2439.816669,2473.950146,2471.203365,2519.313995,2494.497342,...,2476.372162,2439.279783,2515.996519,2608.263467,2490.839993,2410.142517,2468.396297,2530.882165,2454.873637,2485.921437
98136,NaN,NaN,NaN,1848.526206,1830.865719,1876.702081,1942.879168,1905.148472,1934.128065,1931.105356,...,2064.738217,2063.098762,2183.862209,2283.399356,2240.989835,2292.331995,2297.832185,2320.178224,2354.957850,2362.081565
98101,2184.337516,2277.021959,2342.475233,2260.777931,2268.619762,2357.052247,2421.288219,2397.317756,2447.889082,2474.433164,...,2480.873539,2416.231660,2474.440058,2571.877604,2496.398746,2408.827821,2434.725461,2477.897063,2477.772162,2507.492290
98104,NaN,NaN,NaN,NaN,1830.758456,1858.367503,1920.960843,1921.860520,1930.908740,1909.782215,...,1898.726416,1876.937973,1910.170725,2007.421192,1941.760776,1906.729590,1976.994427,1966.593192,1940.096774,1937.266351

In [125]:
rentals_by_quarters.columns = rentals_by_quarters.columns.to_period('Q').strftime('%YQ%q')

In [127]:
list(rentals_by_quarters.columns)

['2018Q1',
 '2018Q2',
 '2018Q3',
 '2018Q4',
 '2019Q1',
 '2019Q2',
 '2019Q3',
 '2019Q4',
 '2020Q1',
 '2020Q2',
 '2020Q3',
 '2020Q4',
 '2021Q1',
 '2021Q2',
 '2021Q3',
 '2021Q4',
 '2022Q1',
 '2022Q2',
 '2022Q3',
 '2022Q4',
 '2023Q1',
 '2023Q2',
 '2023Q3',
 '2023Q4',
 '2024Q1']

In [128]:
rentals_by_quarters = rentals_by_quarters[[
'2018Q1',
 '2018Q2',
 '2018Q3',
 '2018Q4',
 '2019Q1',
 '2019Q2',
 '2019Q3',
 '2019Q4',
 '2020Q1',
 '2020Q2',
 '2020Q3',
 '2020Q4',
 '2021Q1',
 '2021Q2',
 '2021Q3',
 '2021Q4',
 '2022Q1',
 '2022Q2',
 '2022Q3',
 '2022Q4',
]]
rentals_by_quarters

,2018Q1,2018Q2,2018Q3,2018Q4,2019Q1,2019Q2,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4,2022Q1,2022Q2,2022Q3,2022Q4
RegionName,,,,,,,,,,,,,,,,,,,,
98105,1855.456766,1931.144372,1962.025562,1909.126985,1923.065864,1982.204503,2007.859793,1969.179699,1988.221904,2010.817096,1987.144514,1876.026827,1851.214034,1950.982390,2093.646120,2125.978628,2161.859984,2246.265731,2293.322852,2276.521256
98115,1768.409434,1810.008053,1830.627852,1807.416822,1802.423457,1854.224565,1881.106350,1875.036652,1898.948429,1904.345494,1909.727892,1828.118360,1792.959255,1861.877012,2007.702396,2046.299753,2057.797862,2135.322509,2192.493070,2180.195272
98103,1770.165815,1792.349106,1820.734195,1789.206306,1793.185150,1825.717956,1864.735357,1857.160138,1887.419868,1888.426540,1885.380880,1806.813093,1762.255015,1851.725959,1944.203126,1953.612783,1990.817499,2065.320524,2121.080646,2073.446859
98133,1429.606404,1444.029558,1476.337927,1457.967321,1457.826854,1498.782832,1509.931683,1524.821405,1537.460382,1557.503190,1557.577956,1541.975615,1520.663868,1527.685692,1637.589978,1649.693326,1686.310343,1748.956445,1824.585411,1796.472873
98118,1398.541862,1421.715935,1432.669058,1433.458839,1428.795034,1488.327257,1508.140684,1504.201098,1506.445181,1538.633553,1541.912816,1435.536701,1420.589363,1489.031878,1609.185333,1633.498159,1638.501074,1701.164662,1726.100438,1742.698200
98125,1535.466952,1560.352438,1588.919165,1558.985749,1570.263987,1580.204676,1619.149553,1605.317286,1617.899681,1652.799382,1655.093674,1609.796829,1569.927009,1607.213137,1734.485010,1767.695362,1797.215062,1907.705408,1927.827563,1897.663381
98122,1786.840390,1831.637018,1854.180349,1810.498746,1840.079384,1859.305049,1909.594382,1898.938525,1916.011883,1919.330131,1870.358964,1690.068264,1628.107029,1750.532750,1941.096321,1958.901355,1965.208220,2028.024089,2090.526076,2019.541023
98117,1686.757251,1735.568552,1743.225789,1724.823392,1711.148542,1769.306009,1793.860773,1779.729888,1816.595445,1808.747832,1840.144983,1785.753120,1774.969235,1821.052481,1917.852293,1954.217882,2014.398975,2076.303212,2116.137213,2071.517101
98155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1769.244996,1758.318764,1806.743929,1784.749747,1780.364981,1835.943147,1879.780289,1928.415517,1991.703371,2058.669709,2104.471184,2074.759832
98198,NaN,NaN,NaN,NaN,1542.045254,1507.564236,1528.985630,1516.633914,1531.731876,1581.273201,1619.192828,1580.339067,1631.327988,1641.838175,1699.355932,1729.604522,1794.421968,1875.197247,1920.221110,1933.569799
98168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1638.953226,1693.970375,1706.365179,1785.852455,1842.273958,1853.030550
98109,2042.698900,2093.932790,2117.196809,2078.862924,2089.258541,2160.051235,2217.048413,2201.017013,2238.295768,2222.382753,2136.180140,1945.958700,1868.516794,2058.465839,2294.221657,2272.201502,2256.584994,2317.411281,2418.820878,2333.422192
98146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1650.770633,1858.868795,1794.498893
98144,1617.859179,1672.716154,1680.515854,1682.171778,1693.506721,1712.082635,1732.728920,1744.902029,1789.802196,1820.305472,1825.766513,1738.572656,1667.228792,1771.970118,1887.344344,1917.132300,1951.589741,2003.505937,2047.057355,2007.040665
98188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500.781855,1549.988949,1687.474170,1728.563791,1763.324301,1808.426141,1817.615173,1795.277861
98107,1833.633392,1869.151832,1892.939386,1888.203686,1869.125477,1935.573094,1947.887118,1920.388535,1971.975835,2000.365088,1970.468857,1822.506077,1784.850070,1868.716317,2042.880098,2058.575220,2087.592572,2158.300807,2217.521182,2169.667559
98106,1823.402524,1874.821298,1871.935176,1889.634461,1938.509429,1957.395901,1974.488903,1953.261465,2030.680949,2034.621310,1959.439313,1848.503621,1900.583116,2006.933519,2116.091432,2126.846561,2122.340519,2223.707691,2339.656031,2376.864843
98178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1979.269673,2023.094025,2128.823077,2178.726086
98116,1711.752252,1763.469497,1782.219742,1765.481706,1772.090265,1795.091480,1821.552929,1842.368456,1876.102289,1865.542986,1761.860645,1705.974341,1667.222505,1730.497349,1839.065255,1899.631944,1903.058109,1959.992647,2060.253653,2064.426264
98108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2133.184841,2168.207677,2204.326286,2128.235450,2167.300003
98112,NaN,NaN,NaN,NaN,2032.079248,2091.996836,2103.437688,2056.559928,2124.096965,2146.385536,2137.156161,2018.771270,1955.616041,2079.936975,2197.298166,2274.700529,2306.249508,2287.137846,2370.188025,2359.104134
98119,1709.999201,1777.566674,1779.801937,1760.737773,1771.972235,1837.109629,1851.268703,1831.122139,1851.638542,1868.818855,1816.523145,1710.486463,1660.434716,1749.614531,1880.580961,1948.131496,1945.863098,2009.161576,2051.490402,1983.265216
98126,1598.068862,1584.870403,1633.706097,1672.435632,1684.469061,1683.131315,1731.532034,1708.955936,1746.980551,1746.200246,1663.084187,1591.731564,1613.380375,1662.925113,1706.245807,1765.655702,1772.483564,1853.994220,1949.163204,1983.347611
98199,1912.987299,1975.652033,1970.051301,1994.434623,2013.592378,2035.713736,2079.644138,2082.134922,2107.281083,2131.841427,2143.434971,2113.706407,2095.329837,2159.222556,2251.276982,2274.861231,2324.026591,2420.648254,2508.391242,2432.459195
98102,1751.981780,1775.290916,1807.736735,1767.892615,1784.189724,1829.501493,1858.999816,1836.439894,1852.804269,1842.841688,1830.347626,1672.026227,1637.987051,1685.909936,1829.320280,1866.287016,1870.109812,1950.262482,1997.379834,1960.586167
98166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1668.505194,1777.633340,1856.059002,1837.357000
98121,2315.413221,2394.379853,2382.859557,2353.596375,2385.768476,2439.816669,2473.950146,2471.203365,2519.313995,2494.497342,2330.873950,2103.241860,2108.554123,2289.062927,2553.596524,2476.372162,2439.279783,2515.996519,2608.263467,2490.839993
98136,NaN,NaN,NaN,1848.526206,1830.865719,1876.702081,1942.879168,1905.148472,1934.128065,1931.105356,1950.944275,1899.389739,1897.000684,1937.556594,2014.673712,2064.738217,2063.098762,2183.862209,2283.399356,2240.989835
98101,2184.337516,2277.021959,2342.475233,2260.777931,2268.619762,2357.052247,2421.288219,2397.317756,2447.889082,2474.433164,2327.373064,2108.235728,2084.417542,2255.987186,2470.646826,2480.873539,2416.231660,2474.440058,2571.877604,2496.398746
98104,NaN,NaN,NaN,NaN,1830.758456,1858.367503,1920.960843,1921.860520,1930.908740,1909.782215,1801.902519,1626.088578,1546.051376,1701.534310,1885.939105,1898.726416,1876.937973,1910.170725,2007.421192,1941.760776

In [129]:
rentals_by_quarters = rentals_by_quarters.rename_axis('Zipcode')
rentals_by_quarters

,2018Q1,2018Q2,2018Q3,2018Q4,2019Q1,2019Q2,2019Q3,2019Q4,2020Q1,2020Q2,2020Q3,2020Q4,2021Q1,2021Q2,2021Q3,2021Q4,2022Q1,2022Q2,2022Q3,2022Q4
Zipcode,,,,,,,,,,,,,,,,,,,,
98105,1855.456766,1931.144372,1962.025562,1909.126985,1923.065864,1982.204503,2007.859793,1969.179699,1988.221904,2010.817096,1987.144514,1876.026827,1851.214034,1950.982390,2093.646120,2125.978628,2161.859984,2246.265731,2293.322852,2276.521256
98115,1768.409434,1810.008053,1830.627852,1807.416822,1802.423457,1854.224565,1881.106350,1875.036652,1898.948429,1904.345494,1909.727892,1828.118360,1792.959255,1861.877012,2007.702396,2046.299753,2057.797862,2135.322509,2192.493070,2180.195272
98103,1770.165815,1792.349106,1820.734195,1789.206306,1793.185150,1825.717956,1864.735357,1857.160138,1887.419868,1888.426540,1885.380880,1806.813093,1762.255015,1851.725959,1944.203126,1953.612783,1990.817499,2065.320524,2121.080646,2073.446859
98133,1429.606404,1444.029558,1476.337927,1457.967321,1457.826854,1498.782832,1509.931683,1524.821405,1537.460382,1557.503190,1557.577956,1541.975615,1520.663868,1527.685692,1637.589978,1649.693326,1686.310343,1748.956445,1824.585411,1796.472873
98118,1398.541862,1421.715935,1432.669058,1433.458839,1428.795034,1488.327257,1508.140684,1504.201098,1506.445181,1538.633553,1541.912816,1435.536701,1420.589363,1489.031878,1609.185333,1633.498159,1638.501074,1701.164662,1726.100438,1742.698200
98125,1535.466952,1560.352438,1588.919165,1558.985749,1570.263987,1580.204676,1619.149553,1605.317286,1617.899681,1652.799382,1655.093674,1609.796829,1569.927009,1607.213137,1734.485010,1767.695362,1797.215062,1907.705408,1927.827563,1897.663381
98122,1786.840390,1831.637018,1854.180349,1810.498746,1840.079384,1859.305049,1909.594382,1898.938525,1916.011883,1919.330131,1870.358964,1690.068264,1628.107029,1750.532750,1941.096321,1958.901355,1965.208220,2028.024089,2090.526076,2019.541023
98117,1686.757251,1735.568552,1743.225789,1724.823392,1711.148542,1769.306009,1793.860773,1779.729888,1816.595445,1808.747832,1840.144983,1785.753120,1774.969235,1821.052481,1917.852293,1954.217882,2014.398975,2076.303212,2116.137213,2071.517101
98155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1769.244996,1758.318764,1806.743929,1784.749747,1780.364981,1835.943147,1879.780289,1928.415517,1991.703371,2058.669709,2104.471184,2074.759832
98198,NaN,NaN,NaN,NaN,1542.045254,1507.564236,1528.985630,1516.633914,1531.731876,1581.273201,1619.192828,1580.339067,1631.327988,1641.838175,1699.355932,1729.604522,1794.421968,1875.197247,1920.221110,1933.569799
98168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1638.953226,1693.970375,1706.365179,1785.852455,1842.273958,1853.030550
98109,2042.698900,2093.932790,2117.196809,2078.862924,2089.258541,2160.051235,2217.048413,2201.017013,2238.295768,2222.382753,2136.180140,1945.958700,1868.516794,2058.465839,2294.221657,2272.201502,2256.584994,2317.411281,2418.820878,2333.422192
98146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1650.770633,1858.868795,1794.498893
98144,1617.859179,1672.716154,1680.515854,1682.171778,1693.506721,1712.082635,1732.728920,1744.902029,1789.802196,1820.305472,1825.766513,1738.572656,1667.228792,1771.970118,1887.344344,1917.132300,1951.589741,2003.505937,2047.057355,2007.040665
98188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500.781855,1549.988949,1687.474170,1728.563791,1763.324301,1808.426141,1817.615173,1795.277861
98107,1833.633392,1869.151832,1892.939386,1888.203686,1869.125477,1935.573094,1947.887118,1920.388535,1971.975835,2000.365088,1970.468857,1822.506077,1784.850070,1868.716317,2042.880098,2058.575220,2087.592572,2158.300807,2217.521182,2169.667559
98106,1823.402524,1874.821298,1871.935176,1889.634461,1938.509429,1957.395901,1974.488903,1953.261465,2030.680949,2034.621310,1959.439313,1848.503621,1900.583116,2006.933519,2116.091432,2126.846561,2122.340519,2223.707691,2339.656031,2376.864843
98178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1979.269673,2023.094025,2128.823077,2178.726086
98116,1711.752252,1763.469497,1782.219742,1765.481706,1772.090265,1795.091480,1821.552929,1842.368456,1876.102289,1865.542986,1761.860645,1705.974341,1667.222505,1730.497349,1839.065255,1899.631944,1903.058109,1959.992647,2060.253653,2064.426264
98108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2133.184841,2168.207677,2204.326286,2128.235450,2167.300003
98112,NaN,NaN,NaN,NaN,2032.079248,2091.996836,2103.437688,2056.559928,2124.096965,2146.385536,2137.156161,2018.771270,1955.616041,2079.936975,2197.298166,2274.700529,2306.249508,2287.137846,2370.188025,2359.104134
98119,1709.999201,1777.566674,1779.801937,1760.737773,1771.972235,1837.109629,1851.268703,1831.122139,1851.638542,1868.818855,1816.523145,1710.486463,1660.434716,1749.614531,1880.580961,1948.131496,1945.863098,2009.161576,2051.490402,1983.265216
98126,1598.068862,1584.870403,1633.706097,1672.435632,1684.469061,1683.131315,1731.532034,1708.955936,1746.980551,1746.200246,1663.084187,1591.731564,1613.380375,1662.925113,1706.245807,1765.655702,1772.483564,1853.994220,1949.163204,1983.347611
98199,1912.987299,1975.652033,1970.051301,1994.434623,2013.592378,2035.713736,2079.644138,2082.134922,2107.281083,2131.841427,2143.434971,2113.706407,2095.329837,2159.222556,2251.276982,2274.861231,2324.026591,2420.648254,2508.391242,2432.459195
98102,1751.981780,1775.290916,1807.736735,1767.892615,1784.189724,1829.501493,1858.999816,1836.439894,1852.804269,1842.841688,1830.347626,1672.026227,1637.987051,1685.909936,1829.320280,1866.287016,1870.109812,1950.262482,1997.379834,1960.586167
98166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1668.505194,1777.633340,1856.059002,1837.357000
98121,2315.413221,2394.379853,2382.859557,2353.596375,2385.768476,2439.816669,2473.950146,2471.203365,2519.313995,2494.497342,2330.873950,2103.241860,2108.554123,2289.062927,2553.596524,2476.372162,2439.279783,2515.996519,2608.263467,2490.839993
98136,NaN,NaN,NaN,1848.526206,1830.865719,1876.702081,1942.879168,1905.148472,1934.128065,1931.105356,1950.944275,1899.389739,1897.000684,1937.556594,2014.673712,2064.738217,2063.098762,2183.862209,2283.399356,2240.989835
98101,2184.337516,2277.021959,2342.475233,2260.777931,2268.619762,2357.052247,2421.288219,2397.317756,2447.889082,2474.433164,2327.373064,2108.235728,2084.417542,2255.987186,2470.646826,2480.873539,2416.231660,2474.440058,2571.877604,2496.398746
98104,NaN,NaN,NaN,NaN,1830.758456,1858.367503,1920.960843,1921.860520,1930.908740,1909.782215,1801.902519,1626.088578,1546.051376,1701.534310,1885.939105,1898.726416,1876.937973,1910.170725,2007.421192,1941.760776

In [130]:
# Save the data for the rental_price_by_zipcode of homes in seattle zipcodes by quarter
rentals_by_quarters.to_csv("../data_frames/rentals_by_quarters.csv", index=True)

# Section Census Beginning

In [40]:
# filepath_census2022 = "../greg/acsdp1y_5y_2010_2022/ACSDP1Y2010.DP03-Column-Metadata.csv"
census2022 = pd.read_csv("../greg/acsdp1y_5y_2010_2022/ACSDP1Y2010.DP03-Column-Metadata.csv")
census2022

     Column Name                                              Label
0         GEO_ID                                          Geography
1           NAME                               Geographic Area Name
2     DP03_0001E  Estimate!!EMPLOYMENT STATUS!!Population 16 yea...
3     DP03_0001M  Estimate Margin of Error!!EMPLOYMENT STATUS!!P...
4    DP03_0001PE  Percent!!EMPLOYMENT STATUS!!Population 16 year...
..           ...                                                ...
545  DP03_0136PM  Percent Margin of Error!!PERCENTAGE OF FAMILIE...
546   DP03_0137E  Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...
547   DP03_0137M  Estimate Margin of Error!!PERCENTAGE OF FAMILI...
548  DP03_0137PE  Percent!!PERCENTAGE OF FAMILIES AND PEOPLE WHO...
549  DP03_0137PM  Percent Margin of Error!!PERCENTAGE OF FAMILIE...

[550 rows x 2 columns]

In [41]:
columns_in_census = list(census2022['Column Name'])

In [42]:
columns_in_census

['GEO_ID',
 'NAME',
 'DP03_0001E',
 'DP03_0001M',
 'DP03_0001PE',
 'DP03_0001PM',
 'DP03_0002E',
 'DP03_0002M',
 'DP03_0002PE',
 'DP03_0002PM',
 'DP03_0003E',
 'DP03_0003M',
 'DP03_0003PE',
 'DP03_0003PM',
 'DP03_0004E',
 'DP03_0004M',
 'DP03_0004PE',
 'DP03_0004PM',
 'DP03_0005E',
 'DP03_0005M',
 'DP03_0005PE',
 'DP03_0005PM',
 'DP03_0006E',
 'DP03_0006M',
 'DP03_0006PE',
 'DP03_0006PM',
 'DP03_0007E',
 'DP03_0007M',
 'DP03_0007PE',
 'DP03_0007PM',
 'DP03_0008E',
 'DP03_0008M',
 'DP03_0008PE',
 'DP03_0008PM',
 'DP03_0009E',
 'DP03_0009M',
 'DP03_0009PE',
 'DP03_0009PM',
 'DP03_0010E',
 'DP03_0010M',
 'DP03_0010PE',
 'DP03_0010PM',
 'DP03_0011E',
 'DP03_0011M',
 'DP03_0011PE',
 'DP03_0011PM',
 'DP03_0012E',
 'DP03_0012M',
 'DP03_0012PE',
 'DP03_0012PM',
 'DP03_0013E',
 'DP03_0013M',
 'DP03_0013PE',
 'DP03_0013PM',
 'DP03_0014E',
 'DP03_0014M',
 'DP03_0014PE',
 'DP03_0014PM',
 'DP03_0015E',
 'DP03_0015M',
 'DP03_0015PE',
 'DP03_0015PM',
 'DP03_0016E',
 'DP03_0016M',
 'DP03_0016PE',
 'DP03_0016PM',
 'DP03_0017E',
 'DP03_0017M',
 'DP03_0017PE',
 'DP03_0017PM',
 'DP03_0018E',
 'DP03_0018M',
 'DP03_0018PE',
 'DP03_0018PM',
 'DP03_0019E',
 'DP03_0019M',
 'DP03_0019PE',
 'DP03_0019PM',
 'DP03_0020E',
 'DP03_0020M',
 'DP03_0020PE',
 'DP03_0020PM',
 'DP03_0021E',
 'DP03_0021M',
 'DP03_0021PE',
 'DP03_0021PM',
 'DP03_0022E',
 'DP03_0022M',
 'DP03_0022PE',
 'DP03_0022PM',
 'DP03_0023E',
 'DP03_0023M',
 'DP03_0023PE',
 'DP03_0023PM',
 'DP03_0024E',
 'DP03_0024M',
 'DP03_0024PE',
 'DP03_0024PM',
 'DP03_0025E',
 'DP03_0025M',
 'DP03_0025PE',
 'DP03_0025PM',
 'DP03_0026E',
 'DP03_0026M',
 'DP03_0026PE',
 'DP03_0026PM',
 'DP03_0027E',
 'DP03_0027M',
 'DP03_0027PE',
 'DP03_0027PM',
 'DP03_0028E',
 'DP03_0028M',
 'DP03_0028PE',
 'DP03_0028PM',
 'DP03_0029E',
 'DP03_0029M',
 'DP03_0029PE',
 'DP03_0029PM',
 'DP03_0030E',
 'DP03_0030M',
 'DP03_0030PE',
 'DP03_0030PM',
 'DP03_0031E',
 'DP03_0031M',
 'DP03_0031PE',
 'DP03_0031PM',
 'DP03_0032E',
 'DP03_0032M',
 'DP03_0032PE',
 'DP03_0032PM',
 'DP03_0033E',
 'DP03_0033M',
 'DP03_0033PE',
 'DP03_0033PM',
 'DP03_0034E',
 'DP03_0034M',
 'DP03_0034PE',
 'DP03_0034PM',
 'DP03_0035E',
 'DP03_0035M',
 'DP03_0035PE',
 'DP03_0035PM',
 'DP03_0036E',
 'DP03_0036M',
 'DP03_0036PE',
 'DP03_0036PM',
 'DP03_0037E',
 'DP03_0037M',
 'DP03_0037PE',
 'DP03_0037PM',
 'DP03_0038E',
 'DP03_0038M',
 'DP03_0038PE',
 'DP03_0038PM',
 'DP03_0039E',
 'DP03_0039M',
 'DP03_0039PE',
 'DP03_0039PM',
 'DP03_0040E',
 'DP03_0040M',
 'DP03_0040PE',
 'DP03_0040PM',
 'DP03_0041E',
 'DP03_0041M',
 'DP03_0041PE',
 'DP03_0041PM',
 'DP03_0042E',
 'DP03_0042M',
 'DP03_0042PE',
 'DP03_0042PM',
 'DP03_0043E',
 'DP03_0043M',
 'DP03_0043PE',
 'DP03_0043PM',
 'DP03_0044E',
 'DP03_0044M',
 'DP03_0044PE',
 'DP03_0044PM',
 'DP03_0045E',
 'DP03_0045M',
 'DP03_0045PE',
 'DP03_0045PM',
 'DP03_0046E',
 'DP03_0046M',
 'DP03_0046PE',
 'DP03_0046PM',
 'DP03_0047E',
 'DP03_0047M',
 'DP03_0047PE',
 'DP03_0047PM',
 'DP03_0048E',
 'DP03_0048M',
 'DP03_0048PE',
 'DP03_0048PM',
 'DP03_0049E',
 'DP03_0049M',
 'DP03_0049PE',
 'DP03_0049PM',
 'DP03_0050E',
 'DP03_0050M',
 'DP03_0050PE',
 'DP03_0050PM',
 'DP03_0051E',
 'DP03_0051M',
 'DP03_0051PE',
 'DP03_0051PM',
 'DP03_0052E',
 'DP03_0052M',
 'DP03_0052PE',
 'DP03_0052PM',
 'DP03_0053E',
 'DP03_0053M',
 'DP03_0053PE',
 'DP03_0053PM',
 'DP03_0054E',
 'DP03_0054M',
 'DP03_0054PE',
 'DP03_0054PM',
 'DP03_0055E',
 'DP03_0055M',
 'DP03_0055PE',
 'DP03_0055PM',
 'DP03_0056E',
 'DP03_0056M',
 'DP03_0056PE',
 'DP03_0056PM',
 'DP03_0057E',
 'DP03_0057M',
 'DP03_0057PE',
 'DP03_0057PM',
 'DP03_0058E',
 'DP03_0058M',
 'DP03_0058PE',
 'DP03_0058PM',
 'DP03_0059E',
 'DP03_0059M',
 'DP03_0059PE',
 'DP03_0059PM',
 'DP03_0060E',
 'DP03_0060M',
 'DP03_0060PE',
 'DP03_0060PM',
 'DP03_0061E',
 'DP03_0061M',
 'DP03_0061PE',
 'DP03_0061PM',
 'DP03_0062E',
 'DP03_0062M',
 'DP03_0062PE',
 'DP03_0062PM',
 'DP03_0063E',
 'DP03_0063M',
 'DP03_0063PE',
 'DP03_0063PM',
 'DP03_0064E',
 'DP03_0064M',
 'DP03_0064PE',
 'DP03_0064PM',
 'DP03_0065E',
 'DP03_0065M',
 'DP03_0065PE',
 'DP03_0065PM',
 'DP03_0066E',
 'DP03_0066M',
 'DP03_0066PE',
 'DP03_0066PM',
 'DP03_0067E',
 'DP03_0067M',
 'DP03_0067PE',
 'DP03_0067PM',
 'DP03_0068E',
 'DP03_0068M',
 'DP03_0068PE',
 'DP03_0068PM',
 'DP03_0069E',
 'DP03_0069M',
 'DP03_0069PE',
 'DP03_0069PM',
 'DP03_0070E',
 'DP03_0070M',
 'DP03_0070PM',
 'DP03_0070PE',
 'DP03_0071E',
 'DP03_0071M',
 'DP03_0071PE',
 'DP03_0071PM',
 'DP03_0072E',
 'DP03_0072M',
 'DP03_0072PM',
 'DP03_0072PE',
 'DP03_0073E',
 'DP03_0073M',
 'DP03_0073PE',
 'DP03_0073PM',
 'DP03_0074E',
 'DP03_0074M',
 'DP03_0074PM',
 'DP03_0074PE',
 'DP03_0075E',
 'DP03_0075M',
 'DP03_0075PE',
 'DP03_0075PM',
 'DP03_0076E',
 'DP03_0076M',
 'DP03_0076PM',
 'DP03_0076PE',
 'DP03_0077E',
 'DP03_0077M',
 'DP03_0077PE',
 'DP03_0077PM',
 'DP03_0078E',
 'DP03_0078M',
 'DP03_0078PM',
 'DP03_0078PE',
 'DP03_0079E',
 'DP03_0079M',
 'DP03_0079PE',
 'DP03_0079PM',
 'DP03_0080E',
 'DP03_0080M',
 'DP03_0080PM',
 'DP03_0080PE',
 'DP03_0081E',
 'DP03_0081M',
 'DP03_0081PE',
 'DP03_0081PM',
 'DP03_0082E',
 'DP03_0082M',
 'DP03_0082PM',
 'DP03_0082PE',
 'DP03_0083E',
 'DP03_0083M',
 'DP03_0083PE',
 'DP03_0083PM',
 'DP03_0084E',
 'DP03_0084M',
 'DP03_0084PE',
 'DP03_0084PM',
 'DP03_0085PE',
 'DP03_0085PM',
 'DP03_0085M',
 'DP03_0085E',
 'DP03_0086PE',
 'DP03_0086PM',
 'DP03_0086M',
 'DP03_0086E',
 'DP03_0087E',
 'DP03_0087M',
 'DP03_0087PE',
 'DP03_0087PM',
 'DP03_0088E',
 'DP03_0088M',
 'DP03_0088PE',
 'DP03_0088PM',
 'DP03_0089E',
 'DP03_0089M',
 'DP03_0089PM',
 'DP03_0089PE',
 'DP03_0090PE',
 'DP03_0090PM',
 'DP03_0090M',
 'DP03_0090E',
 'DP03_0091PE',
 'DP03_0091PM',
 'DP03_0091M',
 'DP03_0091E',
 'DP03_0092E',
 'DP03_0092M',
 'DP03_0092PE',
 'DP03_0092PM',
 'DP03_0093E',
 'DP03_0093M',
 'DP03_0093PE',
 'DP03_0093PM',
 'DP03_0094E',
 'DP03_0094M',
 'DP03_0094PE',
 'DP03_0094PM',
 'DP03_0095E',
 'DP03_0095M',
 'DP03_0095PE',
 'DP03_0095PM',
 'DP03_0096E',
 'DP03_0096M',
 'DP03_0096PE',
 'DP03_0096PM',
 'DP03_0097E',
 'DP03_0097M',
 'DP03_0097PE',
 'DP03_0097PM',
 'DP03_0098E',
 'DP03_0098M',
 'DP03_0098PE',
 'DP03_0098PM',
 'DP03_0099E',
 'DP03_0099M',
 'DP03_0099PE',
 'DP03_0099PM',
 'DP03_0100E',
 'DP03_0100M',
 'DP03_0100PE',
 'DP03_0100PM',
 'DP03_0101E',
 'DP03_0101M',
 'DP03_0101PE',
 'DP03_0101PM',
 'DP03_0102E',
 'DP03_0102M',
 'DP03_0102PE',
 'DP03_0102PM',
 'DP03_0103E',
 'DP03_0103M',
 'DP03_0103PE',
 'DP03_0103PM',
 'DP03_0104E',
 'DP03_0104M',
 'DP03_0104PE',
 'DP03_0104PM',
 'DP03_0105E',
 'DP03_0105M',
 'DP03_0105PE',
 'DP03_0105PM',
 'DP03_0106E',
 'DP03_0106M',
 'DP03_0106PE',
 'DP03_0106PM',
 'DP03_0107E',
 'DP03_0107M',
 'DP03_0107PE',
 'DP03_0107PM',
 'DP03_0108E',
 'DP03_0108M',
 'DP03_0108PE',
 'DP03_0108PM',
 'DP03_0109PM',
 'DP03_0109E',
 'DP03_0109M',
 'DP03_0109PE',
 'DP03_0110E',
 'DP03_0110M',
 'DP03_0110PE',
 'DP03_0110PM',
 'DP03_0111E',
 'DP03_0111M',
 'DP03_0111PE',
 'DP03_0111PM',
 'DP03_0112E',
 'DP03_0112M',
 'DP03_0112PE',
 'DP03_0112PM',
 'DP03_0113E',
 'DP03_0113M',
 'DP03_0113PE',
 'DP03_0113PM',
 'DP03_0114E',
 'DP03_0114M',
 'DP03_0114PE',
 'DP03_0114PM',
 'DP03_0115E',
 'DP03_0115M',
 'DP03_0115PE',
 'DP03_0115PM',
 'DP03_0116E',
 'DP03_0116M',
 'DP03_0116PE',
 'DP03_0116PM',
 'DP03_0117E',
 'DP03_0117M',
 'DP03_0117PE',
 'DP03_0117PM',
 'DP03_0118E',
 'DP03_0118M',
 'DP03_0118PE',
 'DP03_0118PM',
 'DP03_0119E',
 'DP03_0119M',
 'DP03_0119PE',
 'DP03_0119PM',
 'DP03_0120E',
 'DP03_0120M',
 'DP03_0120PE',
 'DP03_0120PM',
 'DP03_0121E',
 'DP03_0121M',
 'DP03_0121PE',
 'DP03_0121PM',
 'DP03_0122E',
 'DP03_0122M',
 'DP03_0122PE',
 'DP03_0122PM',
 'DP03_0123E',
 'DP03_0123M',
 'DP03_0123PE',
 'DP03_0123PM',
 'DP03_0124E',
 'DP03_0124M',
 'DP03_0124PE',
 'DP03_0124PM',
 'DP03_0125PE',
 'DP03_0125PM',
 'DP03_0125E',
 'DP03_0125M',
 'DP03_0126E',
 'DP03_0126M',
 'DP03_0126PE',
 'DP03_0126PM',
 'DP03_0127E',
 'DP03_0127M',
 'DP03_0127PE',
 'DP03_0127PM',
 'DP03_0128E',
 'DP03_0128M',
 'DP03_0128PE',
 'DP03_0128PM',
 'DP03_0129E',
 'DP03_0129M',
 'DP03_0129PE',
 'DP03_0129PM',
 'DP03_0130E',
 'DP03_0130M',
 'DP03_0130PE',
 'DP03_0130PM',
 'DP03_0131E',
 'DP03_0131M',
 'DP03_0131PE',
 'DP03_0131PM',
 'DP03_0132E',
 'DP03_0132M',
 'DP03_0132PE',
 'DP03_0132PM',
 'DP03_0133E',
 'DP03_0133M',
 'DP03_0133PE',
 'DP03_0133PM',
 'DP03_0134E',
 'DP03_0134M',
 'DP03_0134PE',
 'DP03_0134PM',
 'DP03_0135E',
 'DP03_0135M',
 'DP03_0135PE',
 'DP03_0135PM',
 'DP03_0136E',
 'DP03_0136M',
 'DP03_0136PE',
 'DP03_0136PM',
 'DP03_0137E',
 'DP03_0137M',
 'DP03_0137PE',
 'DP03_0137PM']

In [43]:
descriptionsdf = census2022.copy()

In [44]:
descriptionsdf

     Column Name                                              Label
0         GEO_ID                                          Geography
1           NAME                               Geographic Area Name
2     DP03_0001E  Estimate!!EMPLOYMENT STATUS!!Population 16 yea...
3     DP03_0001M  Estimate Margin of Error!!EMPLOYMENT STATUS!!P...
4    DP03_0001PE  Percent!!EMPLOYMENT STATUS!!Population 16 year...
..           ...                                                ...
545  DP03_0136PM  Percent Margin of Error!!PERCENTAGE OF FAMILIE...
546   DP03_0137E  Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...
547   DP03_0137M  Estimate Margin of Error!!PERCENTAGE OF FAMILI...
548  DP03_0137PE  Percent!!PERCENTAGE OF FAMILIES AND PEOPLE WHO...
549  DP03_0137PM  Percent Margin of Error!!PERCENTAGE OF FAMILIE...

[550 rows x 2 columns]

In [49]:
descriptionsdf = descriptionsdf.T

In [50]:
descriptionsdf

     Column Name                                              Label
0         GEO_ID                                          Geography
1           NAME                               Geographic Area Name
2     DP03_0001E  Estimate!!EMPLOYMENT STATUS!!Population 16 yea...
3     DP03_0001M  Estimate Margin of Error!!EMPLOYMENT STATUS!!P...
4    DP03_0001PE  Percent!!EMPLOYMENT STATUS!!Population 16 year...
..           ...                                                ...
545  DP03_0136PM  Percent Margin of Error!!PERCENTAGE OF FAMILIE...
546   DP03_0137E  Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...
547   DP03_0137M  Estimate Margin of Error!!PERCENTAGE OF FAMILI...
548  DP03_0137PE  Percent!!PERCENTAGE OF FAMILIES AND PEOPLE WHO...
549  DP03_0137PM  Percent Margin of Error!!PERCENTAGE OF FAMILIE...

[550 rows x 2 columns]

In [48]:
for column in descriptionsdf.columns:
    if "Percent" in column:
        descriptionsdf = descriptionsdf.drop(columns = column)

TypeError: argument of type 'int' is not iterable

In [53]:
descriptionsdf = descriptionsdf[~descriptionsdf['Label'].str.contains('Percent')]

In [57]:
descriptionsdf

    Column Name                                              Label
0        GEO_ID                                          Geography
1          NAME                               Geographic Area Name
2    DP03_0001E  Estimate!!EMPLOYMENT STATUS!!Population 16 yea...
3    DP03_0001M  Estimate Margin of Error!!EMPLOYMENT STATUS!!P...
6    DP03_0002E        Estimate!!EMPLOYMENT STATUS!!In labor force
..          ...                                                ...
539  DP03_0135M  Estimate Margin of Error!!PERCENTAGE OF FAMILI...
542  DP03_0136E  Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...
543  DP03_0136M  Estimate Margin of Error!!PERCENTAGE OF FAMILI...
546  DP03_0137E  Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...
547  DP03_0137M  Estimate Margin of Error!!PERCENTAGE OF FAMILI...

[274 rows x 2 columns]

In [70]:
descriptionsdf = descriptionsdf[~descriptionsdf['Label'].str.contains('COMMUTING')]

In [68]:
descriptions_in_census = list(descriptionsdf['Label'])

In [71]:
descriptions_in_census

['Geography',
 'Geographic Area Name',
 'Estimate!!EMPLOYMENT STATUS!!Population 16 years and over',
 'Estimate!!EMPLOYMENT STATUS!!In labor force',
 'Estimate!!EMPLOYMENT STATUS!!In labor force!!Civilian labor force',
 'Estimate!!EMPLOYMENT STATUS!!In labor force!!Civilian labor force!!Employed',
 'Estimate!!EMPLOYMENT STATUS!!In labor force!!Civilian labor force!!Unemployed',
 'Estimate!!EMPLOYMENT STATUS!!In labor force!!Armed Forces',
 'Estimate!!EMPLOYMENT STATUS!!Not in labor force',
 'Estimate!!EMPLOYMENT STATUS!!Civilian labor force',
 'Estimate!!EMPLOYMENT STATUS!!Females 16 years and over',
 'Estimate!!EMPLOYMENT STATUS!!In labor force',
 'Estimate!!EMPLOYMENT STATUS!!In labor force!!Civilian labor force',
 'Estimate!!EMPLOYMENT STATUS!!In labor force!!Civilian labor force!!Employed',
 'Estimate!!EMPLOYMENT STATUS!!Own children under 6 years',
 'Estimate!!EMPLOYMENT STATUS!!All parents in family in labor force',
 'Estimate!!EMPLOYMENT STATUS!!Own children 6 to 17 years',
 'Estimate!!EMPLOYMENT STATUS!!All parents in family in labor force',
 'Estimate!!COMMUTING TO WORK!!Workers 16 years and over',
 'Estimate!!COMMUTING TO WORK!!Car, truck, or van -- drove alone',
 'Estimate!!COMMUTING TO WORK!!Car, truck, or van -- carpooled',
 'Estimate!!COMMUTING TO WORK!!Public transportation (excluding taxicab)',
 'Estimate!!COMMUTING TO WORK!!Walked',
 'Estimate!!COMMUTING TO WORK!!Other means',
 'Estimate!!COMMUTING TO WORK!!Worked at home',
 'Estimate!!COMMUTING TO WORK!!Mean travel time to work (minutes)',
 'Estimate!!OCCUPATION!!Civilian employed population 16 years and over',
 'Estimate!!OCCUPATION!!Management, business, science, and arts occupations',
 'Estimate!!OCCUPATION!!Service occupations',
 'Estimate!!OCCUPATION!!Sales and office occupations',
 'Estimate!!OCCUPATION!!Natural resources, construction, and maintenance occupations',
 'Estimate!!OCCUPATION!!Production, transportation, and material moving occupations',
 'Estimate!!INDUSTRY!!Civilian employed population 16 years and over',
 'Estimate!!INDUSTRY!!Agriculture, forestry, fishing and hunting, and mining',
 'Estimate!!INDUSTRY!!Construction',
 'Estimate!!INDUSTRY!!Manufacturing',
 'Estimate!!INDUSTRY!!Wholesale trade',
 'Estimate!!INDUSTRY!!Retail trade',
 'Estimate!!INDUSTRY!!Transportation and warehousing, and utilities',
 'Estimate!!INDUSTRY!!Information',
 'Estimate!!INDUSTRY!!Finance and insurance, and real estate and rental and leasing',
 'Estimate!!INDUSTRY!!Professional, scientific, and management, and administrative and waste management services',
 'Estimate!!INDUSTRY!!Educational services, and health care and social assistance',
 'Estimate!!INDUSTRY!!Arts, entertainment, and recreation, and accommodation and food services',
 'Estimate!!INDUSTRY!!Other services, except public administration',
 'Estimate!!INDUSTRY!!Public administration',
 'Estimate!!CLASS OF WORKER!!Civilian employed population 16 years and over',
 'Estimate!!CLASS OF WORKER!!Private wage and salary workers',
 'Estimate!!CLASS OF WORKER!!Government workers',
 'Estimate!!CLASS OF WORKER!!Self-employed in own not incorporated business workers',
 'Estimate!!CLASS OF WORKER!!Unpaid family workers',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Total households',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Less than $10,000',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$10,000 to $14,999',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$15,000 to $24,999',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$25,000 to $34,999',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$35,000 to $49,999',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$50,000 to $74,999',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$75,000 to $99,999',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$100,000 to $149,999',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$150,000 to $199,999',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$200,000 or more',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Mean household income (dollars)',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!With earnings',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!With earnings!!Mean earnings (dollars)',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!With retirement income',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!With retirement income!!Mean retirement income (dollars)',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!With cash public assistance income',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!With cash public assistance income!!Mean cash public assistance income (dollars)',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Families',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Less than $10,000',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$10,000 to $14,999',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$15,000 to $24,999',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$25,000 to $34,999',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$35,000 to $49,999',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$50,000 to $74,999',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$75,000 to $99,999',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$100,000 to $149,999',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$150,000 to $199,999',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!$200,000 or more',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Median family income (dollars)',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Mean family income (dollars)',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Per capita income (dollars)',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Nonfamily households',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Median nonfamily income (dollars)',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Mean nonfamily income (dollars)',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Median earnings for workers (dollars)',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Median earnings for male full-time, year-round workers (dollars)',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Median earnings for female full-time, year-round workers (dollars)',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All families',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All families!!With related children under 18 years',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All families!!With related children under 18 years!!With related children under 5 years only',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!Married couple families',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!Married couple families!!With related children under 18 years',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!Married couple families!!With related children under 18 years!!With related children under 5 years only',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!Families with female householder, no husband present',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!Families with female householder, no husband present!!With related children under 18 years',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!Families with female householder, no husband present!!With related children under 18 years!!With related children under 5 years only',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All people',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!Under 18 years',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!Under 18 years!!Related children under 18 years',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!Under 18 years!!Related children under 18 years!!Related children under 5 years',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!Under 18 years!!Related children under 18 years!!Related children 5 to 17 years',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!18 years and over',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!18 years and over!!18 to 64 years',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!18 years and over!!65 years and over',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!People in families',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!Unrelated individuals 15 years and over']

In [75]:
descriptionsdf.T

,0,1,2,6,10,14,18,22,26,30,...,510,514,518,522,526,530,534,538,542,546
Column Name,GEO_ID,NAME,DP03_0001E,DP03_0002E,DP03_0003E,DP03_0004E,DP03_0005E,DP03_0006E,DP03_0007E,DP03_0008E,...,DP03_0128E,DP03_0129E,DP03_0130E,DP03_0131E,DP03_0132E,DP03_0133E,DP03_0134E,DP03_0135E,DP03_0136E,DP03_0137E
Label,Geography,Geographic Area Name,Estimate!!EMPLOYMENT STATUS!!Population 16 yea...,Estimate!!EMPLOYMENT STATUS!!In labor force,Estimate!!EMPLOYMENT STATUS!!In labor force!!C...,Estimate!!EMPLOYMENT STATUS!!In labor force!!C...,Estimate!!EMPLOYMENT STATUS!!In labor force!!C...,Estimate!!EMPLOYMENT STATUS!!In labor force!!A...,Estimate!!EMPLOYMENT STATUS!!Not in labor force,Estimate!!EMPLOYMENT STATUS!!Civilian labor force,...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...,Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...

In [76]:
descriptionsdf

    Column Name                                              Label
0        GEO_ID                                          Geography
1          NAME                               Geographic Area Name
2    DP03_0001E  Estimate!!EMPLOYMENT STATUS!!Population 16 yea...
6    DP03_0002E        Estimate!!EMPLOYMENT STATUS!!In labor force
10   DP03_0003E  Estimate!!EMPLOYMENT STATUS!!In labor force!!C...
..          ...                                                ...
530  DP03_0133E  Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...
534  DP03_0134E  Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...
538  DP03_0135E  Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...
542  DP03_0136E  Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...
546  DP03_0137E  Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...

[101 rows x 2 columns]

In [77]:
# List of descriptions to filter
desired_labels = [
    'Geography',
    'Geographic Area Name',
    'Estimate!!EMPLOYMENT STATUS!!Population 16 years and over',
    'Estimate!!EMPLOYMENT STATUS!!In labor force',
    'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Total households',
    'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)',
    'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Mean household income (dollars)',
    'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Families', 
    'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Median family income (dollars)',
    'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Mean family income (dollars)',
    'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Per capita income (dollars)',
    'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Median earnings for workers (dollars)',
    'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All families'
]

# Filter the DataFrame based on desired_labels
filtered_df = descriptionsdf[descriptionsdf['Label'].isin(desired_labels)]

# Print the filtered DataFrame
print(filtered_df)

    Column Name                                              Label
0        GEO_ID                                          Geography
1          NAME                               Geographic Area Name
2    DP03_0001E  Estimate!!EMPLOYMENT STATUS!!Population 16 yea...
6    DP03_0002E        Estimate!!EMPLOYMENT STATUS!!In labor force
42   DP03_0011E        Estimate!!EMPLOYMENT STATUS!!In labor force
202  DP03_0051E  Estimate!!INCOME AND BENEFITS (IN 2010 INFLATI...
246  DP03_0062E  Estimate!!INCOME AND BENEFITS (IN 2010 INFLATI...
250  DP03_0063E  Estimate!!INCOME AND BENEFITS (IN 2010 INFLATI...
298  DP03_0075E  Estimate!!INCOME AND BENEFITS (IN 2010 INFLATI...
345  DP03_0086E  Estimate!!INCOME AND BENEFITS (IN 2010 INFLATI...
346  DP03_0087E  Estimate!!INCOME AND BENEFITS (IN 2010 INFLATI...
350  DP03_0088E  Estimate!!INCOME AND BENEFITS (IN 2010 INFLATI...
366  DP03_0092E  Estimate!!INCOME AND BENEFITS (IN 2010 INFLATI...
474  DP03_0119E  Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WH...

In [78]:
small_label_list = list(filtered_df["Label"])
small_label_list

['Geography',
 'Geographic Area Name',
 'Estimate!!EMPLOYMENT STATUS!!Population 16 years and over',
 'Estimate!!EMPLOYMENT STATUS!!In labor force',
 'Estimate!!EMPLOYMENT STATUS!!In labor force',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Total households',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Median household income (dollars)',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Mean household income (dollars)',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Families',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Median family income (dollars)',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Mean family income (dollars)',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Per capita income (dollars)',
 'Estimate!!INCOME AND BENEFITS (IN 2010 INFLATION-ADJUSTED DOLLARS)!!Median earnings for workers (dollars)',
 'Estimate!!PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!All families']